<button
  type="button"
  class="btn btn-default"
  title="Add/Edit an Artifact"
  name="AddArtifact"
  ng-click="controller.updateArtifactDefinitions()"
  ng-if="mode == 'artifact_definitions'"
  >
  <i class="fa fa-pencil"></i>
</button>

<button
  type="button"
  class="btn btn-default"
  title="Update server monitoring table"
  ng-click="controller.updateServerMonitoringTable()"
  ng-if="mode == 'server_artifacts'"
  >
  <i class="fa fa-edit"></i>
</button>

<button
  type="button"
  class="btn btn-default"
  title="Update client monitoring table"
  ng-click="controller.updateClientMonitoringTable()"
  ng-if="mode == 'client_monitoring_view'"
  >
  <i class="fa fa-edit"></i>
</button>
