<div>

  <div class="navbar navbar-default toolbar">

    <div class="navbar-inner">
      <div class="navbar-form pull-left">

        <div class="btn-group" role="group">
          <button id="refresh-dir" class="btn btn-default"
                  title="Refresh this directory (sync its listing with the client)"
                  ng-disabled="controller.lastRefreshOperationId"
                  ng-click="controller.startVfsRefreshOperation()">
            <img src="/static/images/stock_refresh.png" class="toolbar_icon" />
          </button>

          <grr-recursive-list-button client-id="controller.fileContext.clientId"
                                     file-path="controller.fileContext.selectedDirPath"
                                     class="space-right">
          </grr-recursive-list-button>
        </div>

        <grr-vfs-files-archive-button client-id="controller.fileContext.clientId"
                                      file-path="controller.fileContext.selectedDirPath"
                                      class="space-right">
        </grr-vfs-files-archive-button>

        <div class="input-group large">
          <input type="text" class="form-control file-search" placeholder="Filter Items"
                 ng-model="controller.filterEditedValue" grr-bind-key="controller.updateFilter()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="controller.updateFilter()">
              <i class="fa fa-filter"></i>
            </button>
          </span>
        </div>

      </div>

      <div class="navbar-form pull-right">

        <grr-r-we-owned-button class="space-right"></grr-r-we-owned-button>

      </div>

    </div>

  </div>

  <div class="fill-parent-with-toolbar">
    <grr-breadcrumbs path="controller.fileContext.selectedDirPath"></grr-breadcrumbs>

    <div grr-force-refresh refresh-trigger="controller.fileListUrl"
         ng-if="viewMode == 'list'">

      <div ng-if="controller.fileContext.selectedDirPathData">
        <grr-vql value="controller.fileContext.selectedDirPathData"
                 selected-row="controller.fileContext.selectedRow"/>
      </div>

      <div ng-if="!controller.fileContext.selectedDirPathData" class="no-content">
        No data available for directory.
        You can try to refresh this directory using the toolbar above.
      </div>

    </div>

    <grr-file-timeline ng-if="viewMode == 'timeline'"
                         filter-value="controller.filterValue">
    </grr-file-timeline>

  </div>
</div>
