<div grr-force-refresh refresh-trigger="controller.fileContext.selectedRow">
  <div ng-if="controller.fileContext.selectedRow.Download.vfs_path !== undefined">
    <h4>Last Collected</h4>
    <span>
      <grr-timestamp value="controller.fileContext.selectedRow.Download.mtime" />
    </span>

    <h4>Download</h4>
    <p>
      <button class="btn btn-default"
              ng-click="controller.downloadFile()">
        Download ({$ controller.fileContext.selectedRow.Download.size $} bytes)
      </button>
    </p>
  </div>
  <button class="btn btn-default"
          ng-click="controller.updateFile()"
          ng-disabled="controller.updateInProgress">
    <i class="fa fa-refresh"
       ng-class="{'fa-spin': controller.updateInProgress}"></i>
    {{ controller.fileContext.selectedRow.Dowload ? 'Re-Collect' : 'Collect' }} from the client
  </button>
</div>
