grr-file-details  ul.breadcrumb {
    margin: 0;
    padding: 0;
    background: var(--color-default-background);
}

grr-file-details  h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

grr-file-details  grr-version-dropdown {
    float: right;
    margin-top: 5px;
}

grr-file-details grr-version-dropdown    select.form-control {
      margin-left: 10px;
      display: inline-block;
      width: auto;
}
