
grr-file-text-view  grr-encodings-dropdown {
    margin: 5px 0;
    float: right;
}

grr-file-text-view  .uib-pagination {
    margin: 5px 0;
}

grr-file-text-view  .no-content {
    text-align: center;
    margin-top: 50px;
    font-size: 2.0em;
    color: var(--color-no-content-color);
}
