<div class="navbar navbar-default toolbar"  >
  <div class="navbar-inner">
    <div class="navbar-form pull-left">
      <div class="btn-group" role="group">
        <button id="refresh-dir"
             type="button"
             ng-if="controller.mode == 'vfs_files'"
             class="btn btn-default btn-rounded"
             title="Refresh this directory (sync its listing with the client)"
             ng-class="{'disabled': controller.lastRefreshOperationId }"
                ng-click="controller.startVfsRefreshOperation()">
          <i class="fa fa-folder-open"></i>
        </button>
        <grr-recursive-list-button
          client-id="controller.fileContext.clientId"
          ng-if="controller.mode == 'vfs_files'"
          ng-class="{'disabled': !controller.fileContext.clientId }"
          file-path="controller.fileContext.selectedDirPath"
          class="toolbar_icon">
        </grr-recursive-list-button>

        <grr-add-item-button
          client-id="controller.fileContext.clientId"
          file-path="controller.fileContext.selectedFilePath"
          dir-path="controller.fileContext.selectedDirPath"
          mode="controller.mode"
          >
        </grr-add-item-button>
      </div>
      <grr-vfs-files-archive-button
        client-id="controller.fileContext.clientId"
        file-path="controller.fileContext.selectedDirPath"
        ng-if="controller.mode == 'vfs_files'"
        >
      </grr-vfs-files-archive-button>
    </div>

    <div class="navbar-form pull-right">
      <div class="btn-group" role="group">
        <button class="btn btn-default btn-rounded"
                type="button"
                ng-click="controller.showHelp()"
                title="Help!">
          <i class="fa fa-life-ring"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div ng-switch on="controller.fileContext.selectedDirPath">
  <div ng-switch-when="//artifact_definitions/">
    <div class="card">
      <h5 class="card-header">View or edit Artifact Definitions</h5>
      <div class="card-body">
        <p>
          Artifacts are at the heart of everything Velociraptor
          does. An artifact is simply a collection of VQL queries
          encapsulated in a YAML file.
        </p>
        <p>
          In this part of the interface you may view all the artifacts
          available to be used. The <em>builtin</em> directory
          contains all the artifacts which come built into
          Velociraptor, while the <em>custom</em> directory contains
          artifacts edited or created locally.
        </p>

        <p>
          If you want to add or edit existing artifacts, simply click
          the <i class="fa fa-pencil"></i> button above. An editor will
          appear where you may edit the artifact.
        </p>
      </div>
    </div>
  </div>

  <div ng-switch-when="//server_artifacts/">
    <div class="card">
      <h5 class="card-header">View Server Artifacts</h5>
      <div class="card-body">
        <p>
          The server can be configured to run VQL event queries server
          side. These queries are encapsulated in server event artifacts.
        </p>
        <p>
          Typically server event artifacts are used to watch and
          react to client side events. The artifacts run indefinitely
          and write their results into daily logs (similar to client
          side event artifacts).
        </p>
        <p>
          Select a server event artifact in the tree view to see the
          daily logs from this artifact.
        </p>
        <p>
          If you want to add or remove the running server event artifacts, click the
            <i class="fa fa-edit"></i> button above.
        </p>

      </div>
    </div>
  </div>

  <div ng-switch-when="//artifacts/">
    <div class="card">
      <h5 class="card-header">View Artifacts Collected</h5>
      <div class="card-body">
        <p>
          Each time an artifact is collected from a client,
          Velociraptor stores it centrally under the artifacts
          tree. You can see an overview of all the artifacts and the
          time they were collected on that host.
        </p>
        <p>
          Select an artifact in the tree view to see all the times this
          particular artifact was collected.
        </p>
      </div>
    </div>
  </div>
  <div ng-switch-when="//monitoring/">
    <div class="card">
      <h5 class="card-header">View Monitoring events Collected</h5>
      <div class="card-body">
        <p>
          Clients are monitored for specific events of interest by launching
          monitoring artifacts on them. These artifacts stream events to the
          server as soon as they occur on the client. The server stores
          these events in daily monitoring log files.
        </p>

        <p>
          Select an artifact in the tree view to see the daily event logs
          from this particular artifact.
        </p>

        <p>
          If you want to add or remove the monitoring artifacts collected
          from clients, click the <img src="/static/images/update_table.svg"
                                       class="toolbar_icon" /> button above.
        </p>
      </div>
    </div>
  </div>

  <div ng-switch-default>
    <div class="fill-parent-with-toolbar">
      <grr-breadcrumbs path="controller.fileContext.selectedDirPath"></grr-breadcrumbs>
      <div grr-force-refresh
           refresh-trigger="controller.fileContext.selectedDirPathData.Response"
           >

        <div ng-if="controller.fileContext.selectedDirPathData.Response"
             >
          <grr-vql value="controller.fileContext.selectedDirPathData"
                   selected-row="controller.fileContext.selectedRow"/>
        </div>

        <div ng-if="!controller.fileContext.selectedDirPathData.Response"
             class="no-content">
          No data available for directory.
          You can try to refresh this directory using the toolbar above.
        </div>
      </div>
    </div>
  </div>
</div>
