<div>

  <!-- Show pagination and content if there is file content. -->
  <div>
    <ul uib-pagination
        total-items="controller.pageCount" items-per-page="1"
        rotate="false" boundary-links="true" max_size="10"
        ng-model="controller.page">
    </ul>

    <div class="monospace">
      <pre ng-if="controller.language">
        <grr-syntax-highlight
          language="{{controller.language}}"
          code="controller.fileContent">
        </grr-syntax-highlight>
      </pre>

      <pre ng-if="!controller.language">
        {{controller.fileContent}}
      </pre>
    </div>

    <ul uib-pagination
        total-items="controller.pageCount" items-per-page="1"
        rotate="false" boundary-links="true" max_size="10"
        ng-model="controller.page">
    </ul>

  </div>
</div>
