<div>

  <!-- Show pagination and content if there is file content. -->
  <div ng-if="controller.hexDataRows">
    <ul uib-pagination
        total-items="controller.pageCount" items-per-page="1"
        rotate="false" boundary-links="true" max_size="10"
        ng-model="controller.page">
    </ul>

    <!-- Show the hex view using three separate tables to enable vertical selection. -->
    <div class="panel hexdump"
         ng-if="!controller.hexDataRows.length">
      Loading...
    </div>

    <div class="panel hexdump"
         ng-if="controller.hexDataRows.length">
      <div class="monospace">
        <table>
          <tr>
            <th>Offset</th>
            <th>00 01 02 03 04 05 06 07 08 09 0a 0b 0c 0d 0e 0f 10 11 12 13</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <!-- Offset -->
              <table class="offset-area">
                <tr ng-repeat="row in controller.hexDataRows">
                  <td class="offset">
                    {$ ::row.offset | grrHexNumber $}
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <!-- Hex -->
              <table class="hex-area">
                <tr ng-repeat="row in controller.hexDataRows">
                  <td>
                    <span ng-repeat="x in row.data_row track by $index">
                      {$ ::x $}
                    </span>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <!-- Content -->
              <table class="content-area">
                <tr ng-repeat="row in controller.hexDataRows">
                  <td class="data">
                    {$ ::row.safe_data $}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Show a hint if no content exists. -->
  <div ng-if="!controller.hexDataRows.length" class="no-content">
    No file content to show.
  </div>

</div>
