<div>
  <div ng-if="!controller.fileContext.selectedFilePath" class="padded">
    Please select a file or a folder to see its details here.
  </div>

  <div ng-if="controller.fileContext.selectedFilePath" class="padded">
    <grr-breadcrumbs path="controller.fileContext.selectedFilePath">
    </grr-breadcrumbs>

    <h1>{$ controller.selectedFileName $}</h1>

    <uib-tabset active="controller.currentTab">

      <uib-tab heading="Stats" index="'stats'">
        <div ng-if="controller.currentTab === 'stats'">
          <grr-file-stats-view></grr-file-stats-view>
        </div>
      </uib-tab>

      <uib-tab heading="TextView" index="'textview'"
               disable="!controller.fileHasContent">
        <div ng-if="controller.currentTab === 'textview'">
          <grr-file-text-view
            ng-if="controller.fileHasContent"
            ></grr-file-text-view>

          <div ng-if="!controller.fileHasContent" class="no-content">
            No file content to show.
          </div>

        </div>
      </uib-tab>

      <uib-tab heading="HexView" index="'hexview'"
               disable="!controller.fileHasContent">
        <div ng-if="controller.currentTab === 'hexview'">
          <grr-file-hex-view
            ng-if="controller.fileHasContent">
          </grr-file-hex-view>

          <div ng-if="!controller.fileHasContent" class="no-content">
            No file content to show.
          </div>

        </div>
      </uib-tab>

      <uib-tab heading="CSVView" index="'csvview'"
               disable="!controller.fileIsCSV">
        <div ng-if="controller.currentTab === 'csvview'">
          <grr-csv-viewer
            ng-if="controller.fileHasContent"
            params='controller.params'
            ></grr-csv-viewer>

          <div ng-if="!controller.fileHasContent" class="no-content">
            No file content to show.
          </div>

        </div>
      </uib-tab>

      <uib-tab heading="Reports" index="'reports'"
               disable="!controller.reporting_params">
        <div ng-if="controller.currentTab === 'reports'">
          <grr-report-viewer params="controller.reporting_params"></grr-report-viewer>
        </div>
      </uib-tab>

    </uib-tabset>

  </div>

</div>
