<div class="card ace_editor">
  <div class="card-body">
    <h4 class="card-title">Edit a Cell</h4>
    <form>
      <div ui-ace="{
                   useWrapMode : true,
                   showGutter: true,
                   theme:'twilight',
                   mode: 'yaml',
                   enableBasicAutocompletion: true,
                   enableSnippets: true,
                   enableLiveAutocompletion: true,
                   rendererOptions: {
                     fontSize: '14px',
                     fontFamily: 'monospace',
                   },
                   }"
           ng-model="controller.cell.input"
           ></div>
    </form>

    <a href class="btn btn-primary btn-block"
       ng-click="controller.saveCell()"
       role="button">Save Cell</a>

    <div ng-if="controller.error" class="proto_error">
      {$ controller.error $}
    </div>
  </div>
</div>
