<div class='modal-header'>
  <h3>
    Select an Artifact
  </h3>
</div>
<div class='modal-body'>
  <div class='container-fluid'>
    <div class="input-group">
      <select class="custom-select"
              ng-model="type"
              id="inputGroupSelect01">
        <option selected value='SERVER'>Server Artifact</option>
        <option value="CLIENT">Client Artifact</option>
      </select>
    </div>
    <div class="fill-parent-with-toolbar">
      <grr-search-artifact
        names="names"
        params="params"
        type="type"
        ></grr-search-artifact>
    </div>
  </div>
</div>
<div class='modal-footer'>
  <ul class="nav pull-right">
    <button class="btn btn-primary Next ng-binding"
            ng-click="reject()">
      Cancel
    </button>

    <button class="btn btn-primary Next ng-binding"
            ng-disabled="!names.length"
            ng-click="resolve()">
      OK
    </button>
  </ul>
</div>
