<div class="toolbar">
  <div class="breadcrumb">
    <li>
      <button class="btn btn-default" name="NewNotebook"
              ng-disabled="!controller.uiTraits.Permissions.notebook_editor"
              title="New Notebook" ng-click="controller.newNotebook()">
        <i class="fa fa-plus"></i>
      </button>
      <button title="Delete Notebook" class="btn btn-default"
              ng-disabled="!selectedNotebookId ||
                           !controller.uiTraits.Permissions.notebook_editor"
              ng-click="controller.deleteNotebook($event)">
        <i class="fa fa-trash"></i>
      </button>

      <button title="Edit Notebook" class="btn btn-default"
              ng-disabled="!selectedNotebookId ||
                           !controller.uiTraits.Permissions.notebook_editor"
              ng-click="controller.editNotebook($event)">
        <i class="fa fa-wrench"></i>
      </button>

      <button class="btn btn-default" name="ExportNotebook"
              ng-disabled="!selectedNotebookId ||
                           !controller.uiTraits.Permissions.read_results"
              title="Export Notebook"
              ng-click="controller.exportNotebook($event)">
        <i class="fa fa-download"></i>
      </button>

    </li>
  </div>
</div>

<div class="fill-parent-with-toolbar">
  <table class="table table-striped table-condensed table-hover table-bordered full-width">
    <colgroup>
      <col style="width: 40px">
      <col style="width: 15em">
      <col style="width: 40%">
      <col style="width: 20em">
      <col style="width: 20em">
      <col style="">
    </colgroup>
    <thead>
      <tr>
        <th>NotebookId</th>
        <th>Name</th>
        <th>Description</th>
        <th>Creation Time</th>
        <th>Last Active</th>
        <th>Creator</th>
        <th>Shared</th>
      </tr>
    </thead>
    <tbody>
      <tr grr-infinite-table grr-api-items-provider
          transform-items="controller.transformItems(items)"
          url="'/v1/GetNotebooks'"
          page-size="controller.pageSize"
          trigger-update="controller.triggerTableUpdate"
          auto-refresh-interval="controller.autoRefreshInterval"
          ng-click="controller.selectItem(item)"
          ng-class="{'row-selected': item.notebook_id == controller.selectedNotebookId}"
          >
        <td>
          {$ item.notebook_id $}
        </td>
        <td>
          {$ item.name $}
        </td>
        <td>
          {$ item.description $}
        </td>
        <td>
          <grr-timestamp-seconds value="item.created_time"></grr-timestamp-seconds>
        </td>
        <td>
          <grr-timestamp-seconds value="item.modified_time"></grr-timestamp-seconds>
        </td>
        <td>
          {{ item.creator }}
        </td>
        <td>
          <span ng-repeat="name in item.collaborators track by $index">
            {{ name }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
