:root {
    --sidebar-collapsed-width: 45px;
    --color-sidebar-inactive-foreground-hover: #000e7b;
    --color-sidebar-inactive-background-hover: var(--color-sidebar-background);
    --color-sidebar-foreground: #8f8f8f;
    --color-sidebar-disabled-foreground: lightgrey;
    --color-sidebar-background: #f5f5f5;
    --color-sidebar-active-foreground: #f0f0f0;
    --color-sidebar-active-background: #8f8f8f;

    --font-json: roboto-mono, Menlo, Monaco, Consolas, "Courier New", monospace;
    --font-monospace: roboto-mono, "Courier New", Courier, monospace;

    --color-calendar-background: #f0f0f0;
    --background-calendar-tile-now: #feffe0;
    --background-calendar-tile-active: var(--color-table-row-selected);
    --color-calendar-tile: var(--color-foreground);

    --color-canvas-background: #ffffff;
    --color-foreground: #000;
    --color-foreground-inverse: #fff;
    --color-pristine: #feffe0;
    --color-table-row-selected: #d9edf7;
    --color-table-row-modified: #471ecb;
    --color-table-row-offset: #0096ff;
    --color-table-row-highlighted: #e3fbde;

    --color-tab-active-background: #f0f0f0;
    --color-tab-non-active-background: #e2e3e5;
    --color-footer-background: #eaeaea;
    --color-proto-background: #f0f0f0;
    --color-proto-border: #ddd;
    --color-proto-table-border: #c9c9c9;
    --color-proto-table-row-odd: #9fafd1;
    --color-proto-error: #f00;
    --color-doc-json: #f5f5f5;
    --color-nav-link-default-shadow: rgba(255, 255, 255, .5);
    --color-nav-link-active-shadow: rgba(0, 0, 0, .2);
    --color-nav-link-active-background: #08c;
    --color-nav-link-hover-color: #fff;
    --color-advanced-controls-border: #cecece;
    --color-nav-header-color: #999;
    --color-panel-background: #fff;
    --color-panel-box-shadow: rgba(0, 0, 0, .3);
    --color-panel-border: rgba(0, 0, 0, .3);
    --color-table-row-leased: rgba(200, 0, 0, .1);
    --color-table-row-lease-available: rgba(0, 250, 0, .1);
    --color-sort-dialog-filter-box-shadow: rgba(0, 0, 0, .2);
    --color-sort-dialog-filter-border: rgba(0, 0, 0, .2);
    --color-monospace-color: #000;
    --color-notifications-reference: #000;
    --color-headline-color: #dd4b39;
    --color-client-link: #888;
    --color-client-link-hover: blue;
    --color-no-link-color: #bbb;
    --color-notification-highlight-color: #eee;
    --color-no-content-color: #e0e0e0;
    --color-hint-border-color: #f0c36d;
    --color-hint-background-color: #f9edbe;
    --color-section-separator: #efefef;
    --color-section-box-shadow: rgba(0, 0, 0, .3);
    --color-dim-grey: #696969;
    --color-green: #008000;
    --color-warning-color: #a94442;
    --color-diff-changed: #fcf8e3;
    --color-diff-added: #dff0d8;
    --color-diff-removed: #f2dede;
    --color-troggle-highlight-color: #cdcdcd;

    --color-timeline-header: #cdcdcd60;
    --color-timeline-table-shown: #dd4b3930;
    --color-timeline-1: #dff0d860;
    --color-timeline-2: #a9444220;
    --color-timeline-3: #2aabd2;
    --color-timeline-4: #f0c36d;
    --color-timeline-5: #bbb;
    --color-timeline-6: #008000;
    --color-timeline-7: #471ecb;

    --color-vfs-files-timestomped: #bbdfff;

    --color-accent: #0096ff;
    --color-accent-100: #0096ff;
    --color-accent-75: #0096ffb0;
    --color-accent-50: #0096ff80;
    --color-accent-25: #0096ff40;
}
