code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar-buttons {
    height: 40px;
    vertical-align: middle;
    padding: 5px;
}

#content {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 40px;
  right: 0;
  min-width: 1024px;
  min-height: 400px;
  background-color: var(--color-canvas-background);
  margin-left: var(--sidebar-collapsed-width);
}

/* Style the ACE setup windows */
#ace_settingsmenu,
#ace_settingsmenu button,
#ace_settingsmenu input,
#ace_settingsmenu select
{
    background-color: var(--color-canvas-background);
    color: var(--color-foreground);
}

/* Lineup the search bar's btn group so all buttons have the same height */
.btn-group .btn,
.btn-group select
{
    height: 38px;
}

.pagination .page-link {
    height: 37px;
}

.btn-group input.text {
    height: 27px;
}

/* outline buttons have no background */
.btn.btn-outline-info,
.btn.btn-link {
    background: none;
    color: var(--color-btn-outline-link);
    text-align: left;
}

.report-viewer .btn-group a.btn {
  color: var(--color-foreground);
}


.react-datetime-picker__clock {
    display: none;
}

.input-group-text.disabled {
    opacity: 0.65;
}


.dropdown-item,
.dropdown-item:focus {
  color: var(--color-foreground);
  background: var(--color-btn-default-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

.dropdown-item:hover,
.dropdown-item.active:hover {
  background: var(--color-accent-75);
}

.dropdown-item.active,
.dropdown-item.active:focus {
  background: var(--color-accent-50);
  color: var(--color-foreground);
}

.list-group-item {
    background-color: var(--color-canvas-background);
    color: var(--color-foreground);
}

.btn-tooltip[data-tooltip] {
  position: relative;
}

.btn-tooltip[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

.btn-tooltip[data-tooltip]::before {
  pointer-events: none;
  text-align:center;
  content: attr(data-tooltip);
  visibility: hidden;
  opacity: 0;
  min-width: 100%;
  width: max-content;
  height: max-content;
  position: absolute;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 4px 8px;
  background-color: var(--color-tooltip-background);
  border: none;
  border-radius: 4px;
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: normal;
  padding: 4px 8px;
  white-space: nowrap;
  transition: opacity ease-out 150ms, bottom ease-out 150ms;
  transition-property: opacity;
  transition-delay: 300ms;
  z-index: 10000;
  box-shadow: 4px 4px 4px rgba(0,0,0,.5);
}

.btn-tooltip[data-position='top']::before {
  bottom: 100%;
}
.btn-tooltip[data-position='right']::before {
  left: 100%;
  top: -15px;
  bottom: 0;
  margin: auto 0;
}

.btn-tooltip[data-position='bottom']::before {
  top: 100%;
}

.btn-tooltip[data-position='left']::before {
  right: 100%;
  top: -15px;
  bottom: 0;
  margin: auto 0;
}

.btn-tooltip:disabled:hover::before {
   display: none;
}
