code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar-buttons {
    height: 40px;
    vertical-align: middle;
    padding: 5px;
}

#content {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 40px;
  right: 0;
  min-width: 1024px;
  min-height: 400px;
  background-color: var(--color-canvas-background);
  margin-left: var(--sidebar-collapsed-width);
}

/* Style the ACE setup windows */
#ace_settingsmenu,
#ace_settingsmenu button,
#ace_settingsmenu input,
#ace_settingsmenu select
{
    background-color: var(--color-canvas-background);
    color: var(--color-foreground);
}

/* Lineup the search bar's btn group so all buttons have the same height */
.btn-group .btn,
.btn-group select
{
    height: 38px;
}

.pagination .page-link {
    height: 37px;
}

.btn-group input.text {
    height: 27px;
}

/* outline buttons have no background */
.btn.btn-outline-info,
.btn.btn-link {
    background: none;
    color: var(--color-btn-outline-link);
}

.report-viewer .btn-group a.btn {
  color: var(--color-foreground);
}


.react-datetime-picker__clock {
    display: none;
}

.input-group-text.disabled {
    opacity: 0.65;
}


.dropdown-item {
  color: var(--color-foreground);
  background: var(--color-btn-default-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

.dropdown-item:hover {
  background: var(--color-accent-50);
}

.dropdown-item.active {
  background: var(--color-accent-50);
}
