* text=auto

*.go text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.golden text eol=lf
*.txt text eol=lf
logs text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf

*.db binary
*.json -text
*.json.db -text
*.csv binary
*.zip binary
*.index binary
*.log binary
*.idx binary