.Resizer {
    background: #e5e5e5;
    z-index: 950;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 8px;
    cursor: row-resize;
    width: 100%;
    border-left: solid 1px #a7a7a7;
    border-right: solid 1px #a7a7a7;
    border-top: solid 1px #9cbdff;
    border-bottom: solid 1px #9cbdff;
}

.Resizer.horizontal:hover {
    height: 12px;
}

.Resizer.vertical {
    width: 8px;
    height: 100%;
    margin: 0 -5px;
    border-left: 1px solid #9cbdff;
    border-right: 1px solid #9cbdff;
    cursor: col-resize;
    z-index: 970;
    margin-left: 0px;
    margin-right: 0px;
}

.Resizer.vertical:hover {
    width: 12px;
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
