.Pane.horizontal.Pane2 {
    overflow-y: auto;
}

.padded {
    padding: 20px;
    background-color: var(--color-canvas-background);
}

.padded .velo-table {
    overflow-x: auto;
}

.tab-content {
    background-color: var(--color-canvas-background);
}

.nav-tabs {
    margin-block-end: 5px;
}

.nav-tabs .nav-item {
    border-color: #dee2e6 #dee2e6 #fff;
    background-color: var(--color-tab-non-active-background);
    color: var(--color-foreground);
}

.nav-tabs .nav-item.active {
    background-color: var(--color-tab-active-background);
}

.file-stats {
    padding: 20px;
}
