.fill-parent {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
  overflow-y: auto;
}
.fill-parent.no-top-margin {
    top: 0;
}

.fill-parent.no-margins {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fill-parent.toolbar-margin {
    top: 48px !important;
}


.toolbar {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    margin: 5px;
    margin-bottom: 5px;
}

table  tr.row_selected td,
table  tr.row-selected {
    background-color: var(--color-table-row-selected) !important;
  }

table  tr.highlighted td {
    background-color: var(--color-table-row-highlighted);
  }

.recursive-list-button {
    position: absolute;
    left: 23px; top: 5px; font-weight: bold;
    font-size: 18px;
    -webkit-text-stroke: 1px #000;
    color: #fff;
}


.file-stomped {
    color: var(--vfs-files-timestomped);
}

.file-hints {
    position: absolute;
}

.file-hints .hint-icon {
    padding: 1px;
    margin: 2px;
}

td.download-column {
    display: table-cell;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 45px;
}
