.fill-parent {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
  overflow-y: auto;
}
.fill-parent.no-top-margin {
    top: 0;
}

.fill-parent.no-margins {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fill-parent.toolbar-margin {
    top: 48px !important;
}


.toolbar {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    margin-bottom: 5px;
}

table  tr.row_selected td,
table  tr.row-selected td {
    background-color: var(--color-table-row-selected) !important;
  }

table  tr.highlighted td {
    background-color: var(--color-table-row-highlighted);
  }
