<span ng-if="type">
  <input ng-if="type == 'RDFBool' ||
                type == 'bool'" class="form-control"
         type="checkbox" ng-model="controller.scope.value" />

  <input ng-if="type == 'RDFInteger' ||
                type == 'int' ||
                type == 'integer' ||
                type == 'long' ||
                type == 'float'" class="form-control"
         type="number" ng-model="controller.scope.value" />

  <input ng-if="type == 'RDFString' ||
                type == 'basestring' ||
                type == 'string' ||
                type == 'RDFURN'" class="form-control"
         type="text" ng-model="controller.scope.value" />

  <input ng-if="type == 'RDFBytes' ||
                type == 'bytes'" class="form-control"
         type="text" ng-model="controller.scope.value" />
</span>
