<div class="well well-large">
  <div class="form-group">
    <label class="control-label" title="{$ field.doc $}">
      {$ field.friendly_name || field.name $}
    </label>
    <div class="controls">
      <select  class="form-control" ng-model="controller.unionField"
               ng-options="subfield.friendly_name || subfield.name for subfield in field.fields">
      </select>
    </div>
  </div>

  <div class="form-group">
    <grr-form-value ng-if="controller.unionField"
                    value="value[controller.unionField.name]"
                    type="{$ controller.unionField.type $}"
                    default="controller.unionField.default"
                    />
  </div>

</div>
