.timeline-value-item {
    margin-right: 2ex;
}

.timeline-data {
    display: table-row;
    width: 100%;
}

.timeline-data.hidden {
    display: none;
}

.timeline-value-container {
    width: auto;
}

span.hidden_icon, button.hidden_icon {
    visibility: hidden;
}

.time {
    width: 15em;
    white-space: nowrap;
}

.timeline-group {
    width: 20px;
}

.timeline-table-item {
    color: var(--color-timeline-table-shown);
    background: var(--color-timeline-table-shown);
}

.super-timeline .form-check {
    line-height: normal;
}

.super-timeline .react-calendar-timeline .rct-header-root {
    background: var(--color-timeline-header);
}

.super-timeline .react-calendar-timeline .rct-dateHeader {
    background: var(--color-timeline-header);
    color: var(--color-foreground);
}

.super-timeline .react-calendar-timeline .rct-dateHeader-primary {
    color: var(--color-foreground);
}

.super-timeline .hidden-header {
    display: none;
}

.super-timeline td {
    padding-top: 0;
    padding-bottom: 0;
}

.super-timeline .velo-table {
    height: 50vh;
    overflow-y: auto;
}

.super-timeline .velo-table.no-content {
    padding-top: 10vh;
}

td.timeline-time {
    width: 15em;
    overflow-x: hidden;
}

tr td.timeline-group.timeline-annotation, .timeline-annotation {
    background: var(--color-timeline-annotation);
    color: var(--color-foreground);
}

tr td.timeline-group.timeline-item-1, .timeline-item-1 {
    background: var(--color-timeline-1);
    color: var(--color-foreground);
  }

tr td.timeline-group.timeline-item-2, .timeline-item-2 {
    background: var(--color-timeline-2);
    color: var(--color-foreground);
}

tr td.timeline-group.timeline-item-3, .timeline-item-3 {
    background: var(--color-timeline-3);
    color: var(--color-foreground);
}

tr td.timeline-group.timeline-item-4, .timeline-item-4 {
    background: var(--color-timeline-4);
}

tr td.timeline-group.timeline-item-5, .timeline-item-5 {
    background: var(--color-timeline-5);
}

tr td.timeline-group.timeline-item-6, .timeline-item-6 {
    background: var(--color-timeline-6);
}

tr td.timeline-group.timeline-item-7, .timeline-item-7 {
    background: var(--color-timeline-7);
}

.timeline-marker {
    background-color: var(--color-foreground);
    color: var(--color-foreground);
    width: 5px;
}

th.message .sort-element .input-group {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.timeline-sidebar-buttons {
    padding-left: 14px;
    padding-top: 20px;
}
