<div class="toolbar">
  <div class="breadcrumb">
    <li>
      <button class="btn btn-default" name="NewCollection"
              ng-disabled="!controller.collect_perm"
              title="Collect More Artifacts"
              ng-click="controller.newArtifactCollection()">
        <i class="fa fa-plus"></i>
      </button>
      <button title="Delete Artifact Collection" class="btn btn-default"
              name="delete_flow"
              ng-disabled="selectedFlowState == 'RUNNING' ||
                           !controller.collect_perm"
              ng-click="controller.deleteButtonClicked()">
        <i class="fa fa-trash"></i>
      </button>

      <button title="Cancel Artifact Collection" class="btn btn-default" name="cancel_flow"
              ng-disabled="selectedFlowState != 'RUNNING' ||
                           !controller.collect_perm"
              ng-click="controller.cancelButtonClicked()">
        <i class="fa fa-stop"></i>
      </button>

      <button class="btn btn-default" name="copy_flow"
              title="Copy Flow"
              ng-disabled="!selectedFlowId ||
                           !controller.collect_perm"
              ng-click="controller.newArtifactCollection(selectedFlowId)">
        <i class="fa fa-copy"></i>
      </button>

      <button title="Create Hunt From Flow" class="btn btn-default" name="create_hunt"
              ng-disabled="!selectedFlowId ||
                           !controller.collect_perm"
              ng-if="false"
              ng-click="controller.createHuntFromFlow()">
        <i class="fa fa-crosshairs"></i>
      </button>

      <button class="btn btn-default"
              ng-if="clientId=='server'"
              title="Build Collector"
              ng-click="controller.buildCollector()">
        <i class="fa fa-paper-plane"></i>
      </button>

    </li>
  </div>
</div>
<div class="fill-parent-with-toolbar">
  <grr-flows-list flows-url="controller.flowsUrl"
                  selected-flow-id="selectedFlowId"
                  selected-flow-state="selectedFlowState"
                  trigger-update="controller.triggerUpdate">
  </grr-flows-list>
</div>
