<div class="toolbar">
  <div class="breadcrumb">
    <li>
      <button class="btn btn-default" name="NewCollection"
              title="Collect More Artifacts" ng-click="controller.newArtifactCollection()">
        <i class="fa fa-plus"></i>
      </button>

      <button title="Cancel Artifact Collection" class="btn btn-default" name="cancel_flow"
              ng-disabled="!selectedFlowId"
              ng-click="controller.cancelButtonClicked()">
        <i class="fa fa-trash"></i>
      </button>

      <button class="btn btn-default" name="copy_flow"
              title="Copy Flow"
              ng-disabled="!selectedFlowId"
              ng-click="controller.copyFlow()">
        <i class="fa fa-copy"></i>
      </button>

      <button title="Create Hunt From Flow" class="btn btn-default" name="create_hunt"
              ng-disabled="!selectedFlowId"
              ng-click="controller.createHuntFromFlow()">
        <i class="fa fa-crosshairs"></i>
      </button>
    </li>
  </div>
</div>
<div class="fill-parent-with-toolbar">
  <grr-flows-list flows-url="controller.flowsUrl"
                  selected-flow-id="selectedFlowId"
                  trigger-update="controller.triggerUpdate">
  </grr-flows-list>
</div>
