<div class="cell-toolbar">
  <div class="btn-group" role="group">
    <button class="btn btn-default"
            title="Settings"
            ng-click="controller.showSettings()">
      <i class="fa fa-wrench"></i>
    </button>
  </div>
</div>
<div ng-if="controller.serializedRequests">
  <div ui-ace="{
               showGutter: true,
               workerPath: window.base_path+'/static/dist/',
               theme:'clouds',
               onLoad: aceConfig,
               mode: 'json',
               rendererOptions: {
               fontSize: '14px',
               fontFamily: 'monospace',
               },
               }"
       ng-model="controller.serializedRequests"
       readonly></div>
</div>
<div ng-if="!controller.serializedRequests">
  <i class="fa fa-spinner fa-spin fa-fw"></i> Loading...
</div>
