<div class="centered flow-state-icon"
     ng-init="flowState = flow.context.state"
     state="{$ ::flowState $}">
  <i ng-if="::flowState == 'TERMINATED'"
     title="Flow finished normally."
     class="fa fa-check"></i>
  <i ng-if="::flowState == 'RUNNING'"
     title="Flow is still running."
     class="fa fa-hourglass"></i>
  <i ng-if="::flowState == 'ERROR'"
     title="Flow terminated with an error."
     class="fa fa-exclamation"></i>
  <i ng-if="::flowState == 'CLIENT_CRASHED'"
     title="The client crashed while executing this flow."
     class="fa fa-exclamation"></i>
</div>
