<table class="table table-striped table-condensed table-hover table-bordered full-width">
  <colgroup>
    <col style="width: 40px">
    <col style="width: 15em">
    <col style="width: 40%">
    <col style="width: 20em">
    <col style="width: 20em">
    <col style="">
  </colgroup>
  <thead>
    <tr>
      <th>State</th>
      <th>FlowId</th>
      <th>Artifacts Collected</th>
      <th>Creation Time</th>
      <th>Last Active</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    <tr grr-infinite-table grr-api-items-provider
        transform-items="controller.transformItems(items)"
        url="::flowsUrl"
        page-size="::controller.pageSize"
        trigger-update="controller.triggerTableUpdate"
        auto-refresh-interval="::controller.autoRefreshInterval"
        ng-click="controller.selectItem(item)"
        ng-class="{'row-selected': item.flow_id == controller.selectedFlowId}"
        >
      <td><grr-flow-status-icon flow="::item" /></td>
      <td>
        {$ ::item.flow_id $}
      </td>
      <td>
        <div ng-repeat="name in ::item.context.artifacts track by $index">
          {$ ::name $}
        </div>
        <div ng-if="::!item.context.artifacts">
          {$ ::item.name $}
        </div>
      </td>
      <td>
        <grr-timestamp value="::item.context.create_time" />
      </td>
      <td>
        <grr-timestamp value="::item.context.active_time" />
      </td>
      <td>
        {{::item.runner_args.creator}}
      </td>
    </tr>

  </tbody>
</table>
