<div class="modal-header">
  <h3 ng-if="flowId">Copy artifact {{ flowId }}</h3>
  <h3 ng-if="!flowId">Collect new artifact</h3>
  <button type="button" class="close"
          ng-click="onReject()" aria-hidden="true">
    x
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <grr-search-artifact names="controller.names"
                         params="controller.params"
                         tools="controller.tools"
                         type="controller.artifactType">
    </grr-search-artifact>

    <div id="collection_context">
      <div class="card">
        <div id="headingResources">
          <button class="btn btn-default btn-block"
                  data-toggle="collapse"
                  data-target="#collapseResources"
                  aria-expanded="true"
                  aria-controls="collapseResources">
            Resource control
          </button>
        </div>

        <div id="collapseResources"
             class="collapse show"
             aria-labelledby="headingResources"
             data-parent="#collection_context">
          <div class="card-body">
            <dl class="dl-horizontal dl-flow">
              <dt>Ops/Sec</dt>
              <dd><input ng-model="controller.ops_per_second" type="text"></input></dd>
              <dt>Max Time</dt>
              <dd><input ng-model="controller.timeout" type="text"></input></dd>
              <dt>Max Rows</dt>
              <dd><input ng-model="controller.max_rows" type="text"></input></dd>
              <dt>Max MBytes</dt>
              <dd><input ng-model="controller.max_bytes" type="text"></input></dd>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer navbar-inner">
  <div class="btn-toolbar rounded" role="toolbar" style="width: 100%">
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-secondary Next"
              ng-click="onReject()">
        Cancel
      </button>
    </div>

    <div class="btn-group ml-auto" role="group">

      <button class="btn btn-primary Next"
              ng-disabled="controller.names.length==0"
              ng-click="controller.startClientFlow()">
        Launch collection
      </button>
    </div>
  </div>
</div>
