<div class="modal-header">
  <h3 ng-if="flowId">Copy artifact {{ flowId }}</h3>
  <h3 ng-if="!flowId">Collect new artifact</h3>
  <button type="button" class="close"
          ng-click="controller.reject()" aria-hidden="true">
    x
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <grr-search-artifact names="controller.names"
                         params="controller.params"
                         type="controller.artifactType">
    </grr-search-artifact>

    <div id="collection_context">
      <div class="card">
        <div id="headingResources">
          <button class="btn btn-default btn-block"
                  data-toggle="collapse"
                  data-target="#collapseResources"
                  aria-expanded="true"
                  aria-controls="collapseResources">
            Resource control
          </button>
        </div>

        <div id="collapseResources"
             class="collapse show"
             aria-labelledby="headingResources"
             data-parent="#collection_context">
          <div class="card-body">
            <dl class="dl-horizontal dl-flow">
              <dt>Ops/Sec</dt>
              <dd><input ng-model="controller.ops_per_second" type="text"></input></dd>
              <dt>Maximum Time</dt>
              <dd><input ng-model="controller.timeout" type="text"></input></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer navbar-inner">
  <ul class="nav pull-right">
    <button class="btn btn-primary Next"
            ng-disabled="controller.names.length==0"
            ng-click="controller.startClientFlow()">
      Launch collection
    </button>
  </ul>
</div>
