<grr-wizard-form title="New Hunt"
                 on-page-change="controller.onValueChange_()"
                 on-resolve="controller.resolve()"
                 on-reject="onReject()">

  <!-- Configure flow -->
  <grr-wizard-form-page title="Select Artifacts to collect"
                        is-valid="controller.names.length > 0"
                        >
    <grr-search-artifact names="controller.names"
                         params="controller.params"
                         type="'CLIENT'">
    </grr-search-artifact>
    <form class="container">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ops/Sec</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="controller.ops_per_second" placeholder="Unlimited">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Timeout (Sec)</label>
        <div class="col-sm-10">
          <input type="text" ng-model="controller.timeout" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Expiry</label>
        <div class="col-sm-10">
          <grr-form type="'timestamp'" field="'expiry'" value="controller"></grr-form>
        </div>
      </div>
    </form>
  </grr-wizard-form-page>

  <!-- Configure hunt -->
  <grr-wizard-form-page title="Hunt parameters">
    <grr-configure-hunt-page hunt-runner-args="createHuntArgs">
    </grr-configure-hunt-page>
  </grr-wizard-form-page>

  <!-- Configure rules -->
  <grr-wizard-form-page title="Where to run?">
    <grr-configure-rules-page
        client-rule-set="controller.hunt_conditions">
    </grr-configure-rules-page>

  </grr-wizard-form-page>

  <!-- Review -->
  <grr-wizard-form-page title="Review"
                        next-button-label="Create Hunt">
    <grr-inspect-json json="controller.createHuntArgsJson"></grr-inspect-json>
  </grr-wizard-form-page>

  <!-- Submit the hunt and show the status -->
  <grr-wizard-form-page title="Result"
                        is-valid="controller.serverResponse != null"
                        on-show="controller.sendRequest()"
                        next-button-label="Done"
                        no-back-button="true">

    <grr-new-hunt-status-page response="controller.serverResponse"
                              create-hunt-args="createHuntArgs">
    </grr-new-hunt-status-page>
  </grr-wizard-form-page>

</grr-wizard-form>
