.tool-link {
    border-style: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: nowrap;
}


.tool-viewer dt {
    text-align: right;
    font-weight: bold;
}
