.velo-line-chart svg {
    user-select: none;
    border-radius: 0;
    border: 1px solid var(--color-btn-default-border);
    padding: 10px;
}

.custom-tooltip {
    background-color: var(--color-tooltip-background);
    border: 1px solid var(--color-btn-border);
    color: var(--color-foreground);
    display: block;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    opacity: 1;
}
