.navbar {
  margin-bottom: 0; /* Bootstrap tweaks */
  padding: 0px;
}

.navbar .space-right {
  margin-right: 10px;
}

.navbar.navbar-static-top {
  min-width: 1024px;
}

.navbar.navbar-fixed-bottom {
  min-width: 1024px;
}

.navbar-brand {
  font-size: 20px;
  padding-left: 50px;
  height: 50px;
}

img.velo-logo {
  height: 36px;
  width: 29px;
  margin: 5px;
}

/* sidebar navbar */

section.navigator a {
  text-decoration: none;
  color: var(--color-sidebar-foreground);
}

.navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-inactive-foreground-hover);
}

a.active .navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-active-foreground-hover);
}

.navigator.nav-pills.nav li.disabled {
  color: var(--color-sidebar-disabled-foreground);
}

.navigator.nav-pills.nav {
  font-weight: 400;
  width: 260px;
}

a.active .nav.nav-pills.navigator .nav-link {
  background-color: var(--color-sidebar-active-background);
  color: var(--color-sidebar-active-foreground-hover);
}

.nav-pills .nav-link {
  font-weight: 400;
  width: 260px;
}

button a.nav-link {
  padding: 0px;
  color: black;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.navicon {
  margin-right: 18px;
}

#navigator {
  height: 100%;
  position: fixed;
  z-index: 1000; /* Must be above everything else and below the modal shadow @ 1050; */
  top: 50px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: gray;
  border-width: 2px;
  border-right-style: solid;
  background-color: var(--color-sidebar-background);
}

div#navigator {
  width: 260px;
  overflow-x: hidden;
}

div#navigator.collapsed {
  width: var(--sidebar-collapsed-width);
}

.nav-link span {
  width: 18px;
  margin-right: 12px;
  display: inline-block;
}

#navigator.uncollapsed {
  width: 260px;
}

span.hamburger {
  float: left;
  font-size: 30px;
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
}
