@font-face {
  font-family: "Iosevka Term";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/iosevka-term-medium-subset.woff2") format("woff2");
    unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Iosevka Term";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("../fonts/iosevka-term-bold-subset.woff2") format("woff2");
  unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

.coolgray-dark {
  --font-size-large: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-family-sans-serif: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-monospace: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-paragraph: "Iosevka Term", Iosevka-Term, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  --color-foreground: rgb(240, 242, 244);
  --color-foreground-inverse: #100e0c;
  --color-foreground-dimmed: #BEC0C2;

  --accent-color: #87b8dd;
  --color-accent: 135, 184, 221;
  --color-accent-complement: #dead87;
  --color-accent-100: #87b8ddff;
  --color-accent-75: #87b8ddb0;
  --color-accent-50: #87b8dd80;
  --color-accent-25: #87b8dd40;

  --color-header-background: #141a1d;
  --color-footer-background: var(--color-canvas-background);
  --color-canvas-background: rgb(42, 52, 60);
  --color-canvas-background-complement: #3d332b;
  --color-form-control-background: var(--color-btn-default-background);

  --color-sidebar-inactive-foreground-hover: #73C3FF;
  --color-sidebar-inactive-background-hover: rgb(52, 65, 75);
  --color-sidebar-foreground: var(--color-foreground);
  --color-sidebar-disabled-foreground: #B2B4B5;
  --color-sidebar-background: #2a343c;
  --color-sidebar-active-foreground: var(--color-foreground);
  --color-sidebar-active-background: rgb(68, 85, 97);

  --color-client-link: var(--color-foreground-dimmed);
  --color-client-link-hover: var(--color-accent-50);
  --color-tooltip-background: var(--color-header-background);

  --color-tab: var(--color-canvas-background);
  --color-tab-active: var(--color-tab);
  --color-tab-active-border: var(--color-foreground);
  --color-tab-hover-border: var(--color-btn-default-border);

  --color-resizer: #797d82;
  --color-resizer-hover: var(--color-accent-100);
  --color-scrollbar-track: var(--color-canvas-background);
  --color-scrollbar-thumb: var(--color-accent-25);
  --color-scrollbar-thumb-hover: var(--color-accent-50);
  --color-scrollbar-main: var(--color-accent-25);
  --color-scrollbar-background: rgba(var(--color-accent), 0.1);

  --color-btn-border: #636e7b; /* --color-border-muted  --color-scale-gray-7 */
  --color-btn-default-border: #636e7b; /* --color-btn-border */
  --color-btn-default-border-hover: #A4B7CC;
  --color-btn-default-background: #373e47; /* --color-btn-bg --color-scale-gray-7 */
  --color-btn-default-background-hover: #545d68; /* --color-scale-gray-5 */
  --color-btn-outline-link: #373e47; /* --color-btn-bg --color-scale-gray-7 */
  --color-btn-outline-link-hover: var(--color-accent-50);

  --color-card-heading-background: var(--color-table-heading-background);
  --color-cell-toolbar-background: #222222;
  --color-monospace-color: var(--color-foreground);

  --color-table-row-stripe: rgba(31, 42, 51, 0.3);
  --color-table-row-selected: rgba(135, 184, 221, 0.25);
  --color-table-row-selected-text: var(--color-foreground);
  --color-table-row-hover: rgba(135, 184, 221, 0.1);
  --color-table-heading-foreground: var(--color-foreground-dimmed);
  --color-table-heading-background: #222a3000;

  --color-no-content: var(--color-foreground-dimmed);

  --color-form-background: #fceff4;

  --color-page-link-active-background: var(--color-accent-75);
  --color-page-link-hover-background: var(--color-accent-25);
  --color-page-link-background: var(--color-canvas-background);
  --color-pagination-disabled: var(--color-btn-border);

  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #dd4b3920;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --color-vfs-files-timestomped: #ed5d40;
  --color-calendar-background: var(--color-canvas-background);
  --color-level-error: #ff0000;
  --invalid-form-control-error: #ff0000;
  --color-danger-emphasis: #dd4b3920;

  --hljs-color: #FFFFFF;
  --hljs-comment: #4EC9B0;
}

body.coolgray-dark {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 0.4px;
}

.coolgray-dark #content {
  top: 80px;
}

.coolgray-dark h1,
.coolgray-dark h2,
.coolgray-dark h3 {
  color: var(--color-foreground);
  letter-spacing: 0.4px;
}

.coolgray-dark dl {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 0.4px;
}

.coolgray-dark a {
  color: var(--color-accent-100);
}

.cool-dark pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

.coolgray-dark code {
  color: var(--color-accent-100);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

/* .coolgray-dark td > pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  background: #d5cbc3;
  border: 1px solid #9c9184;
  filter: invert(1);
  color: var(--color-foreground-inverse);
  letter-spacing: 0.4px;
} */

.coolgray-dark span.chromaln {
  filter: #9C6032;
}

.coolgray-dark .monospace {
  font-family: var(--font-family-monospace);
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

/* Top Navbar */
.coolgray-dark .main-navbar {
  background: var(--color-header-background);
  border-color: var(--color-header-background);
  box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
  height: 72px;
}

.coolgray-dark .hamburger {
  color: var(--color-sidebar-foreground);
}

.coolgray-dark .dropdown .dropdown-toggle.btn.btn-default {
  border-radius: 0;
  border-left-width: 0;
}

.coolgray-dark .client-summary {
  font-family: var(--font-family-sans-serif);
  color: var(--color-foreground);
}

.coolgray-dark .client-status .client-name {
  color: whitesmoke;
  background: var(--color-btn-default-background);
  text-decoration: none !important;
  text-shadow: none;
  padding: 6px 10px 8px 10px;
  border-radius: 0;
  margin: 5px;
  font-size: var(--font-size-base);
  border-color: var(--color-btn-default-border);
}

.coolgray-dark .client-status .client-name:hover {
  background: var(--color-client-link-hover);
}

.coolgray-dark .react-autosuggest__input {
  background: var(--color-form-control-background);
  border-radius: 0;
  border: 1px solid var(--color-btn-default-border);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  text-decoration: none !important;
  text-shadow: none;
}

.coolgray-dark .react-autosuggest__suggestions-container--open {
  background: var(--color-form-control-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.coolgray-dark .react-autosuggest__suggestion--highlighted {
  background: var(--color-accent-50);
}

/* Sidebar navbar */

.coolgray-dark div#navigator {
  top: 72px;
  font-size: var(--font-size-base);
  font-family: var(--font-family-sans-serif);
  color: var(--color-sidebar-foreground);
  border-right: 1px solid var(--color-btn-default-border);
  background: var(--color-canvas-background);
}

.coolgray-dark .nav-pills .nav-link {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-sidebar-foreground);
  padding-top: 1em;
  padding-bottom: 1em;
}

.coolgray-dark nav.navigator .nav-pills .nav-link {
  padding: 0;
}

.coolgray-dark .navigator.nav-pills.nav li:hover > a:not(.active) {
  color: var(--color-sidebar-inactive-foreground-hover);
  background: var(--color-sidebar-inactive-background-hover);
}

.coolgray-dark .navigator.nav-pills.nav li:has(a.active) {
  background: var(--color-sidebar-active-background);
}

.coolgray-dark .navigator.nav-pills.nav li a.active {
  color: var(--color-sidebar-active-foreground);
}

.coolgray-dark .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

.coolgray-dark .nav-link span {
  width: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: var(--font-size-base);
}

.coolgray-dark .nav-link {
  line-break: anywhere;
}

.coolgray-dark .navicon {
  margin-right: 0px;
}

/* Buttons */
.coolgray-dark .button.close:focus {
  outline: none;
}

.coolgray-dark .btn,
.coolgray-dark .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  border-radius: 0;
}

.coolgray-dark .input-group-text:hover,
.coolgray-dark .btn:hover,
.coolgray-dark .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border-radius: 0;
  text-decoration: none;
}

.coolgray-dark .btn.active.btn-default {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border-radius: 0;
}

.coolgray-dark .btn[disabled] {
  color: var(--color-foreground-dimmed);
  background: var(--color-canvas-background);
}

.coolgray-dark .btn-primary {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-accent-50);
  border-radius: 0;
}

.coolgray-dark .btn-primary:hover:not(:disabled):not(.disabled) {
  background: var(--color-accent-75);
}

.coolgray-dark .btn-secondary {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-canvas-background);
  border-radius: 0;
}

.coolgray-dark .btn-default {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
  border-radius: 0;
}

.coolgray-dark .btn-outline-default {
  border: none;
  background: none;
  border-radius: 0;
}

.coolgray-dark .btn-outline-info,
.coolgray-dark .btn-link {
  color: var(--color-foreground);
  background: var(--color-sidebar-active-background);
  text-shadow: none;
  border-radius: 0;
  margin: 1px;
}

.coolgray-dark .client-link.btn.btn-outline-info {
  width: unset;
}

.coolgray-dark .btn-outline-info:hover {
  color: whitesmoke !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
  border-radius: 0;
}

.coolgray-dark .btn-outline-info:active {
  color: whitesmoke !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
  border-radius: 0;
}

.coolgray-dark .client-link {
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  font-family: var(--font-family-sans-serif);
  font-size: inherit;
  border-radius: 0;
}

.coolgray-dark .btn.btn-link {
  border-color: transparent;
  width: 100%;
  background: var(--color-table-heading-background);
  color: var(--color-foreground);
  border-radius: 0;
  font-weight: 500;
}

.coolgray-dark .alert-secondary {
  color: var(--color-foreground);
  background: var(--color-table-heading-background);
}

.coolgray-dark .alert-secondary th {
  border: 1px solid var(--color-table-heading-background);
}

.coolgray-dark .btn-danger:disabled,
.coolgray-dark .btn-danger[disabled] {
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
  border-radius: 0;
}

.coolgray-dark .btn-danger:not(:disabled):not(.disabled) {
  color: whitesmoke;
  background: var(--color-danger-emphasis);
  border-color: var(--color-danger-emphasis);
  /* box-shadow: 0 0 0 0.2rem rgba(201 60 55 / 0.5); */
  border-radius: 0;
}

/* Pagination */

.coolgray-dark .page-item .page-link {
  background: var(--color-page-link-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.coolgray-dark .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.coolgray-dark .page-item input {
  background: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.coolgray-dark .page-item.active .page-link:hover,
.coolgray-dark .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
}

.coolgray-dark .page-item .page-link:hover {
  background: var(--color-page-link-hover-background);
  border-color: var(--color-btn-default-border);
}

.coolgray-dark .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
  padding-left: 15px;
}

/* Tables */

.coolgray-dark .table-bordered {
  border: 1px solid var(--color-btn-default-border);
  box-shadow: none;
  font-weight: 500;
}

.coolgray-dark .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
}

.coolgray-dark .table {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  vertical-align: middle;
  font-weight: 500;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.coolgray-dark .table-bordered thead th {
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
  background: var(--color-table-heading-background);
}

.coolgray-dark .table thead th {
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
  background: var(--color-table-heading-background);
  vertical-align: text-bottom;
}

.coolgray-dark .table tbody tr td {
  border: none;
}

.coolgray-dark .table tbody tr.row-selected,
.coolgray-dark .table tbody tr.row-selected:hover,
.coolgray-dark .table tbody tr.row_selected td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

.coolgray-dark .table-hover tbody tr:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered,
.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered tbody tr,
.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered thead th {
  background: none;
  border: none;
}

.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered tbody tr > td > button.btn.btn-link:hover {
  background: var(--color-btn-outline-link-hover);
}

.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link,
.coolgray-dark .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link:hover {
  background: var(--color-accent-75);
  color: var(--color-foreground-inverse);
  font-weight: 700;
  text-decoration: none;
}

/* .coolgray-dark .new-artifact-search-table.selectable > div > table > tbody > tr.row-selected > td > button.btn.btn-link {
  background: var(--color-accent-75);
  border: 1px solid var(--color-btn-default-border);
  text-decoration: none;
  font-weight: 700;
} */


/* Column search screen */
.coolgray-dark th.sortable input {
  background: rgba(0,0,0,.3);
  color: var(--color-foreground);
  border-color: var(--color-btn-border);
  font-size: var(--font-size-base);
  font-weight: 500;
}

/* Resizer dividers */
.coolgray-dark .Resizer.horizontal {
  border: none;
  background: var(--color-btn-default-border);
  height: 3px;
}

.coolgray-dark .Resizer.horizontal:hover {
  background: var(--color-resizer);
}

.coolgray-dark .Resizer.vertical {
  border: none;
  background: var(--color-header-background);
  width: 3px;
}

.coolgray-dark .Resizer.vertical:hover {
  background: var(--color-resizer);
}

.coolgray-dark .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.coolgray-dark .card {
  background: var(--color-canvas-background);
  border-color: var(--color-canvas-background);
}

.coolgray-dark .dashboard .card {
  border: none;
}

.coolgray-dark .card-header {
  background: var(--color-card-heading-background);
  color: var(--color-foreground);
  font-weight: 500;
  border-bottom: none;
  border-radius: 0;
}

.coolgray-dark .card-body {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
}

.coolgray-dark .card-body dt,
.coolgray-dark .card-body label {
  font-weight: 500;
  color: var(--color-accent-100);
}

.coolgray-dark .card-body .col-4 {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 0;
}

.coolgray-dark .card-body .col-8 {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 0;
}

/* Json container */
.coolgray-dark div.pretty-json-container {
  font-family: var(--font-family-monospace);
  filter: invert(0);
}

.coolgray-dark .invalid.form-control,
.coolgray-dark .invalid.form-control:focus {
  background: var(--invalid-form-control-error);
}

/* Tabs */
.coolgray-dark .tab-content {
  color: var(--color-foreground);
  padding-block-start: 12px;
}

.coolgray-dark .nav-tabs {
  border-bottom: none;
}

.coolgray-dark .nav-tabs .nav-link {
  background: var(--color-tab);
  color: var(--color-foreground-dimmed);
  border-top-color: var(--color-tab);
  border-right-color: var(--color-tab);
  border-left-color: var(--color-tab);
  border-bottom: 2px var(--color-tab);
  font-size: var(--font-size-base);
}

.coolgray-dark .nav-tabs .nav-link:hover {
  background: var(--color-tab);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-tab-hover-border);
}

.coolgray-dark .nav-tabs .nav-link:active {
  background: var(--color-tab);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-tab-active-border);
}

.coolgray-dark .nav-tabs .nav-link.active {
  background: var(--color-tab-active);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-tab-active-border);
}

/* Form controls */

.coolgray-dark .estimate.alert-info {
  border: none;
  background-color: var(--color-card-heading-background);
}

.coolgray-dark .custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
  background-color: var(--color-accent-25);
}

.coolgray-dark .velo__multi-value {
  border: 1px solid var(--color-btn-default-border);
  background-color: var(--color-btn-default-border);
  border-radius: 0;
}

.coolgray-dark .velo__multi-value__label {
  color: var(--color-foreground);
  background-color: var(--color-btn-default-border);
  border: none;
  border-radius: 0;
  font-size: var(--font-size-small);
}

.coolgray-dark .velo__multi-value__remove {
  color: var(--color-foreground);
  background-color: var(--color-btn-default-border);
  border: none;
  border-radius: 0;
}

.coolgray-dark .velo__multi-value__remove:hover {
  color: var(--color-foreground-inverse);
  background-color: var(--color-accent-100);
  font-weight: 700;
}

.coolgray-dark .form-control,
.coolgray-dark .velo__menu {
  background: var(--color-form-control-background);
  border-color: var(--color-btn-default-border);
  border-radius: 0;
  box-shadow: none;
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  font-weight: 500;
}

.coolgray-dark .velo__control {
  background: var(--color-form-control-background);
  border-color: var(--color-btn-default-border);
  border-radius: 0;
  box-shadow: none;
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  font-weight: 500;
}

.coolgray-dark .accordion,
.coolgray-dark .accordion > .card,
.coolgray-dark .accordion > .card > .card-header {
  background: var(--color-form-control-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.coolgray-dark .form-control:focus,
.coolgray-dark .velo__control:focus {
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  box-shadow: none;
  border-radius: 0;
  border-color: var(--color-btn-default-border);
  background: var(--color-form-control-background);
}

.coolgray-dark .form-control:hover,
.coolgray-dark .velo__control:hover {
  border-radius: 0;
  font-size: var(--font-size-base);
  box-shadow: none;
  border-color: var(--color-btn-default-border) !important;
}

/* Timezone selector */

.coolgray-dark .velo__option,
.coolgray-dark .velo__option--is-focused {
  background: var(--color-form-control-background) !important;
}

.coolgray-dark .velo__option:hover {
  background: var(--color-table-row-hover) !important;
}

.coolgray-dark .velo__input {
  color: var(--color-foreground) !important;
}

.coolgray-dark .velo__option.velo__option--is-selected {
  background: var(--color-table-row-selected) !important;
  color: var(--color-foreground) !important;
}

.coolgray-dark .velo__indicator-separator {
  width: 0;
}

.coolgray-dark .velo__indicator {
  color: var(--color-foreground);
}

.coolgray-dark ::placeholder {
  color: var(--color-foreground-dimmed) !important;
  font-weight: 500 !important;
}

.coolgray-dark .velo__placeholder {
  color: var(--color-foreground-dimmed);
}

.coolgray-dark .ace_placeholder {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-large);
  letter-spacing: 0.4px;
  color: var(--color-foreground) !important;
  font-weight: 500 !important;
}

.coolgray-dark .input-group-text {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.coolgray-dark .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.coolgray-dark .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 500;
}

/* Artifact viewer screen */

.coolgray-dark .report-viewer .description-content {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
  background: var(--color-table-row-hover);
  padding: 12px;
}

.coolgray-dark .report-viewer h1 {
  color: var(--color-foreground);
}

.coolgray-dark .report-viewer h2 {
  color: var(--color-foreground);
}

.coolgray-dark .report-viewer h3 {
  margin-top: 2rem;
  font-size: 18px;
  color: #dead87;
}

.coolgray-dark .report-viewer h4 {
  font-size: 16px;
  color: #8dde87;
}

.coolgray-dark .report-viewer h5 {
  font-size: 14px;
  color: #d887de;
}

.coolgray-dark .report-viewer {
  color: var(--color-foreground);
}

.coolgray-dark .report-viewer pre {
  font-size: var(--font-size-base);
  filter: invert(1);
  color: var(--color-canvas-background);
  background: rgba(255,255,255,.2);
  border-radius: 4px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.coolgray-dark .report-viewer code {
  background: rgba(255,255,255,.05);
  border-radius: 4px;
  border: 0.5px solid rgba(255,255,255,.1);
  padding-left: 4px;
  padding-right: 4px;
}

/* artifact search */

.coolgray-dark .artifact-search-table a {
  color: var(--color-foreground);
}

.coolgray-dark .artifact-search-table.selectable.container tbody {
  pointer-events: all;
}

.coolgray-dark .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.coolgray-dark .artifact-search-table.selectable.container tr.row-selected,
.coolgray-dark .artifact-search-table.selectable.container tr.row-selected:hover,
.coolgray-dark .artifact-search-table.selectable.container tr.row_selected > td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

/* Modal dialogs */
.coolgray-dark .modal-content {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
}

.coolgray-dark .modal-content dt {
  color: var(--color-accent-100);
}

.coolgray-dark .modal-header {
  border-bottom: 2px solid var(--color-btn-default-border);
}

.coolgray-dark .modal-header .btn-close {
  color: var(--color-foreground-dimmed);
  opacity: 0.8;
  filter: invert(1);
  text-shadow: none;
  outline: none;
}

.coolgray-dark .modal-header .btn-close:hover,
.coolgray-dark .modal-header .btn-close:focus {
  color: var(--color-foreground);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

.coolgray-dark .modal-footer {
  border-top: 2px solid var(--color-btn-default-border);
}

/* .coolgray-dark .modal-content pre {
  font-family: var(--font-family-monospace);
  background: inherit;
  filter: invert(1);
  font-size: inherit;
} */

/* Notebooks */
.coolgray-dark .cell-toolbar,
.coolgray-dark .notebook-input {
  background: var(--color-accent-25);
  color: var(--color-foreground);
  border-width: 0;
}

/* .coolgray-dark .notebook-input pre {
  font-family: var(--font-family-monospace);
  font-size: inherit;
  filter: invert(1);
  border-color: #ffffff00;
} */

.coolgray-dark .notebook-cell {
  background: var(--color-canvas-background);
}

.coolgray-dark .notebook-cell.selected {
  border-color: var(--color-btn-border);
}

/* react timelines */
.coolgray-dark .react-calendar-timeline .rct-sidebar,
.coolgray-dark .react-calendar-timeline .rct-dateHeader {
  color: var(--color-foreground);
  font-size: var(--font-size-small);
}

/* file tree */

.coolgray-dark .file-tree .isActive {
  background: var(--color-table-row-selected);
}

/* Scrollbars */

.coolgray-dark ::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

/* Dropdown menus */
.coolgray-dark .dropdown-menu {
  background: var(--color-canvas-background);
}

.coolgray-dark .dropdown-item {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

/* Footer */
.coolgray-dark .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-foreground-dimmed);
  font-family: var(--font-family-sans-serif);
  border-top: 1px solid var(--color-btn-border);
}


/* Shell input */
.coolgray-dark .shell-command .input-group .form-control {
  font-family: var(--font-family-monospace);
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  height: auto;
}

.coolgray-dark .shell-command .velo-ace-editor {
  -webkit-flex: auto;
  flex: auto;
  width: 1%;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

/* Shell output */
.coolgray-dark .shell-cell {
  border: 1px solid var(--color-btn-border);
}

/* ACE things */
.coolgray-dark .ace_tooltip {
  background: var(--color-tooltip-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-border);
  font-family: var(--font-family-sans-serif);
}

.coolgray-dark #ace_settingsmenu {
  background: var(--color-footer-background);
}

.coolgray-dark #ace_settingsmenu button,
.coolgray-dark #ace_settingsmenu input,
.coolgray-dark #ace_settingsmenu select {
  background: var(--color-sidebar-active-background);
}

.coolgray-dark .shell-command .ace_editor {
  overflow: visible;
  font-family: var(--font-family-monospace);
}

.coolgray-dark .shell-command .show > .btn-primary.dropdown-toggle {
  background: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.coolgray-dark .shell-command .show > .btn-primary.dropdown-toggle:active {
  background: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.coolgray-dark .shell-command .show > .dropdown-menu.show {
  background: var(--color-canvas-background);
  border: 1px solid var(--color-btn-border);
}

.coolgray-dark .tooltip.bs-tooltip-top {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-foreground);
}

.coolgray-dark .tooltip-inner {
  background-color: var(--color-tooltip-background);
}

.coolgray-dark .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-tooltip-background);
}

.coolgray-dark .sidebar-icon {
  filter: invert(1);
}

.coolgray-dark .file-hex-view td,
.coolgray-dark .file-hex-view th {
  border: 0px;
}

.coolgray-dark hr {
  background: var(--color-foreground-dimmed);
  height: 1px;
  border: none;
  margin-top: 2em;
}

.coolgray-dark img.velo-logo {
  opacity: 0.8;
}

.coolgray-dark .icon-small {
  vertical-align: middle;
  opacity: 0.8;
}

.coolgray-dark .no-content {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
  color: var(--color-no-content);
}

.coolgray-dark .velo-ace-editor {
  border-width: 0px;
  border-style: inset;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

.coolgray-dark .error-message {
  color: #daaa3f !important;
}

.coolgray-dark .alert {
  text-shadow: none;
  box-shadow: none;
}

.coolgray-dark .json-index {
    color: #bdbdbd;
}

.coolgray-dark .json-key {
    color: #dcb8af;
}

.coolgray-dark .json-string {
    padding-left: 5px;
    color: #33b0e3;
}

.coolgray-dark .json-number {
    padding-left: 5px;
    color: #ffca28;
}

.coolgray-dark .json-null {
  padding-left: 5px;
  color: #ef5350;
}

.coolgray-dark .json-boolean {
  padding-left: 5px;
  color: #7e57c2;
}

.coolgray-dark .accordion-item,
.coolgray-dark .accordion .accordion-item .accordion-header .accordion-button {
    border-radius: 0;
}
