@font-face {
  font-family: "titillium-web";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/titillium-web-v10-latin-regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "roboto-mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-mono-v13-latin-ext_latin-regular.woff2")
      format("woff2");
  font-display: block;
}

.github-dimmed-dark {
  --accent-color: #539bf5; /* https://github.com/w3c/csswg-drafts/issues/5187 */
  --color-accent: 83, 155, 245; /* --color-accent-fg */
  --color-accent-complement: #f5ac53;
  --color-accent-100: rgba(var(--color-accent), 1);
  --color-accent-75: rgba(var(--color-accent), 0.75);
  --color-accent-50: rgba(var(--color-accent), 0.5);
  --color-accent-25: rgba(var(--color-accent), 0.25);

  --color-canvas-background: #22272e; /* --color-canvas-default */
  --color-header-background: #2d333b; /* --color-header-bg */
  --color-footer-background: var(--color-header-background);
  --color-sidebar-background: var(--color-canvas-background);
  --color-background: #2d333b; /* --color-header-bg */
  --color-background-complement: #3b352d;
  --color-text-default: var(--color-foreground-dimmed);
  --color-foreground: #cdd9e5; /* --color-scale-white */
  --color-foreground-dimmed: #909dab; /* --color-scale-gray-2 */
  --color-foreground-inverse: #32261a;

  --color-sidebar-foreground: var(--color-foreground-dimmed);
  --color-sidebar-background: var(--color-background);
  --color-sidebar-foreground-inactive-hover: var(--color-sidebar-foreground);
  --color-sidebar-background-inactive-hover: var(var(--color-btn-border));
  --color-sidebar-foreground-active-hover: var(--color-sidebar-active-foreground);
  /* --color-sidebar-foreground-disabled: grey; */
  --color-sidebar-active-foreground: var(--color-foreground);
  --color-sidebar-active-background: var(--color-table-row-selected);

  --color-infoline-color: var(--color-foreground-dimmed);
  --color-infoline-success: #57ab5a;
  --color-danger-emphasis: #c93c37;
  --color-primer-border-active: #ec775c;

  --font-size-large: 17px;
  --font-size-base: 15px;
  --font-size-small: 13px;
  --font-family-sans-serif: titillium-web, -apple-system, BlinkMacSystemFont,
    Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: roboto-mono, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;

  --color-no-content: var(--color-foreground-dimmed);
  --color-btn-border: #373e47; /* --color-border-muted  --color-scale-gray-7 */
  --color-btn-default-border: #636e7b; /* --color-btn-border */
  --color-btn-default-background: #373e47; /* --color-btn-bg --color-scale-gray-7 */
  --color-btn-default-background-hover: #545d68; /* --color-scale-gray-5 */
  --color-btn-outline-link: #373e47; /* --color-btn-bg --color-scale-gray-7 */
  --color-btn-outline-link-hover: var(--color-accent-50);
  --color-card-heading-background: var(--color-background);
  --color-cell-toolbar-background: #222222;
  --color-monospace-color: var(--color-foreground);

  --color-table-row-selected: rgba(83, 155, 245, 0.25);
  --color-table-row-hover: rgba(83, 155, 245, 0.1);

  --color-form-background: #fceff4;
  --color-page-link-active-background: var(--color-btn-border);
  --color-resizer: #373e47;
  --color-scrollbar-track: var(--color-background);
  --color-scrollbar-thumb: var(--color-accent-25);
  --color-scrollbar-thumb-hover: var(--color-accent-75);

  --color-tab: var(--color-canvas-background);
  --color-tab-active: var(--color-canvas-background);
  --color-tab-active-border: var(--color-primer-border-active);
  --color-table-heading-foreground: var(--color-foreground-dimmed);
  --color-table-heading-background: var(--color-card-heading-background);
  --color-client-link-hover: var(--color-accent-100);

  --color-text-default: var(--color-foreground);
  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #dd4b3920;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --vfs-files-timestomped: #ed5d40;
}

body.github-dimmed-dark {
  background-color: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: 0.6px;
}

.github-dimmed-dark p,
.github-dimmed-dark dl,
.github-dimmed-dark ol,
.github-dimmed-dark ul {
  font-family: var(--font-family-sans-serif);
  letter-spacing: 0.6px;
}

.github-dimmed-dark h1,
.github-dimmed-dark h2,
.github-dimmed-dark h3 {
  color: var(--color-foreground);
}

.github-dimmed-dark code,
.github-dimmed-dark pre,
.github-dimmed-dark .monospace {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  color: var(--color-accent-100);
}

/* Top Navbar */

.github-dimmed-dark .main-navbar {
  background-color: var(--color-header-background);
  border-bottom: 1px solid var(--color-btn-default-border);
}

.github-dimmed-dark .hamburger {
  color: var(--color-sidebar-foreground);
}

.github-dimmed-dark #client-search-bar {
  background-color: var(--color-canvas-background);
  border: 1px solid var(--color-btn-default-border);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  height: 26px;
}

.github-dimmed-dark .dropdown .dropdown-toggle.btn.btn-default {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.github-dimmed-dark .client-summary {
  padding: 5px 10px;
  float: left;
  font-family: var(--font-family-sans-serif);
}

.github-dimmed-dark .client-status .client-name {
  background: var(--color-btn-default-background);
  text-decoration: none !important;
  text-shadow: none;
  padding: 2px 10px 5px 10px;
  border-radius: 3px;
  margin: 5px;
  font-size: 15px;
  border-color: var(--color-btn-default-border);
}

.github-dimmed-dark .client-status .client-name:hover {
  color: whitesmoke;
  background: var(--color-client-link-hover);
}

.github-dimmed-dark .client-status .client-name:active {
  color: whitesmoke;
  background: var(--color-client-link-hover);
}

.github-dimmed-dark .react-autosuggest__suggestions-container--open {
  margin-left: 5px;
  background-color: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.github-dimmed-dark .react-autosuggest__suggestion--highlighted {
  background-color: var(--color-accent-50);
}

/* sidebar navbar */

.github-dimmed-dark div#navigator {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-sidebar-foreground);
  background-color: var(--color-background);
  border-width: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.github-dimmed-dark .navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-foreground-inactive-hover);
  background-color: var(--color-sidebar-background-inactive-hover);
}

.github-dimmed-dark a.active .navigator.nav-pills.nav li {
  color: var(--color-sidebar-active-foreground);
  background-color: var(--color-sidebar-active-background);
}

.github-dimmed-dark a.active .navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-foreground-active-hover);
}

.github-dimmed-dark .navigator.nav-pills.nav li.disabled {
  color: var(--color-sidebar-foreground-disabled);
}

/* Buttons */

.github-dimmed-dark .button.close:focus {
  outline: none;
}

.github-dimmed-dark .btn,
.github-dimmed-dark .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
  text-shadow: none;
  box-shadow: none;
}

.github-dimmed-dark .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
}

.github-dimmed-dark .btn.active.btn-default {
  background-color: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
}

.github-dimmed-dark .btn-primary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-accent-50);
}

.github-dimmed-dark .btn-secondary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-canvas-background);
}

.github-dimmed-dark .btn-default {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
}

.github-dimmed-dark .btn-outline-default {
  border: none;
  background: var(--color-btn-default-background);
}

.github-dimmed-dark .btn-outline-info,
.github-dimmed-dark .btn-link {
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  margin: 1px;
}

.github-dimmed-dark .btn-outline-info:hover {
  color: whitesmoke !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
}

.github-dimmed-dark .btn-outline-info:active {
  color: whitesmoke !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
}

.github-dimmed-dark .client-link {
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  font-family: var(--font-family-sans-serif);
  font-size: inherit;
}

.github-dimmed-dark .btn.btn-link {
  border-color: transparent;
  width: 100%;
  text-align: left;
  background: none;
  color: var(--color-foreground);
}

.github-dimmed-dark .alert-secondary {
  color: var(--color-foreground);
  background-color: var(--color-table-heading-background);
}

.github-dimmed-dark .alert-secondary th {
  border: 1px solid var(--color-table-heading-background);
}

.github-dimmed-dark .btn-danger:disabled,
.github-dimmed-dark .btn-danger[disabled] {
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
}

.github-dimmed-dark .btn-danger:not(:disabled):not(.disabled) {
  color: whitesmoke;
  background-color: var(--color-danger-emphasis);
  border-color: var(--color-danger-emphasis);
  /* box-shadow: 0 0 0 0.2rem rgba(201 60 55 / 0.5); */
}

/* Pagination */
.github-dimmed-dark .page-item .page-link {
  background-color: var(--color-btn-default-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.github-dimmed-dark .page-item input {
  background-color: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.github-dimmed-dark .page-item.active .page-link {
  background-color: var(--color-canvas-background);
  border-color: var(--color-btn-default-border);
}

.github-dimmed-dark .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
}

/* Tables */

.github-dimmed-dark .table-bordered {
  border: 1px solid var(--color-background);
  box-shadow: none;
  font-weight: 400;
}

.github-dimmed-dark .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
}

.github-dimmed-dark .table-bordered thead th {
  color: var(--color-foreground);
  border: 1px solid var(--color-table-heading-background);
  color: var(--color-foreground);
}

.github-dimmed-dark .table thead th {
  color: var(--color-foreground);
  border: 1px solid var(--color-table-heading-background);
  background-color: var(--color-table-heading-background);
  vertical-align: text-bottom;
}

.github-dimmed-dark .table {
  background-color: var(--color-canvas-background);
  color: var(--color-foreground);
  vertical-align: middle;
  font-weight: 400;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.github-dimmed-dark .table tbody tr td {
  border: none;
  vertical-align: text-bottom;
}

.github-dimmed-dark .table tbody tr:nth-of-type(2n) {
  background-color: var(--color-table-row-hover);
  border: none;
}

.github-dimmed-dark .table tbody tr:nth-of-type(odd) {
  background-color: unset;
  border: none;
}

.github-dimmed-dark .table-hover tbody tr:hover {
  background-color: var(--color-table-row-hover);
  color: unset;
}

.github-dimmed-dark .artifact-search-table td:hover {
  background-color: var(--color-table-row-hover);
  color: unset;
}

.github-dimmed-dark table tr.row-selected,
.github-dimmed-dark table tr.row_selected td {
  background-color: var(--color-table-row-selected);
  color: var(--color-text-default);
}

/* Column search screen */
.github-dimmed-dark th.sortable input {
  background-color: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-border);
  font-weight: 600;
}

/* Resizer dividers */
.github-dimmed-dark .Resizer.horizontal {
  border: none;
  background-color: var(--color-resizer);
  height: 5px;
}

.github-dimmed-dark .Resizer.horizontal:hover {
  background-color: var(--color-resizer);
}

.github-dimmed-dark .Resizer.vertical {
  border: none;
  background-color: var(--color-btn-border);
  width: 3px;
}

.github-dimmed-dark .Resizer.vertical:hover {
  background-color: var(--color-resizer);
}

.github-dimmed-dark .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.github-dimmed-dark .card {
  background-color: var(--color-background);
  border-color: var(--color-btn-border);
}

.github-dimmed-dark .dashboard .card {
  border: none;
}

.github-dimmed-dark .card-header {
  background-color: var(--color-card-heading-background);
  color: var(--color-foreground);
  font-weight: 600;
}

.github-dimmed-dark .card-body {
  background-color: var(--color-canvas-background);
  color: var(--color-foreground);
}

.github-dimmed-dark .card-body dt,
.github-dimmed-dark .card-body label {
  font-weight: 600;
  color: var(--color-accent-100);
}

/* Json container */
.github-dimmed-dark div.pretty-json-container {
  filter: invert(0);
}

/* Tabs */
.github-dimmed-dark .tab-content {
  color: var(--color-foreground);
  padding-block-start: 3px;
}

.github-dimmed-dark .nav-tabs {
  border-bottom: none;
}

.github-dimmed-dark .nav-tabs .nav-link {
  background-color: var(--color-tab);
  color: var(--color-foreground-dimmed);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-left-color: var(--color-btn-border);
  border-bottom: 2px transparent;
  font-weight: 600;
}

.github-dimmed-dark .nav-tabs .nav-link:hover {
  background: var(--color-btn-border);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-foreground-dimmed);
}

.github-dimmed-dark .nav-tabs .nav-link:active {
  background: var(--color-btn-border);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-tab-active-border);
}

.github-dimmed-dark .nav-tabs .nav-link.active {
  background-color: var(--color-tab-active);
  color: var(--color-foreground);
  border-bottom: 2px solid var(--color-tab-active-border);
}

/* Forms */
.github-dimmed-dark .form-control {
  background-color: var(--color-btn-default-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.github-dimmed-dark .form-control:focus {
  box-shadow: none;
}

.github-dimmed-dark .input-group-prepend .input-group-text {
  background-color: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.github-dimmed-dark .input-group .custom-file-label {
  background-color: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.github-dimmed-dark .input-group .custom-file-label:after {
  background-color: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 400;
}

/* Artifact viewer screen */

.github-dimmed-dark .report-viewer h1 {
  color: var(--color-accent-100);
}

.github-dimmed-dark .report-viewer h2 {
  color: var(--color-accent-100);
}

.github-dimmed-dark .report-viewer h3 {
  margin-top: 2rem;
  color: #daaa3f;
}

.github-dimmed-dark .report-viewer h4 {
  color: #57ab5a;
}

.github-dimmed-dark .report-viewer h5 {
  color: #57ab5a;
}

.github-dimmed-dark .artifact-search-table a {
  color: var(--color-foreground);
}

.github-dimmed-dark .report-viewer {
  color: var(--color-foreground);
}

.github-dimmed-dark .report-viewer pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  background: inherit;
  filter: invert(1);
  color: var(--color-foreground-inverse);
}

.github-dimmed-dark .report-viewer a {
  color: var(--color-accent-complement);
}

.github-dimmed-dark .report-viewer pre > a {
  color: var(--color-accent-complement);
}

.github-dimmed-dark .artifact-search-table.selectable.container tbody tr:hover {
  background-color: var(--color-table-row-hover);
}

.github-dimmed-dark .artifact-search-table.selectable.container tr.row-selected,
.github-dimmed-dark .artifact-search-table.selectable.container tr.row_selected > td {
  background-color: var(--color-table-row-selected);
  color: var(--color-text-default);
}

/* Modal dialogs */
.github-dimmed-dark .modal-content {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
}

.github-dimmed-dark .modal-content dt {
  color: var(--color-accent-100);
}

.github-dimmed-dark .modal-header {
  border-bottom: 2px solid var(--color-btn-default-border);
}

.github-dimmed-dark .modal-header .close {
  color: var(--color-foreground-dimmed);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

.github-dimmed-dark .modal-header .close:hover,
.github-dimmed-dark .modal-header .close:focus {
  color: var(--color-foreground);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

.github-dimmed-dark .modal-footer {
  border-top: 2px solid var(--color-btn-default-border);
}

.github-dimmed-dark .modal-content pre {
  font-family: var(--font-family-monospace);
  background: inherit;
  filter: invert(1);
  font-size: inherit;
}

/* Notebooks */
.github-dimmed-dark .cell-toolbar,
.github-dimmed-dark .notebook-input {
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-width: 0;
}

.github-dimmed-dark .notebook-input pre {
  font-family: var(--font-family-monospace);
  font-size: inherit;
  filter: invert(1);
  border-color: #ffffff00;
}

.github-dimmed-dark .notebook-cell {
  background-color: var(--color-background);
}

.github-dimmed-dark .notebook-cell.selected {
  border-color: var(--color-btn-border);
}

/* react timelines */
.github-dimmed-dark .react-calendar-timeline .rct-sidebar {
  color: var(--color-foreground);
}

/* file tree */
.github-dimmed-dark .file-tree ul {
  font-size: 16px;
  color: var(--color-foreground);
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
}

.github-dimmed-dark .tree-folder {
  padding-left: 5px;
  font-size: 16px;
  color: var(--color-foreground);
}

/* Scrollbars */

.github-dimmed-dark ::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

/* Table column selector */
.github-dimmed-dark .dropdown-menu {
  background-color: var(--color-canvas-background);
}

.github-dimmed-dark .dropdown-item {
  color: var(--color-foreground);
  background-color: var(--color-btn-default-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

.github-dimmed-dark .dropdown-item:hover {
  background-color: var(--color-accent-50);
}

.github-dimmed-dark .dropdown-item:active {
  background-color: var(--color-accent-50);
}

/* Datepicker */
.github-dimmed-dark .react-datepicker,
.github-dimmed-dark .react-datetime-picker {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.github-dimmed-dark .react-datetime-picker__inputGroup__input,
.github-dimmed-dark .react-datetime-picker__button {
  filter: invert(0);
}

.github-dimmed-dark .react-datepicker-popper {
  z-index: 10;
}

.github-dimmed-dark .react-datepicker__day {
  color: var(--color-foreground);
}

.github-dimmed-dark .react-datepicker__day[aria-disabled="false"] {
  background-color: var(--color-table-row-selected);
  color: var(--color-foreground);
}

/* Footer */
.github-dimmed-dark .app-footer.fixed-bottom {
  background-color: var(--color-footer-background);
  color: var(--color-foreground-dimmed);
  font-family: var(--font-family-sans-serif);
  border-top: 1px solid var(--color-btn-border);
}

/* Spinner */
.github-dimmed-dark .overlay .fa-spinner {
  filter: invert(1);
}

/* Shell input */
.github-dimmed-dark .shell-command .input-group .form-control {
  font-family: var(--font-family-monospace);
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  height: auto;
}

.github-dimmed-dark .shell-command .velo-ace-editor {
  -webkit-flex: auto;
  flex: auto;
  width: 1%;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

/* Shell output */
.github-dimmed-dark .notebook-output pre {
  filter: invert(1);
  border-color: var(--color-btn-border);
  font-size: inherit;
}

.github-dimmed-dark .shell-cell {
  border: 1px solid var(--color-btn-border);
}

/* ACE things */
.github-dimmed-dark .ace_tooltip {
  background-color: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-border);
  font-family: var(--font-family-sans-serif);
}

.github-dimmed-dark .shell-command .ace_editor {
  overflow: visible;
  font-family: var(--font-family-monospace);
}

.github-dimmed-dark .shell-command .show > .btn-primary.dropdown-toggle {
  background-color: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.github-dimmed-dark .shell-command .show > .btn-primary.dropdown-toggle:active {
  background-color: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.github-dimmed-dark .shell-command .show > .dropdown-menu.show {
  background: var(--color-btn-default-background);
  border: 1px solid var(--color-btn-border);
}

.github-dimmed-dark .custom-tooltip {
  margin: 0;
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-btn-border);
  white-space: nowrap;
  display: block;
}

.github-dimmed-dark .file-hex-view td,
.github-dimmed-dark .file-hex-view th {
  border: 0px;
}

.github-dimmed-dark .labels,
.github-dimmed-dark .velo__control,
.github-dimmed-dark .velo__menu {
  background-color: var(--color-canvas-background);
  color: var(--color-foreground);
}

.github-dimmed-dark .velo__multi-value {
  background-color: var(--color-canvas-background);
}

.github-dimmed-dark .velo__input {
  color: var(--color-foreground);
}

.github-dimmed-dark .velo__option:hover,
.github-dimmed-dark .velo__option--is-focused,
.github-dimmed-dark .velo__multi-value:hover {
  background-color: var(--color-btn-default-background-hover);
}

.github-dimmed-dark hr {
  background-color: var(--color-foreground-dimmed);
}

.github-dimmed-dark img.velo-logo {
  opacity: 0.8;
}

.github-dimmed-dark .icon-small {
  vertical-align: middle;
  opacity: 0.8;
}

.github-dimmed-dark input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

.github-dimmed-dark .no-content {
  color: var(--color-foreground-dimmed);
}

.github-dimmed-dark .velo-ace-editor {
  border-width: 0px;
  border-style: inset;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

.github-dimmed-dark .error-message {
  font-size: 12pt;
  color: #daaa3f !important;
}

.github-dimmed-dark .alert {
  text-shadow: none;
  box-shadow: none;
}
