@font-face {
  font-family: "Iosevka Term";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/iosevka-term-medium-subset.woff2") format("woff2");
    unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Iosevka Term";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("../fonts/iosevka-term-bold-subset.woff2") format("woff2");
  unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

.midnight {
  --font-size-large: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-family-sans-serif: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-monospace: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-paragraph: "Iosevka Term", Iosevka-Term, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  --color-foreground: red;
  --color-foreground-inverse: #100e0c;
  --color-foreground-dimmed: #850000;

  --accent-color: red;
  --color-accent: 135, 184, 221;
  --color-accent-complement: blue;
  --color-accent-100: #ffffffff;
  --color-accent-75: #BF0000;
  --color-accent-50: #800000;
  --color-accent-25: #400000;

  --color-header-background: black;
  --color-footer-background: black;
  --color-canvas-background: #0A0A0A;
  --color-canvas-background-complement: whitesmoke;
  --color-form-control-background: var(--color-btn-default-background);

  --color-sidebar-inactive-foreground-hover: #FFD500;
  --color-sidebar-inactive-background-hover: #BF0000;
  --color-sidebar-foreground: var(--color-accent-75);
  --color-sidebar-disabled-foreground: var(--color-accent-50);
  --color-sidebar-background: black;
  --color-sidebar-active-foreground: #E6C000;
  --color-sidebar-active-background: var(--color-canvas-background);

  --color-client-link: var(--color-foreground-dimmed);
  --color-client-link-hover: var(--color-accent-100);
  --color-tooltip-background: var(--color-btn-outline-link);

  --color-tab: black;
  --color-tab-active: var(--color-tab);
  --color-tab-active-border: var(--color-foreground);
  --color-tab-hover-border: var(--color-btn-default-border);

  --color-resizer: var(--color-foreground-dimmed);
  --color-resizer-hover: var(--color-accent-100);
  --color-scrollbar-track: var(--color-canvas-background);
  --color-scrollbar-thumb: var(--color-accent-50);
  --color-scrollbar-thumb-hover: var(--color-accent-100);
  --color-scrollbar-main: var(--color-accent-25);
  --color-scrollbar-background: rgba(var(--color-accent), 0.1);

  --color-btn-border: #850000;
  --color-btn-default-border: #850000;
  --color-btn-default-border-hover: red;
  --color-btn-default-background: black;
  --color-btn-default-background-hover: #BF0000;
  --color-btn-outline-link: #400000;
  --color-btn-outline-link-hover: var(--color-accent-75);

  --color-card-heading-background: #400000;
  --color-cell-toolbar-background: #222222;
  --color-monospace-color: var(--color-foreground);

  --color-table-row-stripe: #0A0A0A;
  --color-table-row-selected: #BF001D;
  --color-table-row-selected-text: #FFD500;
  --color-table-row-hover: rgba(255, 0, 0, 0.2);
  --color-table-heading-foreground: var(--color-foreground-dimmed);
  --color-table-heading-background: black;

  --color-no-content: var(--color-foreground-dimmed);

  --color-form-background: #fceff4;

  --color-page-link-active-background: var(--color-accent-75);
  --color-page-link-hover-background: var(--color-accent-25);
  --color-page-link-background: var(--color-canvas-background);
  --color-pagination-disabled: var(--color-btn-border);

  --color-timeline-header: black;
  --color-timeline-table-shown: #dd4b3920;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --color-vfs-files-timestomped: #ed5d40;
  --color-calendar-background: var(--color-canvas-background);
  --color-level-error: #ff0000;

  --color-danger-emphasis: #dd4b3920;

  --invalid-form-control-error: #ff7f00;


}

.midnight img.velo-logo {
  filter: brightness(0) saturate(100%) invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
}

.midnight .sidebar-icon {
  filter: brightness(0) saturate(100%) invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
}

body.midnight {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 0.4px;
}

.midnight #content {
  top: 50px;
}

.midnight h1,
.midnight h2,
.midnight h3 {
  color: darkorange;
  letter-spacing: 0.4px;
}

.midnight dl {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 0.4px;
  color: darkorange;
}

.midnight a {
  color: darkorange;
}

.midnight code {
  font-family: var(--font-family-monospace);
  color: var(--color-accent-100);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

.midnight pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  /* background: #d5cbc3; */
  border: 1px solid #9c9184;
  filter: invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
  /* color: var(--color-foreground-inverse); */
  letter-spacing: 0.4px;
}

.midnight td > pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  background: inherit;
  border: none;
  letter-spacing: 0.4px;
  filter: invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
}

.midnight .monospace {
  font-family: var(--font-family-monospace);
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

/* Top Navbar */
.midnight .main-navbar {
  background: var(--color-header-background);
  border-color: var(--color-header-background);
  box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
  height: 50px;
}

.midnight .hamburger {
  color: var(--color-sidebar-foreground);
}

.midnight .dropdown .dropdown-toggle.btn.btn-default {
  border-radius: 0;
  border-left-width: 0;
}

.midnight .client-summary {
  font-family: var(--font-family-sans-serif);
  color: var(--color-foreground);
}

.midnight .client-status .client-name {
  background: var(--color-accent-25);
  text-decoration: none !important;
  text-shadow: none;
  padding: 6px 10px 8px 10px;
  border-radius: 0;
  margin: 5px;
  font-size: var(--font-size-base);
  border-color: var(--color-btn-default-border);
}

.midnight .client-status .client-name:hover {
  color: #FFD500;
  background: var(--color-client-link-hover);
  font-weight: 700;
}

.midnight .react-autosuggest__input {
  background: var(--color-form-control-background);
  border-radius: 0;
  border: 1px solid var(--color-btn-default-border);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  text-decoration: none !important;
  text-shadow: none;
}

.midnight .react-autosuggest__suggestions-container--open {
  background: var(--color-form-control-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.midnight .react-autosuggest__suggestion--highlighted {
  background: var(--color-accent-50);
  color: black;
}

/* Sidebar navbar */

.midnight div#navigator {
  top: 50px;
  font-size: var(--font-size-base);
  font-family: var(--font-family-sans-serif);
  color: var(--color-sidebar-foreground);
  border-right: 0;
  background: var(--color-header-background);
}

.midnight .nav-pills .nav-link {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-sidebar-foreground);
  padding-top: 1em;
  padding-bottom: 1em;
}

.midnight nav.navigator .nav-pills .nav-link {
  padding: 0;
}

.midnight .navigator.nav-pills.nav li:hover > a:not(.active) {
  color: var(--color-sidebar-inactive-foreground-hover);
  background: var(--color-sidebar-inactive-background-hover);
}

.midnight .navigator.nav-pills.nav li:has(a.active) {
  background: var(--color-sidebar-active-background);
}

.midnight .navigator.nav-pills.nav li a.active {
  color: var(--color-sidebar-active-foreground);
}

.midnight .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

.midnight .nav-link span {
  width: 18px;
  margin-right: 10px;
  display: inline-block;
  font-size: var(--font-size-base);
}

.midnight .nav-link {
  line-break: anywhere;
}

.midnight .navicon {
  margin-right: 0px;
}

/* Buttons */
.midnight .button.close:focus {
  outline: none;
}

.midnight .btn,
.midnight .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-size: inherit;
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  border-radius: 0;
}

.midnight .input-group-text:hover,
.midnight .btn:hover,
.midnight .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: #FFD500;
  text-shadow: none;
  border-radius: 0;
  text-decoration: none;
  font-weight: 700;
}

.midnight .btn.active.btn-default {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: #FFD500;
  font-weight: 700;
  text-shadow: none;
  border-radius: 0;
}

.midnight .btn[disabled] {
  color: var(--color-foreground-dimmed);
  background: var(--color-canvas-background);
}

.midnight .btn-primary {
  text-shadow: none;
  box-shadow: none;
  color: black;
  background: var(--color-table-row-selected);
  border-radius: 0;
}

.midnight .btn-primary:hover:not(:disabled):not(.disabled) {
  background: var(--color-table-row-selected);
}

.midnight .btn-secondary {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-canvas-background);
  border-radius: 0;
}

.midnight .btn-default {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
  border-radius: 0;
}

.midnight .btn-outline-default {
  border: none;
  background: var(--color-btn-default-background);
  border-radius: 0;
}

.midnight .btn-outline-info,
.midnight .btn-link {
  color: var(--color-foreground);
  background: var(--color-sidebar-active-background);
  text-shadow: none;
  border-radius: 0;
  margin: 1px;
}

.midnight .client-link.btn.btn-outline-info {
  width: unset;
}

.midnight .btn-outline-info:hover {
  color: #FFD500 !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
  border-radius: 0;
  font-weight: 700;
}

.midnight .btn-outline-info:active {
  color: whitesmoke !important;
  background: var(--color-btn-outline-link-hover) !important;
  text-shadow: none !important;
  border-radius: 0;
}

.midnight .client-link {
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  font-family: var(--font-family-sans-serif);
  font-size: inherit;
  border-radius: 0;
}

.midnight .btn.btn-link {
  border-color: transparent;
  width: 100%;
  background: #300000;
  color: var(--color-foreground);
  border-radius: 0;
  font-weight: 500;
}

.midnight .alert-secondary {
  color: var(--color-foreground);
  background: var(--color-table-heading-background);
}

.midnight .alert-secondary th {
  border: 1px solid var(--color-table-heading-background);
}

.midnight .btn-danger:disabled,
.midnight .btn-danger[disabled] {
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
  border-radius: 0;
}

.midnight .btn-danger:not(:disabled):not(.disabled) {
  color: whitesmoke;
  background: var(--color-danger-emphasis);
  border-color: var(--color-danger-emphasis);
  /* box-shadow: 0 0 0 0.2rem rgba(201 60 55 / 0.5); */
  border-radius: 0;
}

/* Pagination */
.midnight .page-item .page-link {
  background: var(--color-btn-default-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.midnight .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.midnight .page-item input {
  background: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
}

.midnight .page-item.active .page-link:hover,
.midnight .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
  color: black;
}

.midnight .page-item .page-link:hover {
  background: var(--color-page-link-hover-background);
  border-color: var(--color-btn-default-border);
}

.midnight .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.2)
}

.midnight .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
  padding-left: 15px;
}

/* Tables */

.midnight .table-bordered {
  border: 1px solid var(--color-btn-default-border);
  box-shadow: none;
  font-weight: 500;
}

.midnight .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
}

.midnight .table {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  vertical-align: middle;
  font-weight: 500;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.midnight .table-bordered thead th {
  color: var(--color-foreground);
  font-weight: 500;
  border: 1px solid var(--color-btn-default-border);
  /* background: var(--color-table-heading-background); */
}

.midnight .table thead th {
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-default-border);
  background: var(--color-table-heading-background);
  vertical-align: text-bottom;
  font-weight: 700;
}

.midnight .table tbody tr td {
  border: none;
}

.midnight .table tbody tr:nth-of-type(2n) {
  background: var(--color-table-row-stripe);
  border: none;
}

.midnight .table tbody tr:nth-of-type(odd) {
  background: unset;
  border: none;
}

.midnight .paged-table.table tbody tr:hover td {
  background: var(--color-table-row-hover);
  color: var(--color-foreground);
}

.midnight .paged-table.table tbody tr.row-selected,
.midnight .paged-table.table tbody tr.row-selected:hover,
.midnight .paged-table.table tbody tr.row-selected td {
  background: var(--color-table-row-selected);
  color: var(--color-table-row-selected-text);
  font-weight: 700;
}

.midnight .table tr.flow-urgent {
  font-weight: 500;
  color: darkorange;
}

.midnight .table-hover tbody tr.flow-urgent:hover {
  font-weight: 500;
  color: orange;
}

.midnight .table tbody tr.flow-urgent.row-selected {
  font-weight: 700;
  color: #FFD500;
}

.midnight .new-artifact-search-table.selectable .table.table-bordered,
.midnight .new-artifact-search-table.selectable .table.table-bordered tbody tr,
.midnight .new-artifact-search-table.selectable .table.table-bordered thead th {
  background: none;
  border: none;
}

.midnight .new-artifact-search-table.selectable .table.table-bordered tbody tr > td > button.btn.btn-link:hover {
  background: var(--color-btn-outline-link-hover);
  color: black;
}

.midnight .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link,
.midnight .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link:hover {
  background: var(--color-accent-100);
  color: #FFD500;
  font-weight: 700;
  text-decoration: none;
}

/* .midnight .new-artifact-search-table.selectable > div > table > tbody > tr.row-selected > td > button.btn.btn-link {
  background: var(--color-accent-75);
  text-decoration: none;
  color: #FFD500;
  font-weight: 700;
} */


/* Column search screen */
.midnight th.sortable input {
  background: rgba(0,0,0,.3);
  color: var(--color-foreground);
  border-color: var(--color-btn-border);
  font-size: var(--font-size-base);
  font-weight: 700;
}

/* Resizer dividers */
.midnight .Resizer.horizontal {
  border: none;
  background: var(--color-btn-default-border);
  height: 3px;
}

.midnight .Resizer.horizontal:hover {
  background: var(--color-resizer-hover);
}

.midnight .Resizer.vertical {
  border: none;
  background: var(--color-header-background);
  width: 3px;
}

.midnight .Resizer.vertical:hover {
  background: var(--color-resizer-hover);
}

.midnight .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.midnight .card {
  background: var(--color-canvas-background);
  border-color: var(--color-canvas-background);
}

.midnight .dashboard .card {
  border: none;
}

.midnight .card-header {
  font-weight: 700;
  color: #FFD500;
  border-bottom: 3px solid var(--color-accent-50);
}

.midnight .card-body {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
}

.midnight .card-body dt,
.midnight .card-body label {
  font-weight: 500;
  color: var(--color-foreground);
}

.midnight .card-body .col-4 {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 0;
  color: var(--color-foreground);
}

.midnight .card-body .col-8 {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 0;
}

/* Json container */
.midnight div.pretty-json-container {
  font-family: var(--font-family-monospace);
  filter: invert(0);
}

.midnight .invalid.form-control,
.midnight .invalid.form-control:focus {
  color: #FFFF00;
  background: var(--invalid-form-control-error);
}

/* Tabs */
.midnight .tab-content {
  color: var(--color-foreground);
  padding-block-start: 12px;
}

.midnight .nav-tabs {
  border-bottom: none;
}

.midnight .nav-tabs .nav-link {
  background: var(--color-tab);
  color: var(--color-accent-50);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-left-color: var(--color-btn-border);
  border-bottom-color: var(--color-btn-border);
  border-bottom: 1px solid var(--color-btn-border);
  border-width: 1px;
  font-size: var(--font-size-base);
  font-weight: 700;
}

.midnight .nav-tabs .nav-link:hover {
  background: var(--color-tab);
  color: darkorange;
  border-bottom: 3px solid darkorange;
}

.midnight .nav-tabs .nav-link:active,
.midnight .nav-tabs .nav-link.active {
  background: var(--color-tab-active);
  color: var(--color-foreground);
  border-bottom: 3px solid var(--color-tab-active-border);
  font-weight: 700;
}

/* Form controls */

.midnight .estimate.alert-info {
  background-color: #200000;
}

.midnight .custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
  background-color: var(--color-accent-25);
}

.midnight .form-control,
.midnight .velo__control,
.midnight .velo__menu {
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-foreground);
  border-radius: 0;
  border-color: var(--color-btn-default-border);
  background: var(--color-form-control-background);
  box-shadow: none;
}

.midnight .accordion,
.midnight .accordion > .card,
.midnight .accordion > .card > .card-header {
  background: var(--color-form-control-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.midnight .form-control:focus,
.midnight .velo__control:focus {
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  box-shadow: none;
  border-radius: 0;
  border-color: var(--color-btn-default-border);
  background: var(--color-form-control-background);
}

.midnight .form-control:hover,
.midnight .velo__control:hover {
  border-radius: 0;
  font-size: var(--font-size-base);
  box-shadow: none;
  border-color: var(--color-btn-default-border) !important;
}

/* Timezone selector */

.midnight .velo__option,
.midnight .velo__option--is-focused {
  background: var(--color-form-control-background) !important;
}

.midnight .velo__option:hover {
  background: var(--color-table-row-hover) !important;
}

.midnight .velo__input {
  color: var(--color-foreground) !important;
}

.midnight .velo__option.velo__option--is-selected {
  background: var(--color-table-row-selected) !important;
  color: var(--color-foreground) !important;
}

.midnight .velo__indicator-separator {
  width: 0;
}

.midnight .velo__indicator {
  color: var(--color-foreground);
}

.midnight ::placeholder {
  color: var(--color-foreground-dimmed) !important;
  font-weight: 500 !important;
}

.midnight .velo__placeholder {
  color: var(--color-foreground-dimmed);
  font-weight: 500 !important;
}

.midnight .ace_placeholder {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-large);
  letter-spacing: 0.4px;
  color: var(--color-foreground) !important;
  font-weight: 500 !important;
}

.midnight .velo__multi-value {
  border: 1px solid var(--color-accent-100);
  border-radius: 0;
  background-color: var(--color-canvas-background);
}

.midnight .velo__multi-value__label {
  color: var(--color-foreground-inverse);
  background-color: var(--color-accent-100);
  border: none;
  border-radius: 0;
  font-size: var(--font-size-small);
}

.midnight .velo__multi-value__remove {
  color: var(--color-foreground-inverse);
  background-color: var(--color-accent-100);
  border-radius: 0;
}

.midnight .velo__multi-value__remove:hover {
  color: black;
  background-color: #FFD500;
  font-weight: 700;
}

.midnight .input-group-text {
  background: var(--color-btn-default-background-hover);
  box-shadow: none;
  color: black;
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.midnight .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.midnight .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 500;
}

/* Artifact viewer screen */

.midnight .report-viewer .description-content {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
  color: darkorange;
  padding: 12px;
}

.midnight .report-viewer h1 {
  color: darkorange;
}

.midnight .report-viewer h2 {
  color: darkorange;
}

.midnight .report-viewer h3 {
  margin-top: 2rem;
  font-size: 18px;
  color: var(--color-foreground);
}

.midnight .report-viewer h4 {
  font-size: 16px;
  color: #FFD500;
}

.midnight .report-viewer h5 {
  font-size: 14px;
  color: #FFD500;
}

.midnight .report-viewer {
  color: var(--color-foreground);
}

.midnight .report-viewer pre {
    border-radius: 0;
    background: rgba(255,255,255,.05);
    border: 0.5px solid var(--color-btn-border);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.midnight .report-viewer code {
  background: #800000;
  border-radius: 0;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
}

.midnight .report-viewer pre > a {
  filter: brightness(0) saturate(100%) invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
}

/* artifact search */

.midnight .artifact-search-table a {
  color: inherit;
}

.midnight .artifact-search-table.selectable.container tbody {
  pointer-events: all;
}

.midnight .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.midnight .artifact-search-table.selectable.container tr.row-selected .link-button,
.midnight .artifact-search-table.selectable.container tr.row-selected:hover,
.midnight .artifact-search-table.selectable.container tr.row_selected > td {
  background: var(--color-table-row-selected);
  color: #FFD500;
}

/* Modal dialogs */
.midnight .modal-content {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  border: 1px solid var(--color-btn-default-border);
  border-radius: 0;
}

.midnight .modal-content dt {
  color: var(--color-accent-100);
}

.midnight .modal-header {
  border-bottom: 2px solid var(--color-btn-default-border);
  background: #200000;
}

.midnight .modal-header .btn-close {
  color: var(--color-foreground-dimmed);
  opacity: 0.8;
  filter: brightness(0) saturate(100%) invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
  text-shadow: none;
  outline: none;
}

.midnight .modal-header .btn-close:hover,
.midnight .modal-header .btn-close:focus {
  color: var(--color-foreground);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

.midnight .modal-footer {
  border-top: 2px solid var(--color-btn-default-border);
  background: #200000;
}

.midnight .modal-content pre {
  font-family: var(--font-family-monospace);
  background: inherit;
  filter: invert(16%) sepia(62%) saturate(7115%) hue-rotate(358deg) brightness(96%) contrast(122%);
  font-size: inherit;
}

/* Notebooks */

.midnight .btn-outline-info .timestamp {
  color: var(--color-foreground);
  font-weight: 500;
}

.midnight .cell-toolbar,
.midnight .notebook-input {
  background: var(--color-accent-25);
  color: var(--color-foreground);
  border-width: 0;
}

.midnight .notebook-input pre {
  font-family: var(--font-family-monospace);
  font-size: inherit;
  filter: invert(1);
  border-color: #ffffff00;
}

.midnight .notebook-cell {
  background: var(--color-canvas-background);
}

.midnight .notebook-cell.selected {
  border-color: var(--color-btn-border);
}

/* react timelines */
.midnight .react-calendar-timeline .rct-sidebar,
.midnight .react-calendar-timeline .rct-dateHeader {
  color: var(--color-foreground);
  font-size: var(--font-size-small);
}

.midnight .react-calendar-timeline .rct-sidebar {
  border-right: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-sidebar.rct-sidebar-right {
  border-right: 0;
  border-left: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border-bottom: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  border-left: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.midnight .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-dateHeader {
  border-left: 2px solid var(--color-foreground-dimmed);
  border-bottom: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-dateHeader-primary {
  background-color: initial;
  border-left: 1px solid var(--color-foreground-dimmed);
  border-right: 1px solid var(--color-foreground-dimmed);
  color: var(--color-foreground);
}

.midnight .react-calendar-timeline .rct-header-root {
  border-bottom: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .rct-calendar-header {
  border: 1px solid var(--color-foreground-dimmed);
}

.midnight .react-calendar-timeline .timeline-marker {
  color: #FFD500;
}

.midnight .react-calendar-timeline .rct-item * {
  border: none;
  background: #FFD500;
}

/* file tree */

.midnight .file-tree .isActive {
  background: var(--color-accent-50);
  color: #FFD500;
}

.midnight .file-tree > ul > ul > li {
  color: darkorange;
}

/* Scrollbars */

.midnight ::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

/* Dropdown menus */
.midnight .dropdown-menu {
  background: var(--color-canvas-background);
}

.midnight .dropdown-item {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

/* Footer */
.midnight .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-foreground-dimmed);
  font-family: var(--font-family-sans-serif);
  border-top: 0;
}

/* Spinner */
.midnight .overlay .fa-spinner {
  color: red;
  filter: invert(0);
}

/* Shell input */
.midnight .shell-command .input-group .form-control {
  font-family: var(--font-family-monospace);
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  height: auto;
}

.midnight .shell-command .velo-ace-editor {
  -webkit-flex: auto;
  flex: auto;
  width: 1%;
  min-width: 0;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

/* Shell output */
.midnight .notebook-output pre,
.midnight .notebook-input pre {
  background-color: unset;
  border-color: var(--color-btn-border);
  font-size: inherit;
}

.midnight .shell-cell {
  border: 1px solid var(--color-btn-border);
}

/* ACE things */
.midnight .ace_tooltip {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-btn-border);
  font-family: var(--font-family-sans-serif);
}

.midnight #ace_settingsmenu {
  background: var(--color-footer-background);
}

.midnight #ace_settingsmenu button,
.midnight #ace_settingsmenu input,
.midnight #ace_settingsmenu select {
  background: var(--color-sidebar-active-background);
}

.midnight .shell-command .ace_editor {
  overflow: visible;
  font-family: var(--font-family-monospace);
}

.midnight .shell-command .show > .btn-primary.dropdown-toggle {
  background: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.midnight .shell-command .show > .btn-primary.dropdown-toggle:active {
  background: var(--color-accent-50);
  border-color: var(--color-accent-50);
}

.midnight .shell-command .show > .dropdown-menu.show {
  background: var(--color-canvas-background);
  border: 1px solid var(--color-btn-border);
}

.midnight .tooltip.show {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

.midnight .tooltip-inner {
  color: #FFD500;
  background-color: var(--color-tooltip-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 700;
}

.midnight .tooltip.bs-tooltip-top {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-foreground);
}

.midnight .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-tooltip-background);
}

.midnight .file-hex-view td,
.midnight .file-hex-view th {
  border: 0px;
}

.midnight hr {
  background: var(--color-foreground-dimmed);
  height: 1px;
  border: none;
  margin-top: 2em;
}

.midnight .icon-small {
  vertical-align: middle;
  opacity: 0.8;
}

.midnight .no-content {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
  color: var(--color-foreground-dimmed);
}

.midnight .velo-ace-editor {
  border-width: 0px;
  border-style: inset;
  height: 100%;
  overflow-y: auto;
  border-color: var(--color-btn-border);
}

.midnight div.error-message {
  color: #daaa3f !important;
}

.midnight div.info-message {
  color: grey !important;
}

.midnight .alert {
  text-shadow: none;
  box-shadow: none;
}

.midnight .custom-file-input:focus ~ .custom-file-label {
  box-shadow: none;
  color: #FFD500;
}

.midnight .json-index {
    color: #d90429;
}

.midnight .json-key {
    color: #ec7505;
}

.midnight .json-string {
    padding-left: 5px;
    color: #e89005;
}

.midnight .json-number {
    padding-left: 5px;
    color: #FFD500;
}

.midnight .json-null {
  padding-left: 5px;
  color: #6a040f;
}

.midnight .json-boolean {
  padding-left: 5px;
  color: #FFD500;
}
