@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../fonts/noto-sans-v27-latin-ext_latin-regular.woff2") format("woff2");
    font-display: block;
}

@font-face {
    font-family: "Noto Sans";
    font-style: bold;
    font-weight: 600;
    src: local(""),
      url("../fonts/noto-sans-v27-latin-ext_latin-600.woff2") format("woff2");
    font-display: block;
}

.no-theme {
    --font-size-large: 16px;
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-family-sans-serif: "Noto Sans", roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Helvetica Neue", Arial, sans-serif;
}

body.no-theme {
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-base);
    letter-spacing: 0.4px;
}

.no-theme code,
.no-theme pre,
.no-theme .monospace {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  color: var(--color-code);
}

.no-theme .report-viewer .description-content {
    font-family: var(--font-family-paragraph);
    font-size: 16px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 12px;
}

.no-theme .btn.btn-default {
    background-image: linear-gradient(180deg,#fff 0,#e0e0e0);
    background-repeat: repeat-x;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffe0e0e0",GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    text-shadow: 0 1px 0 #fff;
}

.no-theme .btn.btn-primary {
    color: #fff;
    background-image: linear-gradient(180deg,#337ab7 0,#265a88);
    background-repeat: repeat-x;
    border-color: #245580;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff337ab7",endColorstr="#ff265a88",GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.no-theme .btn-danger,
.no-theme .btn-default,
.no-theme .btn-info,
.no-theme .btn-primary,
.no-theme .btn-success,
.no-theme .btn-warning {
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.no-theme .main-navbar {
    border-top: 0;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: #e5e5e5;
}

.no-theme .btn-outline-info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.no-theme .btn.btn-outline-info {
    color: #17a2b8;
}

.no-theme .btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.no-theme .btn.btn-primary.flow-file-download-button {
    background: transparent;
    color: var(--color-foreground);
    text-align: left;
}

.no-theme input[type='checkbox'] {
    transform: scale(1.2);
    accent-color: var(--color-foreground);
    box-shadow: none;
}

.no-theme .react-autosuggest__input {
    background: var(--color-form-control-background);
    border: 1px solid #ccc;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-base);
    text-decoration: none !important;
    text-shadow: none;
}

.no-theme .react-autosuggest__suggestions-container--open {
    border: 1px solid #ccc;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-base);
}

.no-theme .react-autosuggest__suggestion--highlighted {
    background: var(--color-accent-25);
}

.no-theme .report-viewer code {
    background: rgba(0,0,0,.05);
    border-radius: 4px;
    border: 0.5px solid rgba(0,0,0,.1);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}