@font-face {
  font-family: "Iosevka Term";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/iosevka-term-regular-subset.woff2") format("woff2");
    unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Iosevka Term";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("../fonts/iosevka-term-bold-subset.woff2") format("woff2");
  unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-sans-v27-latin-ext_latin-regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 600;
  src: local(""),
    url("../fonts/noto-sans-v27-latin-ext_latin-600.woff2") format("woff2");
  font-display: block;
}

.pink-light {
  --font-size-large: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-family-sans-serif: "Iosevka Term", Iosevka-Term, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-paragraph: "Noto Sans", -apple-system, BlinkMacSystemFont, roboto, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  --color-foreground: #121212;
  --color-foreground-inverse: #eeeeee;
  --color-foreground-dimmed: #4f4f4f;

  --accent-color: #f48fb1;
  --color-accent: 244, 143, 177;
  --color-accent-complement: cornflowerblue;
  --color-accent-100: rgba(var(--color-accent), 1);
  --color-accent-75: rgba(var(--color-accent), 0.75);
  --color-accent-50: rgba(var(--color-accent), 0.5);
  --color-accent-25: rgba(var(--color-accent), 0.25);

  --color-header-background: var(--color-canvas-background);
  --color-footer-background: #fce4ec;
  --color-canvas-background: white;
  --color-canvas-background-complement: #f5fffb;
  --color-form-control-background: var(--color-canvas-background);

  --color-sidebar-inactive-foreground-hover: #f06292;
  --color-sidebar-inactive-background-hover: #fce4ec;
  --color-sidebar-foreground: #f48fb1;
  --color-sidebar-disabled-foreground: var(--color-accent-100);
  --color-sidebar-background: #fef4f8;
  --color-sidebar-active-foreground: white;
  --color-sidebar-active-background: var(--color-sidebar-foreground);

  --color-client-link: var(--color-foreground);
  --color-client-link-hover: var(--color-foreground);
  --color-tooltip-background: var(--color-canvas-background);

  --color-tab: #fceff4;
  --color-tab-active: #f8bbd0;
  --color-tab-active-background: black;

  --color-resizer: #f8bbd050;
  --color-resizer-hover: #f06292;
  --color-scrollbar-track: var(--color-canvas-background);
  --color-scrollbar-thumb: var(--color-btn-default-background);
  --color-scrollbar-thumb-hover: var(--color-btn-default-background-hover);
  --color-scrollbar-main: var(--color-accent-25);
  --color-scrollbar-background: rgba(var(--color-accent), 0.1);

  --color-btn-border: var(--color-sidebar-foreground);
  --color-btn-default-border: var(--color-sidebar-foreground);
  --color-btn-default-background: #f8bbd0;
  --color-btn-default-background-hover: #f48fb1;
  --color-btn-outline-link: var(--color-tab-active);
  --color-btn-outline-link-hover: var(--color-accent-100);

  --color-card-heading-background: #f8bbd080;
  --color-cell-toolbar-background: #222222;
  --color-monospace-color: #eeeeee;

  --color-table-row-stripe: rgba(0,0,0, 0.03);
  --color-table-row-selected: var(--color-accent-50);
  --color-table-row-selected-text: var(--color-foreground);
  --color-table-row-hover: rgba(var(--color-accent), 0.2);
  --color-table-heading-background: var(--color-btn-default-background);

  --color-no-content: #bbbbbb;
  --color-code: #f06292;
  --color-proto-error: #f06292;

  --color-page-link-active-background: var(--color-btn-default-background-hover);
  --color-page-link-hover-background: var(--color-accent-25);
  --color-page-link-background: var(--color-canvas-background);
  --color-pagination-disabled: #888;

  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #dd4b3920;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --color-vfs-files-timestomped: #ed5d40;
  --color-level-error: #ed5d40;

  --invalid-form-control-error: #ff6666;
}

body.pink-light {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 400;
  letter-spacing: 0.4px;
}

.pink-light code,
.pink-light pre,
.pink-light .monospace {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  color: var(--color-code);
}

.pink-light dl {
  font-family: var(--font-family-sans-serif);
}

.pink-light h1,
.pink-light h2,
.pink-light h3 {
  color: var(--color-foreground);
}

.pink-light a {
  color: var(--color-accent-complement);
}

.pink-light .alert-secondary {
  color: var(--color-foreground);
  background: var(--color-table-heading-background);
}

.pink-light .alert-secondary th {
  border: 1px solid var(--color-table-heading-background);
}

/* Top Navbar */
.pink-light .main-navbar {
  background: #fff0f5;
  border-color: whitesmoke;
}

.pink-light button.hamburger {
  background-color: #fff0f5;
  color: var(--color-sidebar-foreground);
}

.pink-light .dropdown .dropdown-toggle.btn.btn-default {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.pink-light .client-summary {
  float: left;
  font-family: var(--font-family-sans-serif);
}

.pink-light .client-status .client-name {
  color: var(--color-client-link);
    background: var(--color-btn-default-background);
    text-decoration: none !important;
    text-shadow: none;
    padding: 6px 10px 8px 10px;
    border-radius: 3px;
    margin: 5px;
    font-size: var(--font-size-base);
    border-color: var(--color-btn-default-border);
}

.pink-light .client-status .client-name:hover {
  background: var(--color-btn-outline-link-hover);
}

.pink-light .react-autosuggest__input {
  background: var(--color-form-control-background);
  border: 1px solid var(--color-btn-default-border);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  text-decoration: none !important;
  text-shadow: none;
}

.pink-light .react-autosuggest__suggestions-container--open {
  background: var(--color-form-control-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
}

.pink-light .react-autosuggest__suggestion--highlighted {
  background: var(--color-sidebar-inactive-foreground-hover);
}

/* Sidebar navbar */

.pink-light div#navigator {
  font-size: var(--font-size-base);
  font-family: var(--font-family-sans-serif);
  color: var(--color-sidebar-foreground);
  box-shadow: none;
  border-right: none;
  background: var(--color-sidebar-background);
}

.pink-light .navigator.nav-pills.nav li:hover {
  color: var(--color-sidebar-inactive-foreground-hover);
  background: var(--color-sidebar-inactive-background-hover);
}

.pink-light .navigator.nav-pills.nav li:has(a.active) {
  background: var(--color-sidebar-active-background);
}

.pink-light .navigator.nav-pills.nav li a.active {
  color: var(--color-sidebar-active-foreground);
}

.pink-light .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

.pink-light .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

/* Buttons */

.pink-light .btn,
.pink-light .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  text-shadow: none;
  box-shadow: none;
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
}

.pink-light .btn.btn-default.active {
  box-shadow: none;
  color: var(--color-sidebar-background);
}

.pink-light .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
}

.pink-light .btn-default:focus {
  background: var(--color-btn-default-background);
  color: var(--color-foreground);
}

.pink-light .btn[disabled] {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-btn-default-background);
}

.pink-light .btn-primary {
  text-shadow: none;
  box-shadow: none;
  background: #F89FBC;
}

.pink-light .btn-primary:hover:not(:disabled):not(.disabled) {
  background: var(--color-btn-default-background-hover);
}

.pink-light .btn-secondary {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
}

.pink-light .btn-secondary:hover {
  background: var(--color-btn-default-background-hover);
}

.pink-light .btn-outline-default {
  border-width: 0;
  background: none;
}

.pink-light .btn-outline-info,
.pink-light .btn-link {
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  margin: 1px;
}

.pink-light .btn-outline-info:hover {
  background: var(--color-btn-outline-link-hover);
  text-shadow: none;
}

.pink-light .btn.btn-link {
  border-color: transparent;
  width: 100%;
  background: var(--color-btn-outline-link);
  color: var(--color-foreground);
}


/* Tables */

.pink-light .table {
  color: var(--color-foreground);
  background: var(--color-canvas-background);
  vertical-align: middle;
  font-weight: 400;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table thead th {
  border: none;
  vertical-align: text-bottom;
}

.pink-light .table-bordered {
  border-color: var(--color-accent-50);
}

.pink-light .table tbody tr td {
  border-width: 0;
}

.pink-light .table tbody tr:nth-of-type(2n) {
    background: var(--color-table-row-stripe);
    border: none;
}

.pink-light .table tbody tr:nth-of-type(odd) {
  border: none;
}

.pink-light .table-bordered thead th {
  border: 1px solid var(--color-table-heading-background);
  color: var(--color-foreground);
  font-weight: 400;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table-bordered td {
  border: 1px solid var(--color-canvas-background);
}

.pink-light .table-hover tbody tr:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.pink-light .table tbody tr.row-selected,
.pink-light .table tbody tr.row-selected:hover,
.pink-light .table tbody tr.row_selected td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

.pink-light .artifact-search-table a {
  color: var(--color-foreground);
}

.pink-light .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.pink-light .artifact-search-table.selectable.container tbody tr.row-selected:hover {
  background: var(--color-table-row-selected);
}

.pink-light .new-artifact-search-table.selectable .table.table-bordered,
.pink-light .new-artifact-search-table.selectable .table.table-bordered tbody tr,
.pink-light .new-artifact-search-table.selectable .table.table-bordered thead th {
  background: none;
  border: none;
}

.pink-light .new-artifact-search-table.selectable .table.table-bordered tbody tr > td > button.btn.btn-link:hover {
  background: var(--color-btn-outline-link-hover);
}

.pink-light .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link,
.pink-light .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link:hover {
  background: var(--color-sidebar-inactive-foreground-hover);
  color: var(--color-foreground-inverse);
  font-weight: 700;
  text-decoration: none;
}

.pink-light .new-artifact-search-table .btn-link:hover,
.pink-light .new-artifact-search-table .btn-link:focus,
.pink-light .new-artifact-search-table .btn-link.focus {
  text-decoration: none;
}

/* Column search screen */

.pink-light th.sortable input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-border);
}

/* Resizer dividers */

.pink-light .Resizer.horizontal {
  border: none;
  background: var(--color-resizer);
  height: 3px;
}

.pink-light .Resizer.horizontal:hover {
  background: var(--color-resizer-hover);
}

.pink-light .Resizer.vertical {
  border: none;
  background: var(--color-resizer);
  width: 3px;
}

.pink-light .Resizer.vertical:hover {
  background: var(--color-resizer-hover);
}

.pink-light .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.pink-light .dashboard .card {
  background: var(--color-canvas-background);
  border: none;
}

.pink-light .card {
  border: none;
}

.pink-light .card-header {
  background: var(--color-card-heading-background);
  font-size: var(--font-size-base);
  border-color: var(--color-card-heading-background);
}

.pink-light .card-body {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-card-heading-background);
}

.pink-light .card-body dt,
.pink-light .card-body label {
  font-weight: 500;
  color: var(--color-sidebar-inactive-foreground-hover);
}

/* Json container */
.pink-light div.pretty-json-container {
  font-family: var(--font-family-monospace);
  filter: invert(0);
}

.pink-light .invalid.form-control,
.pink-light .invalid.form-control:focus {
  background: var(--invalid-form-control-error);
}

/* Tabs */
.pink-light .tab-content {
  color: var(--color-foreground);
}

.pink-light .nav-tabs {
  border-bottom: 1px solid var(--color-btn-default-background);
}

.pink-light .nav-tabs > a {
  background: var(--color-tab);
  color: var(--color-foreground);
  border-top-color: var(--color-accent-50);
  border-right-color: var(--color-accent-50);
  border-bottom-color: var(--color-btn-default-background);
  border-left-color: var(--color-accent-50);
}

.pink-light .nav-tabs > a:hover {
  background: var(--color-btn-outline-link-hover);
  border-color: var(--color-btn-border);
}

.pink-light .nav-tabs > a.active {
  background: var(--color-tab-active);
  color: var(--color-foreground);
  border-top-color: var(--color-accent-50);
  border-right-color: var(--color-accent-50);
  border-bottom-color: transparent;
  border-left-color: var(--color-accent-50);
}

/* Form controls */

.pink-light .custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
  background-color: var(--color-accent-25);
}

.pink-light .form-control,
.pink-light .custom-file-input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .form-control:focus {
  background: var(--color-canvas-background);
  box-shadow: 0 0 0 3px rgba(244, 143, 177,.3);
  border-color: var(--color-btn-default-border);
}

.pink-light .input-group-prepend .input-group-text {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 400;
}

/* Pagination */

.pink-light .page-item .page-link {
  background: var(--color-page-link-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.pink-light .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.pink-light .page-item input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-form-control-background);
}

.pink-light .page-item.active .page-link:hover,
.pink-light .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
}

.pink-light .page-item .page-link:hover {
  background: var(--color-page-link-hover-background);
}

.pink-light .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 77, 203, 0.25)
}

.pink-light .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
  padding-left: 15px;
}

/* Artifact viewer screen */

.pink-light .report-viewer .description-content {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-large);
  background: #F7F7F7;
  border-radius: 5px;
  padding: 12px;
}

.pink-light .report-viewer h3 {
  margin-top: 2rem;
  color: var(--color-accent-complement);
  font-weight: 400;
}

.pink-light .report-viewer h4 {
  color: var(--color-btn-border);
  font-weight: 400;
}

.pink-light .report-viewer h5 {
  color: var(--color-accent-complement);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.pink-light .report-viewer {
  color: var(--color-foreground);
}

.pink-light .report-viewer pre {
  background: #EBEBEB;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.pink-light .report-viewer code {
  background: var(--color-sidebar-background);
  border-radius: 4px;
  border: 0.5px solid var(--color-sidebar-inactive-background-hover);
  padding-left: 4px;
  padding-right: 4px;
}

.pink-light .report-viewer dt,
.pink-light .report-viewer dd {
  font-family: var(--font-family-paragraph);
}

/* modal dialogs */

.pink-light .modal-content {
  background: var(--color-tab);
  color: var(--color-foreground);
}

.pink-light .modal-header .close {
  color: var(--color-foreground);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

/* notebooks */

.pink-light .notebook-input .timestamp {
  color: var(--color-foreground);
}

.pink-light .cell-toolbar,
.pink-light .notebook-input {
  background: var(--color-table-row-hover);
  color: var(--color-foreground);
  border-width: 0;
}

.pink-light .notebook-input pre {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: #ffffff00;
}

.pink-light .notebook-cell {
  background: var(--color-canvas-background);
}

.pink-light .notebook-cell.selected {
  border-color: var(--color-btn-border);
}

/* react timelines */
.pink-light .react-calendar-timeline .rct-sidebar,
.pink-light .react-calendar-timeline .rct-dateHeader {
  color: var(--color-foreground);
  font-size: var(--font-size-small);
}

/* file tree */

.pink-light .file-tree .isActive {
  color: var(--color-foreground);
}

/* Dropdown menus */
.pink-light .dropdown-menu {
  background: var(--color-sidebar-inactive-background-hover);
}

.pink-light .dropdown-item,
.pink-light .dropdown-divider,
.pink-light .dropdown-item:focus {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  background: var(--color-sidebar-inactive-background-hover);
}

.pink-light .dropdown-item:hover,
.pink-light .dropdown-item.active:hover {
  background: var(--color-accent-75);
  color: var(--color-canvas-background);
}

.pink-light .dropdown-item.active,
.pink-light .dropdown-item.active:focus {
  background: var(--color-accent-50);
  color: var(--color-foreground);
}

/* Footer */
.pink-light .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-sidebar-inactive-foreground-hover);
  font-family: var(--font-family-sans-serif);
  border-top: none;
}

/* Shell output */
.pink-light .notebook-output pre {
  border-color: var(--color-btn-border);
}

/* ACE things */
.pink-light .ace_tooltip {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
}

.pink-light .custom-tooltip {
  margin: 0;
  padding: 10px;
  background: var(--color-canvas-background);
  border: 1px solid #ccc;
  white-space: nowrap;
  display: block;
}

.pink-light .file-hex-view td,
.pink-light .file-hex-view th {
  border: 0px;
}

.pink-light .monospace {
  color: var(--color-foreground);
}

.pink-light .labels,
.pink-light .velo__menu {
  background: var(--color-canvas-background);
  border-color: var(--color-btn-default-border);
  box-shadow: none;
  color: var(--color-foreground);
}

.pink-light .velo__control {
  background: var(--color-canvas-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.pink-light .velo__control--is-focused,
.pink-light .velo__control--menu-is-open {
  background: var(--color-canvas-background);
  border-color: var(--color-btn-default-border);
  box-shadow: none;
  color: var(--color-foreground);
}

.pink-light .velo__control:hover {
  border-color: var(--color-btn-default-border);
  box-shadow: none;
}

.pink-light .velo__multi-value {
  background: var(--color-canvas-background);
}

.pink-light .velo__input {
  color: var(--color-foreground);
}

.pink-light ::placeholder {
  color: var(--color-sidebar-foreground) !important;
}

.pink-light .velo__placeholder {
  color: var(--color-sidebar-foreground);
}

.pink-light .ace_placeholder {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
  color: var(--color-sidebar-foreground) !important;
}

.pink-light .velo__multi-value {
  border: 1px solid var(--color-btn-border);
  background-color: var(--color-accent-100);
}

.pink-light .velo__multi-value__label {
  font-size: var(--font-size-small);
  color: var(--color-foreground);
  background-color: var(--color-accent-75);
  border: none;
}

.pink-light .velo__multi-value__remove {
  color: var(--color-foreground);
  background-color: var(--color-accent-75);
  border: none;
}

.pink-light .velo__multi-value__remove:hover {
  color: var(--color-foreground);
  background-color: var(--color-canvas-background);
  font-weight: 700;
}


.pink-light hr {
  background: #EBEBEB;
  height: 2px;
  border: none;
  margin-top: 2em;
}

.pink-light .no-content {
  color: var(--color-no-content);
}

.pink-light .tooltip.show,
.pink-light .tooltip.bs-tooltip-top {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  background-color: #10181C;
  color: var(--color-foreground);
}

.pink-light .tooltip-inner {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  background-color: var(--color-tooltip-background);
}

.pink-light .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-tooltip-background);
}

.pink-light button.log-level {
    background: none;
}

.pink-light .flow-file-download-button {
    background: var(--color-accent-25);
}

.pink-light .json-expand-button {
  color: #f57c00;
}

.pink-light .json-index {
  color: darkgrey;
}

.pink-light .json-key {
  color: #f06292;
}

.pink-light .json-string {
  padding-left: 5px;
  color: #388e3c;
}

.pink-light .json-number {
  padding-left: 5px;
  color: #1976d2;
}

.pink-light .json-null {
padding-left: 5px;
color: #8d6e63;
}

.pink-light .json-boolean {
padding-left: 5px;
color: #7e57c2;
}

.pink-light .new-artifact-search-table tr th,
.pink-light .new-artifact-search-table tr td {
    background-color: var(--color-tab);
}

/* Calendar */
.pink-light .calendar-selector:hover {
    background: var(--color-sidebar-inactive-background-hover);
}

.pink-light div.calendar-day:hover,
.pink-light div.calendar-other-day:hover,
.pink-light div.calendar-selected-date {
    background: var(--color-accent-75);
    color: var(--color-canvas-background);
}
