@font-face {
  font-family: "roboto-mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-mono-v13-latin-ext_latin-regular.woff2")
      format("woff2");
  font-display: block;
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2");
  font-display: block;
}

.pink-light {
  --font-size-large: 17px;
  --font-size-base: 15px;
  --font-size-small: 13px;
  --font-family-sans-serif: roboto, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: roboto-mono, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;

  --accent-color: #f48fb1;
  --color-accent: 244, 143, 177;
  --color-accent-complement: cornflowerblue;
  --color-accent-100: rgba(var(--color-accent), 1);
  --color-accent-75: rgba(var(--color-accent), 0.75);
  --color-accent-50: rgba(var(--color-accent), 0.5);
  --color-accent-25: rgba(var(--color-accent), 0.25);

  --color-header-background: var(--color-canvas-background);
  --color-footer-background: #fce4ec;
  --color-canvas-background: white;
  --color-canvas-background-complement: #f5fffb;

  --color-foreground: #121212;
  --color-foreground-inverse: #eeeeee;
  --color-foreground-dimmed: #4f4f4f;

  --color-text-default: #121212;

  --color-sidebar-inactive-foreground-hover: #f06292;
  --color-sidebar-inactive-background-hover: #fce4ec;
  --color-sidebar-foreground: #f48fb1;
  --color-sidebar-background: #fef4f8;
  --color-sidebar-active-foreground: white;
  --color-sidebar-active-foreground-hover: var(--color-sidebar-active-foreground);
  --color-sidebar-active-background: #f8bbd0;
  /* --color-sidebar-disabled-foreground: #fef4f8; */

  --color-client-link: var(--color-foreground);
  --color-client-link-hover: #57ab5a;

  --color-no-content: #bbbbbb;

  --color-btn-border: var(--color-sidebar-foreground);
  --color-btn-default-border: var(--color-sidebar-foreground);
  --color-btn-default-background: #f8bbd0;
  --color-btn-default-background-hover: #f48fb1;
  --color-btn-outline-link: var(--color-btn-default-border);
  --color-btn-outline-link-hover: var(--color-sidebar-inactive-foreground-hover);
  --color-card-heading-background: #f8bbd080;
  --color-cell-toolbar-background: #222222;
  --color-monospace-color: #eeeeee;

  --color-table-row-selected: rgba(244, 143, 177, 0.25);
  --color-table-row-hover: rgba(244, 143, 177, 0.05);

  --color-form-background: #fceff4;
  --color-page-link-active-background: #fceff4;
  --page-link-background: #f8bbd0;
  --color-resizer: #f8bbd050;
  --color-resizer-hover: #f06292;
  --color-scrollbar-track: var(--color-sidebar-disabled-foreground);
  --color-scrollbar-thumb: var(--color-btn-default-background);
  --color-scrollbar-thumb-hover: var(--color-btn-default-background-hover);

  --color-tab-active: #f8bbd0;
  --color-tab: #fceff4;
  --color-table-heading-background: var(--color-accent-25);
  --color-text-default: #222222;
  --color-proto-error: #f06292;
  --color-pagination-disabled: #888;
  --color-text-default: #222222;
  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #dd4b3920;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --vfs-files-timestomped: #ed5d40;
}

body.pink-light {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

.pink-light code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
}

.pink-light p,
.pink-light dl,
.pink-light ol,
.pink-light ul {
  font-family: var(--font-family-sans-serif);
}

.pink-light h1,
.pink-light h2,
.pink-light h3 {
  color: var(--color-text-default);
}

.pink-light .alert-secondary {
  color: var(--color-text-default);
  background: var(--color-table-heading-background);
}

.pink-light .alert-secondary th {
  border: 1px solid var(--color-table-heading-background);
}

/* Top Navbar */
.pink-light .main-navbar {
  background: #fff0f5;
  border-color: whitesmoke;
}

.pink-light .hamburger {
  color: var(--color-sidebar-foreground);
}

.pink-light #client-search-bar {
  background: var(--color-canvas-background);
  border: 0.655385px solid var(--color-sidebar-foreground);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--color-text-default);
  font-family: var(--font-family-sans-serif);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  height: 26px;
}

.pink-light .dropdown .dropdown-toggle.btn.btn-default {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.pink-light .client-summary {
  float: left;
  font-family: var(--font-family-sans-serif);
}

.pink-light .client-status .client-name {
    background: var(--color-btn-default-background);
    text-decoration: none !important;
    text-shadow: none;
    padding: 6px 10px 8px 10px;
    border-radius: 3px;
    margin: 5px;
    font-size: 15px;
    border-color: var(--color-btn-default-border);
}

.pink-light .client-status .client-name:hover {
  color: var(--color-sidebar-active-foreground);
  background: var(--color-btn-default-background-hover);
}

.pink-light .react-autosuggest__suggestions-container--open {
  margin-left: 5px;
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  color: var(--color-text-default);
}

.pink-light .react-autosuggest__suggestion--highlighted {
  background: var(--color-sidebar-inactive-foreground-hover);
}

/* sidebar navbar */

.pink-light div#navigator {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-sidebar-foreground);
  background: #fff0f5;
  border-color: #fff0f5;
}

.pink-light .nav-pills .nav-link {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-sidebar-foreground);
}

.pink-light .navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-inactive-foreground-hover);
  background: var(--color-sidebar-inactive-background-hover);
}

.pink-light a.active .navigator.nav-pills.nav li {
  color: var(--color-sidebar-active-foreground);
  background: var(--color-sidebar-active-background);
}

.pink-light a.active .navigator.nav-pills.nav:hover li {
  color: var(--color-sidebar-active-foreground-hover);
}

.pink-light .navigator.nav-pills.nav li.disabled {
  color: var(--color-sidebar-disabled-foreground);
}

/* Buttons */

.pink-light .btn,
.pink-light .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-text-default);
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-color: var(--color-btn-default-border);
  background: var(--color-btn-default-background);
}

.pink-light .btn-default.active {
  box-shadow: none;
  color: var(--color-sidebar-background);
}

.pink-light .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  color: var(--color-text-default);
}

.pink-light .btn-default:focus {
  background: var(--color-btn-default-background);
  color: var(--color-text-default);
}

.pink-light .btn-primary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-sidebar-foreground);
}

.pink-light .btn-secondary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-canvas-background);
}

.pink-light .btn-outline-default {
  border-width: 0;
  background: var(--color-btn-default-background);
}

.pink-light .btn-outline-info,
.pink-light .btn-link {
  color: var(--color-canvas-background);
  background: var(--color-btn-outline-link);
  text-shadow: none;
  margin: 1px;
}

.pink-light .btn-outline-info:hover {
  background: var(--color-btn-outline-link-hover);
  text-shadow: none;
}

.pink-light .btn.btn-link {
  border-color: transparent;
  width: 100%;
  text-align: left;
  background: none;
  color: var(--color-text-default);
}


/* Tables */

.pink-light .table {
  color: var(--color-foreground);
  background: var(--color-canvas-background);
  vertical-align: middle;
  font-weight: 400;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table thead th {
  border: none;
  background: var(--color-table-row-selected);
  vertical-align: text-bottom;
}

.pink-light .table tbody tr td {
  border: none;
  vertical-align: text-bottom;
}

.pink-light .table tbody tr:nth-of-type(2n) {
    background: var(--color-table-row-hover);
    border: none;
}

.pink-light .table tbody tr:nth-of-type(odd) {
  background: unset;
  border: none;
}

.pink-light .table-bordered thead th {
  border: 1px solid var(--color-table-heading-background);
  color: var(--color-foreground);
  font-weight: 400;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.pink-light .table-bordered td {
  border: 1px solid var(--color-canvas-background);
}

.pink-light .table-hover tbody tr:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.pink-light .artifact-search-table td:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.pink-light table tr.row-selected,
.pink-light table tr.row_selected td {
  background: var(--color-table-row-selected);
  color: var(--color-text-default);
}

/* Column search screen */

.pink-light th.sortable input {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
  border-color: var(--color-btn-border);
}

/* Resizer dividers */

.pink-light .Resizer.horizontal {
  border: none;
  background: var(--color-resizer);
  height: 3px;
}

.pink-light .Resizer.horizontal:hover {
  background: var(--color-resizer-hover);
}

.pink-light .Resizer.vertical {
  border: none;
  background: var(--color-resizer);
  width: 3px;
}

.pink-light .Resizer.vertical:hover {
  background: var(--color-resizer-hover);
}

.pink-light .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.pink-light .card {
  background: var(--color-canvas-background);
  border-color: var(--color-accent-50);
}

.github-dimmed-dark .dashboard .card {
  border-color: var(--color-btn-default-border);
}

.pink-light .card-header {
  background: var(--color-card-heading-background);
  font-size: var(--font-size-large);
}

.pink-light .card-body {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
}

.pink-light .card-body dt,
.pink-light .card-body label {
  font-weight: 400;
  color: var(--color-sidebar-inactive-foreground-hover);
}

/* Json container */
.pink-light div.pretty-json-container {
  filter: invert(0);
}

/* Tabs */
.pink-light .tab-content {
  color: var(--color-text-default);
}

.pink-light .nav-tabs {
  border-bottom: 1px solid var(--color-btn-default-background);
}

.pink-light .nav-tabs > a {
  background: var(--color-tab);
  color: var(--color-text-default);
  border-top-color: var(--color-accent-50);
  border-right-color: var(--color-accent-50);
  border-bottom-color: var(--color-btn-default-background);
  border-left-color: var(--color-accent-50);
}

.pink-light .nav-tabs > a:hover {
  background: var(--color-sidebar-inactive-foreground-hover);
  color: var(--color-canvas-background);
}

.pink-light .nav-tabs > a.active {
  background: var(--color-tab-active);
  color: var(--color-text-default);
  border-top-color: var(--color-accent-50);
  border-right-color: var(--color-accent-50);
  border-bottom-color: transparent;
  border-left-color: var(--color-accent-50);
}

/* forms */

.pink-light .form-control,
.pink-light .custom-file-input {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
  border-color: var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .form-control:focus {
  background: var(--color-canvas-background);
  box-shadow: 0 0 0 3px rgb(0 123 255 / 25%);
  border-color: var(--color-accent-complement);
}

.pink-light .input-group-prepend .input-group-text {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.pink-light .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 400;
}

/* Pagination */
.pink-light .page-item .page-link {
  background: var(--page-link-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-text-default);
}

.pink-light .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.pink-light .page-item input {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
  border: 1px solid var(--color-form-background);
}

.pink-light .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
}

.pink-light .react-bootstrap-table-pagination-total {
  color: var(--color-text-default);
}

/* Artifact viewer screen */

.pink-light .report-viewer h3 {
  margin-top: 2rem;
  color: var(--color-accent-complement);
  font-weight: 400;
}

.pink-light .report-viewer h4 {
  color: var(--color-btn-border);
  font-weight: 400;
}

.pink-light .report-viewer h5 {
  color: var(--color-accent-complement);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.pink-light .artifact-search-table a {
  color: var(--color-text-default);
}

.pink-light .report-viewer {
  color: var(--color-text-default);
}

.pink-light .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.pink-light .artifact-search-table.selectable.container tr.row-selected,
.pink-light .artifact-search-table.selectable.container tr.row_selected > td {
  background: var(--color-table-row-selected);
  color: var(--color-text-default);
}

/* modal dialogs */
.pink-light .modal-content {
  background: var(--color-page-link-active-background);
  color: var(--color-text-default);
}

/* notebooks */
.pink-light .cell-toolbar,
.pink-light .notebook-input {
  background: var(--color-page-link-active-background);
  color: var(--color-text-default);
  border-width: 0;
}

.pink-light .notebook-input pre {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
  border-color: #ffffff00;
}

.pink-light .notebook-cell {
  background: var(--color-canvas-background);
}

.pink-light .notebook-cell.selected {
  border-color: var(--color-btn-border);
}

/* react timelines */
.pink-light .react-calendar-timeline .rct-sidebar {
  color: var(--color-text-default);
}

/* file tree */
.pink-light .file-tree ul {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  padding-left: 12px;
}

.pink-light .tree-folder {
  color: var(--color-sidebar-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 600;
}

/* Dropdown menus */
.pink-light .dropdown-menu {
  background: var(--color-canvas-background);
}

.pink-light .dropdown-item {
  color: var(--color-text-default);
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

.pink-light .dropdown-item:hover {
  background: var(--color-btn-default-background-hover);
}

.pink-light .dropdown-item.active {
  background: var(--color-table-row-selected);
}

/* Datepicker */
.pink-light .react-datepicker,
.pink-light .react-datetime-picker {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
}

.pink-light .react-datetime-picker__inputGroup__input,
.pink-light .react-datetime-picker__button {
  filter: invert(0);
}

.pink-light .react-datepicker-popper {
  z-index: 10;
}

.pink-light .react-datepicker__day {
  color: var(--color-text-default);
}

.pink-light .react-datepicker__day[aria-disabled="false"] {
  background: var(--color-table-row-selected);
  color: var(--color-text-default);
}

/* Footer */

.pink-light .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-sidebar-inactive-foreground-hover);
  font-family: var(--font-family-sans-serif);
  border-top: none;
}

/* Spinner */
.pink-light .overlay .fa-spinner {
  filter: invert(0);
}

/* Shell output */
.pink-light .notebook-output pre {
  border-color: var(--color-btn-border);
}

/* ACE things */
.pink-light .ace_tooltip {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
}

.pink-light .custom-tooltip {
  margin: 0;
  padding: 10px;
  background: var(--color-canvas-background);
  border: 1px solid #ccc;
  white-space: nowrap;
  display: block;
}

.pink-light .file-hex-view td,
.pink-light .file-hex-view th {
  border: 0px;
}

.pink-light .monospace {
  color: var(--color-text-default);
}

.pink-light .labels,
.pink-light .velo__control,
.pink-light .velo__menu {
  background: var(--color-canvas-background);
  color: var(--color-text-default);
}

.pink-light .velo__multi-value {
  background: var(--color-canvas-background);
}

.pink-light .velo__input {
  color: var(--color-text-default);
}

.pink-light .velo__option:hover,
.pink-light .velo__option--is-focused,
.pink-light .velo__multi-value:hover {
  background: var(--color-btn-default-background-hover);
}

.pink-light hr {
  background: var(--color-text-default);
}

.pink-light .no-content {
  color: var(--color-no-content);
}

/* Make checkboxes pink as well */
.pink-light input[type="checkbox"][value="Y"] {
    filter: hue-rotate(134deg) brightness(3.4);
}

.veloci-dark .tooltip.show {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}
