@font-face {
  font-family: "roboto-mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-mono-v13-latin-ext_latin-regular.woff2")
      format("woff2");
  font-display: block;
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2");
  font-display: block;
}

.veloci-light {
  --font-size-large: 17px;
  --font-size-base: 15px;
  --font-size-small: 13px;
  --font-family-sans-serif: roboto, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: roboto-mono, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;

  --accent-color: #098204;
  --color-accent: 9, 130, 4;
  --color-accent-complement: #7E0482;
  --color-accent-100: rgba(var(--color-accent), 1);
  --color-accent-75: rgba(var(--color-accent), 0.75);
  --color-accent-50: rgba(var(--color-accent), 0.5);
  --color-accent-25: rgba(var(--color-accent), 0.25);

  --color-header-background: var(--color-canvas-background);
  --color-footer-background: #eaeaea;
  --color-canvas-background: #fefefe;
  --color-canvas-background-complement: #d2ccc4;

  --color-foreground: rgb(18, 18, 18);
  --color-foreground-inverse: #eeeeee;
  --color-foreground-dimmed: #4f4f4f;

  --color-foreground: #121212;

  --color-sidebar-inactive-foreground-hover: var(--color-foreground);
  --color-sidebar-inactive-background-hover: var(--color-canvas-background);
  --color-sidebar-foreground: #404040;
  --color-sidebar-disabled-foreground: var(--color-sidebar-background);
  --color-sidebar-background: #ededed;
  --color-sidebar-active-foreground: var(--color-accent-100);
  --color-sidebar-active-background: var(--color-canvas-background);

  --color-client-link: green;
  --color-client-link-hover: var(--color-foreground-dimmed);

  --color-tab: #bbbbbb;
  --color-tab-active: #555555;

  --color-resizer: #5cd00a80;
  --color-scrollbar-track: var(--color-sidebar-background);
  --color-scrollbar-thumb: var(--color-tab);
  --color-scrollbar-thumb-hover: var(--color-tab-active);

  --color-btn-border: var(--color-canvas-background);
  --color-btn-default-background: #dcdcdc;
  --color-btn-default-background-hover: var(--color-sidebar-inactive-background-hover);
  --color-btn-outline-link: #0c900a;

  --color-table-heading-background: #dee2e6;
  --color-table-row-selected: rgba(0, 0, 0, 0.05);
  --color-table-row-hover: rgba(0, 0, 0, 0.01);
  --color-code: #990000;

  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #5cd00a80;
  --color-timeline-1: #dff0d820;
  --color-timeline-2: #a9444220;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;

  --color-page-link-active-background: #0c900a;
  --color-page-link-hover-background: #5cd00a80;
  --color-pagination-disabled: #c0c0c0;

  --color-vfs-files-timestomped: #ed5d40;
  --color-level-error: #990000;
}

body.veloci-light {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: 0.4px;
}

.veloci-light code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  color: var(--color-code);
}

.veloci-light p,
.veloci-light dl,
.veloci-light ol,
.veloci-light ul {
  font-family: var(--font-family-sans-serif);
}

/* Top Navbar */
.veloci-light .main-navbar {
  background: var(--color-sidebar-background);
  border-color: var(--color-sidebar-background);
}

.veloci-light .hamburger {
  color: var(--color-sidebar-foreground);
}

.veloci-light #client-search-bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: var(--font-family-sans-serif);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  height: 26px;
}

.veloci-light .dropdown .dropdown-toggle.btn.btn-default {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.veloci-light .client-summary {
  float: left;
  font-family: var(--font-family-sans-serif);
}

.veloci-light .client-status .client-name {
  background: var(--color-btn-default-background);
  text-decoration: none !important;
  text-shadow: none;
  padding: 6px 10px 8px 10px;
  border-radius: 3px;
  margin: 5px;
  font-size: 15px;
  border-color: var(--color-btn-default-border);
}

.veloci-light .client-status .client-name:hover {
    color: var(--color-client-link);
    background: var(--color-btn-default-background-hover);
}

/* .veloci-light .react-autosuggest__suggestions-container--open {
    margin-left: 5px;
    background: var(--color-canvas-background);
    font-family: var(--font-family-sans-serif);
    color: var(--color-foreground);
} */

/* .veloci-light .react-autosuggest__suggestion--highlighted {
    background: var(--color-accent-50);
} */

/* Sidebar navbar */

.veloci-light div#navigator {
  font-size: var(--font-size-base);
  font-family: var(--font-family-sans-serif);
  color: var(--color-sidebar-foreground);
  box-shadow: none;
  border-right: none;
  background: var(--color-sidebar-background);
}

.veloci-light .navigator.nav-pills.nav li:hover {
  color: var(--color-sidebar-inactive-foreground-hover);
  background: var(--color-sidebar-inactive-background-hover);
}

.veloci-light a.active .navigator.nav-pills.nav li {
  color: var(--color-sidebar-active-foreground);
  background: var(--color-sidebar-active-background);
}

.veloci-light .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

/* Buttons */

.veloci-light .btn,
.veloci-light .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
  border-color: var(--color-btn-border);
}

.veloci-light .btn-default.active {
  box-shadow: none;
  color: var(--color-sidebar-background);
}

.veloci-light .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
}

.veloci-light .btn-default:focus {
  background: var(--color-btn-default-background);
  color: var(--color-foreground);
}

.veloci-light .btn-primary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: none;
}

.veloci-light .dropdown-toggle.btn-primary,
.veloci-light .show .dropdown-toggle.btn-primary {
  background: var(--color-btn-default-background);
  border-color: var(--color-btn-border);
}

.veloci-light .btn-secondary {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background: var(--color-canvas-background);
}

.veloci-light .btn-outline-default {
  border-width: 0;
  background: none;
}

.veloci-light .btn-group .btn {
    height: 37px;
}

.veloci-light .btn-group input.text {
    height: 27px;
}

.veloci-light .btn.btn-outline-info,
.veloci-light .btn.btn-link {
    background: var(--color-canvas-background);
    color: var(--color-btn-outline-link);
    margin: 1px;
}

.veloci-light .btn.btn-link {
  border-color: transparent;
}

/* Resizer dividers */
.veloci-light .Resizer.horizontal {
  border: none;
  background: var(--color-resizer);
  height: 10px;
}

.veloci-light .Resizer.horizontal:hover {
  background: var(--color-resizer);
}

.veloci-light .Resizer.vertical {
  border: none;
  background: var(--color-panel-background);
  width: 3px;
}

.veloci-light .Resizer.vertical:hover {
  background: var(--color-resizer);
}

.veloci-light .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.veloci-light .card {
  background: var(--color-table-heading-background);
}

.veloci-light .dashboard .card {
  border: none;
}

.veloci-light .card-header {
  background: var(--color-card-heading-background);
  color: var(--color-foreground);
}

.veloci-light .card-body {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
}

.veloci-light .card-body dt,
.veloci-light .card-body label {
  font-weight: 400;
  color: var(--color-accent-75);
}

/* Json container */
.veloci-light div.pretty-json-container {
  filter: invert(0);
}

/* Tabs */
.veloci-light .tab-content {
  color: var(--color-foreground);
}

.veloci-light .nav-tabs {
  border-bottom: 1px solid var(--color-btn-border);
}

.veloci-light .nav-tabs > a {
  background: var(--color-tab);
  color: var(--color-foreground);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-bottom-color: var(--color-btn-border);
  border-left-color: var(--color-btn-border);
}

.veloci-light .nav-tabs > a:hover {
  background: var(--color-sidebar-inactive-foreground-hover);
  color: var(--color-canvas-background);
}

.veloci-light .nav-tabs > a.active {
  background: var(--color-tab-active);
  color: var(--color-foreground);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-bottom-color: transparent;
  border-left-color: var(--color-btn-border);
}

.veloci-dark .tooltip.show {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

/* Form controls */

.veloci-light .form-control,
.veloci-light .custom-file-input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .form-control:focus {
  background: var(--color-canvas-background);
  box-shadow: 0 0 0 1px var(--color-foreground);
}

.veloci-light .input-group-prepend .input-group-text {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 400;
}

/* Tables */

.veloci-light .table {
  color: var(--color-foreground);
  background: var(--color-canvas-background);
  vertical-align: middle;
  font-weight: 400;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table thead th {
  border: none;
  background: var(--color-table-row-selected);
  vertical-align: text-bottom;
}

.veloci-light .table tbody tr td {
  border: none;
  vertical-align: text-bottom;
}

.veloci-light .table tbody tr:nth-of-type(2n) {
  background: var(--color-table-row-hover);
  border: none;
}

.veloci-light .table tbody tr:nth-of-type(odd) {
  background: unset;
  border: none;
}

.veloci-light .table-bordered thead th {
  border: 1px solid var(--color-table-heading-background);
  color: var(--color-foreground);
  font-weight: 400;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table-bordered td {
  border: 1px solid var(--color-btn-border);
}

.veloci-light .table-hover tbody tr:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.veloci-light .artifact-search-table td:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.veloci-light table tr.row-selected,
.veloci-light table tr.row_selected td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

/* Footer */

.veloci-light .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  border-top: 1px solid var(--color-btn-border);
}

/* file tree */
.veloci-light .file-tree ul {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  padding-left: 12px;
}

.veloci-light .tree-folder {
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
}

/* Artifact viewer screen */

.veloci-light .report-viewer h3 {
  margin-top: 2rem;
}

.veloci-light .report-viewer h4 {
  color: var(--color-accent-100);
  font-weight: 400;
}

.veloci-light .report-viewer h5 {
  color: var(--color-accent-100);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.veloci-light .artifact-search-table a {
  color: var(--color-foreground);
}

.veloci-light .report-viewer {
  color: var(--color-foreground);
}

.veloci-light .report-viewer pre {
  filter: invert(0);
}

.veloci-light .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.veloci-light .artifact-search-table.selectable.container tr.row-selected,
.veloci-light .artifact-search-table.selectable.container tr.row_selected > td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}


/* Pagination */
.veloci-light .page-item .page-link {
  background: var(--color-page-link-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.veloci-light .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.veloci-light .page-item input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-form-background);
}

.veloci-light .page-item.active .page-link:hover,
.veloci-light .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
}

.veloci-light .page-item .page-link:hover {
  background: var(--color-page-link-hover-background);
}

.veloci-light .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
}

.veloci-light .flow-log-filter,
.veloci-light .flow-log-filter:focus {
    border-color: transparent;
    box-shadow: none;
}
