@font-face {
  font-family: "Iosevka Term";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/iosevka-term-regular-subset.woff2") format("woff2");
    unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Iosevka Term";
  font-style: bold;
  font-weight: 700;
  src: local(""),
    url("../fonts/iosevka-term-bold-subset.woff2") format("woff2");
  unicode-range: U+0020-007E, U+0080-00FF;
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-sans-v27-latin-ext_latin-regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 600;
  src: local(""),
    url("../fonts/noto-sans-v27-latin-ext_latin-600.woff2") format("woff2");
  font-display: block;
}

.veloci-light {
  --font-size-large: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-family-sans-serif: "Iosevka Term", Iosevka-Term, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "Iosevka Term", Iosevka-Term, SFMono-Regular, Menlo, Monaco,
    "Ubuntu Mono", Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-paragraph: "Noto Sans", -apple-system, BlinkMacSystemFont, roboto, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  --accent-color: #098204;
  --color-accent: 9, 130, 4;
  --color-accent-complement: #7E0482;
  --color-accent-100: rgba(var(--color-accent), 1);
  --color-accent-75: rgba(var(--color-accent), 0.75);
  --color-accent-50: rgba(var(--color-accent), 0.5);
  --color-accent-25: rgba(var(--color-accent), 0.25);

  --color-header-background: var(--color-canvas-background);
  --color-footer-background: #eaeaea;
  --color-canvas-background: #fefefe;
  --color-canvas-background-complement: #d2ccc4;
  --color-form-control-background: var(--color-canvas-background);

  --color-foreground: #121212;
  --color-foreground-inverse: #eeeeee;
  --color-foreground-dimmed: #B0B0B0;

  --color-sidebar-inactive-foreground-hover: var(--color-foreground);
  --color-sidebar-inactive-background-hover: var(--color-btn-default-background-hover);
  --color-sidebar-foreground: #404040;
  --color-sidebar-disabled-foreground: #B0B0B0;
  --color-sidebar-background: #ededed;
  --color-sidebar-active-foreground: var(--color-accent-75);
  --color-sidebar-active-background: var(--color-canvas-background);

  --color-client-link: var(--color-accent-100);
  --color-client-link-hover: var(--color-foreground-dimmed);
  --color-tooltip-background: var(--color-canvas-background);

  --color-tab: var(--color-sidebar-background);
  --color-tab-active: var(--color-accent-25);

  --color-resizer: var(--color-accent-50);
  --color-resizer-hover: var(--color-accent-100);
  --color-scrollbar-track: var(--color-sidebar-background);
  --color-scrollbar-main: var(--color-accent-25);
  --color-scrollbar-background: rgba(var(--color-accent), 0.1);

  --color-btn-border: #C4C4C4;
  --color-btn-default-border: var(--color-btn-border);
  --color-btn-default-background: #dcdcdc;
  --color-btn-default-background-hover: var(--color-btn-outline-link-hover);
  --color-btn-outline-link: var(--color-accent-25);
  --color-btn-outline-link-hover: var(--color-accent-50);
  --color-btn-active-background: var(--color-btn-default-background);

  --color-card-heading-background: var(--color-table-heading-background);

  --color-table-row-stripe: rgba(0,0,0, 0.03);
  --color-table-row-selected: rgba(var(--color-accent), 0.2);
  --color-table-row-selected-text: var(--color-foreground);
  --color-table-row-hover: rgba(var(--color-accent), 0.1);
  --color-table-heading-background: var(--color-btn-default-background);

  --color-code: var(--color-accent-100);

  --background-calendar-tile-active: #5cd00a80;

  --color-timeline-header: #cdcdcd20;
  --color-timeline-table-shown: #5cd00a80;
  --color-timeline-1: #dff0d8;
  --color-timeline-2: #a94442;
  --color-timeline-3: #2aabd2;
  --color-timeline-4: #f0c36d;
  --color-timeline-5: #bbb;
  --color-timeline-6: #008000;
  --color-timeline-7: #471ecb;
  --color-timeline-annotation: #5cd00a;

  --color-page-link-active-background: var(--color-accent-50);
  --color-page-link-hover-background: var(--color-accent-25);
  --color-page-link-background: var(--color-canvas-background);
  --color-pagination-disabled: #c0c0c0;

  --color-vfs-files-timestomped: #ed5d40;
  --color-level-error: #990000;

  --hex-highlight-background: var(--accent-color);
  --hex-highlight-foreground: var(--color-canvas-background);

  --invalid-form-control-error: #ffc3c3;
}

body.veloci-light {
  background: var(--color-canvas-background);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 400;
  letter-spacing: 0.4px;
}

.veloci-light code,
.veloci-light pre,
.veloci-light .monospace {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  color: var(--color-code);
}

.veloci-light dl {
  font-family: var(--font-family-sans-serif);
}

.veloci-light a {
  color: var(--color-accent-100);
}

/* Top Navbar */
.veloci-light .main-navbar {
  background: var(--color-sidebar-background);
  border-color: var(--color-sidebar-background);
}

.veloci-light button.hamburger {
  background-color: var(--color-sidebar-background);
  color: var(--color-sidebar-foreground);
}


.veloci-light .dropdown .dropdown-toggle.btn.btn-default {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.veloci-light .client-summary {
  float: left;
  font-family: var(--font-family-sans-serif);
}

.veloci-light .client-status .client-name {
  color: var(--color-foreground);
  color: var(--color-foreground);
  background: var(--color-btn-outline-link);
  text-decoration: none !important;
  text-shadow: none;
  padding: 6px 10px 8px 10px;
  border-radius: 3px;
  margin: 5px;
  font-size: var(--font-size-base);
  border-color: var(--color-btn-default-border);
}

.veloci-light .client-status .client-name:hover {
    background: var(--color-btn-outline-link-hover);
}

.veloci-light .react-autosuggest__input {
  background: var(--color-form-control-background);
  border: 1px solid var(--color-btn-default-border);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  text-decoration: none !important;
  text-shadow: none;
}

.veloci-light .react-autosuggest__suggestions-container--open {
    background: var(--color-canvas-background);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-base);
    color: var(--color-foreground);
}

.veloci-light .react-autosuggest__suggestion--highlighted {
    background: var(--color-accent-25);
}

/* Sidebar navbar */

.veloci-light div#navigator {
    font-size: var(--font-size-base);
    font-family: var(--font-family-sans-serif);
    color: var(--color-sidebar-foreground);
    box-shadow: none;
    border-right: none;
    background: var(--color-sidebar-background);
}

.veloci-light .navigator.nav-pills.nav li:hover > a:not(.active) {
    color: var(--color-sidebar-inactive-foreground-hover);
    background: var(--color-sidebar-inactive-background-hover);
}

.veloci-light .navigator.nav-pills.nav li:has(a.active) {
    background: var(--color-sidebar-active-background);
}

.veloci-light .navigator.nav-pills.nav li a.active {
    color: var(--color-sidebar-active-foreground);
}

.veloci-light .navigator.nav-pills.nav .nav-link.disabled {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-sidebar-background);
  pointer-events: none;
}

/* Buttons */
.veloci-light .btn,
.veloci-light .btn-default {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-foreground);
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
  border-color: var(--color-btn-border);
}

.veloci-light .btn.btn-default.active {
  box-shadow: none;
  background: var(--color-tab-active);
  color: var(--color-foreground);
}

.veloci-light .btn-default:hover {
  background: var(--color-btn-default-background-hover);
  color: var(--color-foreground);
}

.veloci-light .btn-default:focus {
  background: var(--color-btn-default-background);
  color: var(--color-foreground);
}

.veloci-light .btn[disabled] {
  color: var(--color-sidebar-disabled-foreground);
  background: var(--color-btn-default-background);
}

.veloci-light .btn-primary {
  text-shadow: none;
  box-shadow: none;
  background: #C2C2C2;
}

.veloci-light .btn-primary:hover:not(:disabled):not(.disabled) {
  background: var(--color-btn-default-background-hover);
}

.veloci-light .btn-secondary {
  text-shadow: none;
  box-shadow: none;
  background: var(--color-btn-default-background);
}

.veloci-light .btn-secondary:hover {
  background: var(--color-btn-default-background-hover);
}

.veloci-light .dropdown-toggle.btn-primary,
.veloci-light .show .dropdown-toggle.btn-primary {
  background: var(--color-btn-default-background);
  border-color: var(--color-btn-border);
}

.veloci-light .btn-outline-default {
  border-width: 0;
  background: none;
}

.veloci-light .btn-group .btn {
    height: 37px;
}

.veloci-light .btn-group input.text {
    height: 27px;
}

.veloci-light .btn.btn-outline-info {
    background: var(--color-btn-outline-link);
    color: var(--color-foreground);
    margin: 1px;
    border: none;
}

.veloci-light .btn.btn-link {
    background: var(--color-btn-outline-link);
    color: var(--color-foreground);
    margin: 1px;
    width: 100%;
    border: none;
}

.veloci-light .client-link.btn.btn-outline-info {
  width: unset;
}

.veloci-light .btn-outline-info:hover {
  background: var(--color-btn-outline-link-hover);
  text-shadow: none;
  color: var(--color-foreground);
}

/* Resizer dividers */
.veloci-light .Resizer.horizontal {
  border: none;
  background: var(--color-resizer);
  height: 3px;
}

.veloci-light .Resizer.horizontal:hover {
  background: var(--color-resizer-hover);
}

.veloci-light .Resizer.vertical {
  border: none;
  background: var(--color-resizer);
  width: 3px;
}

.veloci-light .Resizer.vertical:hover {
  background: var(--color-resizer-hover);
}

.veloci-light .Resizer:hover {
  transition: all 200ms ease-in-out;
}

/* Cards */

.veloci-light .card {
  border: none;
}

.veloci-light .card-header {
  background: var(--color-card-heading-background);
  color: var(--color-foreground);
}

.veloci-light .card-body {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-card-heading-background);
}

.veloci-light .card-body dt,
.veloci-light .card-body label {
  font-weight: 500;
  color: var(--color-accent-75);
}

/* Json container */
.veloci-light div.pretty-json-container {
  font-family: var(--font-family-monospace);
  filter: invert(0);
}

.veloci-light .invalid.form-control,
.veloci-light .invalid.form-control:focus {
  background: var(--invalid-form-control-error);
}

/* Tabs */
.veloci-light .tab-content {
  color: var(--color-foreground);
}

.veloci-light .nav-tabs {
  border-bottom: 1px solid var(--color-btn-border);
}

.veloci-light .nav-tabs > a {
  background: var(--color-tab);
  color: var(--color-foreground);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-bottom-color: var(--color-btn-border);
  border-left-color: var(--color-btn-border);
}

.veloci-light .nav-tabs > a:hover {
  background: var(--color-btn-outline-link-hover);
  border-color: var(--color-btn-border);
}

.veloci-light .nav-tabs > a.active {
  background: var(--color-tab-active);
  color: var(--color-foreground);
  border-top-color: var(--color-btn-border);
  border-right-color: var(--color-btn-border);
  border-bottom-color: transparent;
  border-left-color: var(--color-btn-border);
}

.veloci-light hr {
  background: #DEDEDE;
  height: 2px;
  border: none;
  margin-top: 2em;
}

.veloci-light #client-search-bar {
  height: 25px;
}

.veloci-light .tooltip.show,
.veloci-light .tooltip.bs-tooltip-top {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  background-color: #10181C;
  color: var(--color-foreground);
}

.veloci-light .tooltip-inner {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  background-color: var(--color-tooltip-background);
}

.veloci-light .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-tooltip-background);
}

/* Form controls */

.veloci-light .custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
  background-color: var(--color-accent-25);
}

.veloci-light .form-control,
.veloci-light .custom-file-input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border-color: var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .form-control:focus {
  background: var(--color-canvas-background);
  box-shadow: none;
}

.veloci-light .input-group-prepend .input-group-text {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .input-group .custom-file-label {
  background: var(--color-canvas-background);
  color: var(--color-accent-100);
  border: 1px solid var(--color-btn-default-border);
  font-size: var(--font-size-base);
}

.veloci-light .input-group .custom-file-label:after {
  background: var(--color-btn-default-background);
  box-shadow: none;
  color: var(--color-foreground);
  text-shadow: none;
  font-weight: 400;
}

/* Tables */

.veloci-light .table {
  color: var(--color-foreground);
  background: var(--color-canvas-background);
  vertical-align: middle;
  font-weight: 400;
  font-size: var(--font-size-base);
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table thead th {
  border: none;
  vertical-align: text-bottom;
}

.veloci-light .table tbody tr td {
  border: none;
}

.veloci-light .table tbody tr:nth-of-type(2n) {
  border: none;
}

.veloci-light .table tbody tr:nth-of-type(odd) {
  border: none;
}

.veloci-light .table-bordered thead th {
  border: 1px solid var(--color-table-heading-background);
  color: var(--color-foreground);
  font-weight: 400;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table-bordered .notebook-filter td {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.veloci-light .table-bordered td {
  border: 1px solid var(--color-btn-border);
}

.veloci-light .table-hover tbody tr:hover {
  background: var(--color-table-row-hover);
  color: unset;
}

.veloci-light .new-artifact-search-table.selectable .table.table-bordered,
.veloci-light .new-artifact-search-table.selectable .table.table-bordered tbody tr,
.veloci-light .new-artifact-search-table.selectable .table.table-bordered thead th {
  background: none;
  border: none;
}

.veloci-light .new-artifact-search-table.selectable .table.table-bordered tbody tr > td > button.btn.btn-link:hover {
  background: var(--color-btn-outline-link-hover);
}

.veloci-light .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link,
.veloci-light .new-artifact-search-table.selectable .table.table-bordered tbody > tr.row-selected > td > button.btn.btn-link:hover {
  background: var(--color-accent-75);
  color: var(--color-foreground-inverse);
  font-weight: 700;
  text-decoration: none;
}

.veloci-light .new-artifact-search-table .btn-link:hover,
.veloci-light .new-artifact-search-table .btn-link:focus,
.veloci-light .new-artifact-search-table .btn-link.focus {
  text-decoration: none;
}

.veloci-light .table tbody tr.row-selected,
.veloci-light .table tbody tr.row_selected td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

.veloci-light .table tbody tr.row-multi-selected {
  opacity: 0.5;
}

/* Footer */

.veloci-light .app-footer.fixed-bottom {
  background: var(--color-footer-background);
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  border-top: 1px solid var(--color-btn-border);
}

/* react timelines */
.veloci-light .react-calendar-timeline .rct-sidebar,
.veloci-light .react-calendar-timeline .rct-dateHeader {
  color: var(--color-foreground);
  font-size: var(--font-size-small);
}

/* file tree */

/* Dropdown menus */
.veloci-light .dropdown-menu {
  background: var(--color-btn-default-background);
}

.veloci-light .dropdown-item:hover,
.veloci-light .dropdown-item.active:hover {
  background: var(--color-accent-75);
  color: var(--color-canvas-background);
}

/* Artifact viewer screen */

.veloci-light .report-viewer .description-content {
  font-family: var(--font-family-paragraph);
  font-size: var(--font-size-large);
  background: #EBEBEB;
  border-radius: 5px;
  padding: 12px;
}

.veloci-light .report-viewer h3 {
  margin-top: 2rem;
}

.veloci-light .report-viewer h4 {
  color: var(--color-accent-100);
  font-weight: 400;
}

.veloci-light .report-viewer h5 {
  color: var(--color-accent-100);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.veloci-light .artifact-search-table a {
  color: var(--color-foreground);
}

.veloci-light .report-viewer {
  color: var(--color-foreground);
}

.veloci-light .report-viewer pre {
  filter: invert(0);
  background: #EBEBEB;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.veloci-light .report-viewer code {
  background: rgba(0,0,0,.05);
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,.1);
  padding-left: 4px;
  padding-right: 4px;
}

.veloci-light .report-viewer dt,
.veloci-light .report-viewer dd {
  font-family: var(--font-family-paragraph);
}

.veloci-light .artifact-search-table.selectable.container tbody tr:hover {
  background: var(--color-table-row-hover);
}

.veloci-light .artifact-search-table.selectable.container tr.row-selected,
.veloci-light .artifact-search-table.selectable.container tr.row-selected:hover,
.veloci-light .artifact-search-table.selectable.container tr.row_selected > td {
  background: var(--color-table-row-selected);
  color: var(--color-foreground);
}

/* modal dialogs */

.veloci-light .modal-content {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
}

.veloci-light .modal-header .close {
  color: var(--color-foreground);
  opacity: 1;
  text-shadow: none;
  outline: none;
}

/* Pagination */

.veloci-light .page-item .page-link {
  background: var(--color-page-link-background);
  border-color: var(--color-btn-border);
  color: var(--color-foreground);
}

.veloci-light .page-item.disabled span {
  color: var(--color-pagination-disabled);
}

.veloci-light .page-item input {
  background: var(--color-canvas-background);
  color: var(--color-foreground);
  border: 1px solid var(--color-form-background);
}

.veloci-light .page-item.active .page-link:hover,
.veloci-light .page-item.active .page-link {
  background: var(--color-page-link-active-background);
  border-color: var(--color-btn-default-border);
}

.veloci-light .page-item .page-link:hover {
  background: var(--color-page-link-hover-background);
  border-color: var(--color-btn-default-border);
}

.veloci-light .page-item .page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(9, 255, 0, 0.25)
}

.veloci-light .react-bootstrap-table-pagination-total {
  color: var(--color-foreground);
  padding-left: 15px;
}

.veloci-light .flow-log-filter,
.veloci-light .flow-log-filter:focus {
    border-color: transparent;
    box-shadow: none;
}

.veloci-light .flow-file-download-button {
    background: var(--color-accent-25);
}

.veloci-light ::placeholder {
  color: var(--color-foreground-dimmed)
}

.veloci-light .ace_placeholder {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-large);
  letter-spacing: 0.4px;
  color: var(--color-foreground) !important;
}

.veloci-light .labels,
.veloci-light .velo__control,
.veloci-light .velo__menu {
  background: var(--color-canvas-background);
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground);
}

.veloci-light .velo__control--is-focused,
.veloci-light .velo__control--menu-is-open {
  background: var(--color-form-control-background);
  box-shadow: none;
  border-color: var(--color-btn-default-border);
  color: var(--color-foreground)--------
}

.veloci-light .velo__control:hover {
  box-shadow: none;
  border-color: var(--color-btn-default-border);
}

.veloci-light .velo__multi-value {
  border: 1px solid var(--color-btn-default-border);
  background-color: var(--color-btn-default-background);
}

.veloci-light .velo__multi-value__label {
  color: var(--color-foreground);
  background-color: var(--color-btn-default-background);
  border: none;
  font-size: var(--font-size-small);
}

.veloci-light .velo__multi-value__remove {
  color: var(--color-foreground);
  background-color: var(--color-btn-default-background);
  border: none;
}

.veloci-light .velo__multi-value__remove:hover {
  color: var(--color-foreground-inverse);
  background-color: var(--color-accent-50);
  font-weight: 700;
}

.veloci-light .json-expand-button {
  color: darkgrey;
}

.veloci-light .json-index {
    color: #ffb300;
}

.veloci-light .json-key {
    color: #e65100;
}

.veloci-light .json-string {
    padding-left: 5px;
    color: green;
}

.veloci-light .json-number {
    padding-left: 5px;
    color: blue;
}

.veloci-light .json-null {
  padding-left: 5px;
  color: #ffca28;
}

.veloci-light .json-boolean {
  padding-left: 5px;
  color: #7e57c2;
}

/* Calendar */
.veloci-light .calendar-selector:hover {
  background: var(--color-btn-default-background);
}

.veloci-light div.calendar-day:hover,
.veloci-light div.calendar-other-day:hover,
.veloci-light div.calendar-selected-date {
  background: var(--color-accent-75);
  color: var(--color-canvas-background);
}
