.dark-pink .main-navbar, .dark-pink div#navigator {
    background-color: #222222;
    border-color: var(--background-color);
}

body.dark-pink {
    background-color: var(--background-color);
}

.dark-pink .hamburger {
    color: var(--sidebar-icon-color);
}

.dark-pink #client-search-bar {
    background-color: var(--background-color);
    border: 0.655385px solid #485A5F;
    color: var(--text-foreground);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    height: 25px;
}

.dark-pink .react-autosuggest__suggestions-container--open {
    margin-left: 5px;
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.dark-pink .react-autosuggest__suggestion--highlighted {
  background-color: var(--sidebar-icon-color-hover);
}

.dark-pink {
    --sidebar-icon-color: #bfbfbf;
    --sidebar-icon-color-hover: #9a9a9a;
    --sidebar-icon-color-disabled: #8f8f8f50;
    --sidebar-icon-color-bg: #222222;
    --sidebar-active-icon-background-color: #8f8f8f;

    --background-color: #222222;
    --border-color: #333333;
    --text-foreground: #eeeeee;
    --btn-default-background: #ec407a;
    --color-default-background: #222222;
    --btn-default-background-hover: #e91e63;
    --btn-outline-link: #ec407a;
    --btn-outline-link-hover: #40ed6e;

    --tab-color: #444444;
    --tab-active-color: #aaaaaa;
    --resizer-color: #444444;

    --cell-toolbar-background-color: #222222;
    --page-link-background-color: #222222;
    --page-link-active-background-color: #444444;
    --form-background-color: #222222;
    --card-heading-background-color: #444444;
    --table-heading-background-color: #444444;
    --color-table-row-selected: #a0a0a0a0;
    --color-monospace-color: #eeeeee;
    --scrollbar-track: #222222;
    --app-footer-background-color: #444444;
    --color-infoline-success: #7aed40;

    --color-default-font: #eeeeee;
    --color-timeline-header: #cdcdcd20;
    --color-timeline-table-shown: #dd4b3920;
    --color-timeline-1: #dff0d820;
    --color-timeline-2: #a9444220;
    --color-timeline-3: #2aabd2;
    --color-timeline-4: #f0c36d;
    --color-timeline-5: #bbb;
    --color-timeline-6: #008000;
    --color-timeline-7: #471ecb;

    --vfs-files-timestomped: #ed5d40;
}

.dark-pink .btn {
    color: var(--text-foreground);
    border-color: #2a2a2a;
}

.dark-pink .btn-default.active {
    box-shadow: none !important;
    color: var(--sidebar-icon-color-bg);
}


.dark-pink .btn-default:hover {
    background: var(--btn-default-background-hover);
    color: var(--text-foreground);
}

.dark-pink .btn-default:focus {
    background: var(--btn-default-background);
    color: var(--text-foreground);
}

.dark-pink .btn-primary {
    background-image: none;
    text-shadow: none;
    background: none;
}

.dark-pink .btn-default {
    background-image: none;
    text-shadow: none;
    background: var(--btn-default-background);
}

.dark-pink .btn-outline-info, .btn-link {
    color: var(--btn-outline-link);
}

.dark-pink .btn-outline-info:hover {
    background: var(--btn-outline-link-hover);
}

.dark-pink .btn.btn-link {
    border-color: transparent;
}

.dark-pink #content {
    top: 49px;
}

.dark-pink h1, .dark-pink h2, .dark-pink h3 {
    color: var(--text-foreground);
}

.dark-pink .alert-secondary {
    color: var(--text-foreground);
    background-color: var(--table-heading-background-color);
}

.dark-pink .alert-secondary th {
    border-color: #2a2a2a;
}

/* Tables */

.dark-pink .table-bordered th, .table-bordered td {
    border: 1px solid var(--table-heading-background-color);
}

.dark-pink .table {
    color: var(--text-foreground);
}

.dark-pink .table, .dark-pink .table-hover tr:hover {
    color: var(--text-foreground);
}

.dark-pink table tr.row-selected, .dark-pink table tr.row_selected td {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Column search screen */
.dark-pink th.sortable input {
    background-color: var(--background-color);
    color: var(--text-foreground);
    border-color: var(--border-color);
}

/* Resider divider */
.dark-pink .Resizer.horizontal {
    border-top-color: var(--resizer-color);
    border-bottom-color: var(--resizer-color);
    background-color: var(--resizer-color);
}

.dark-pink .Resizer.vertical {
    border-left-color: var(--resizer-color);
    border-right-color: var(--resizer-color);
    background-color: var(--resizer-color);
}


.dark-pink .card {
    background-color: var(--table-heading-background-color);
}

.dark-pink .card-header {
    background-color: var(--card-heading-background-color);
    color: var(--text-foreground);
}

.dark-pink .card-body {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

/* Json container */
.dark-pink div.pretty-json-container {
    filter: invert(1);
}

/* Tabs */
.dark-pink .tab-content {
    color: var(--text-foreground);
}

.dark-pink .nav-tabs > a {
    background-color: var(--tab-color);
    color: var(--text-foreground);
}

.dark-pink .nav-tabs > a.active {
    background-color: var(--tab-active-color);
}

/* forms */
.dark-pink .form-control,
.dark-pink .custom-file-input {
    background-color: var(--form-background-color);
    color: var(--text-foreground);
}

/* Pagination */
.dark-pink .page-item .page-link {
    background-color: var(--btn-default-background);
    border-color: var(--border-color);
    color: var(--text-foreground);
}

.dark-pink .page-item input {
    background-color: var(--form-background-color);
    color: var(--text-foreground);
    border: 1px solid var(--form-background-color);
}

.dark-pink .page-item.active .page-link {
    background-color: var(--page-link-active-background-color);
    border-color: var(--border-color);
}

.dark-pink .react-bootstrap-table-pagination-total {
    color: var(--text-foreground);
}

/* artifact viewer screen */
.dark-pink .artifact-search-table a {
    color: var(--text-foreground);
}

.dark-pink .report-viewer {
    color: var(--text-foreground);
}

.dark-pink .report-viewer pre {
    filter: invert(1);
}

/* modal dialogs */
.dark-pink .modal-content {
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
}

/* notebooks */
.dark-pink .cell-toolbar,
.dark-pink .notebook-input{
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
}

.dark-pink .notebook-input pre {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.dark-pink .notebook-cell.selected {
    border-color: var(--border-color);
}

/* react timelines */
.dark-pink .react-calendar-timeline .rct-sidebar {
    color: var(--text-foreground);
}

/* file tree */
.dark-pink div.file-tree ul {
    font-size: 16px;
    background-color: var(--background-color);
}

/* width */
.dark-pink ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.dark-pink ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Handle */
.dark-pink ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.dark-pink ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Table column selector */
.dark-pink .dropdown-menu {
    background-color: var(--background-color);
}

.dark-pink .dropdown-item {
    color: var(--text-foreground);
}

.dark-pink .dropdown-item:hover {
    background-color: var(--btn-default-background-hover);
}

.dark-pink .dropdown-item.active {
    background-color: var(--color-table-row-selected);
}


/* Datepicker */
.dark-pink .react-datepicker,
.dark-pink .react-datetime-picker
{
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.dark-pink .react-datetime-picker__inputGroup__input,
.dark-pink .react-datetime-picker__button
{
    filter: invert(1);
}

.dark-pink .react-datepicker-popper {
    z-index: 10;
}

.dark-pink .react-datepicker__day {
    color: var(--text-foreground);
}

.dark-pink .react-datepicker__day[aria-disabled="false"] {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Footer */
.dark-pink .app-footer.fixed-bottom {
    background-color: var(--app-footer-background-color);
    color: var(--text-foreground);
    z-index: 1000;
}

/* Spinner */
.dark-pink .overlay .fa-spinner {
    filter: invert(1);
}

/* Shell output */
.dark-pink .notebook-output pre {
    filter: invert(1);
}

/* ACE things */
.dark-pink .ace_tooltip {
    background-color: var(--background-color);
    color: var(--text-foreground);
}


.dark-pink .custom-tooltip {
    margin: 0;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    white-space: nowrap;
    display: block;
}


.dark-pink .file-hex-view td, .file-hex-view th {
    border: 0px;
}

.dark-pink .labels, .dark-pink .velo__control, .dark-pink .velo__menu {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.dark-pink .velo__multi-value {
    background-color: var(--btn-default-background);
}

.dark-pink .velo__input {
    color: var(--text-foreground);
}

.dark-pink .velo__option:hover, .dark-pink .velo__option--is-focused, .dark-pink .velo__multi-value:hover {
    background-color: var(--btn-default-background-hover);
}

.dark-pink hr {
    background-color: var(--text-foreground);
}

.dark-pink img.velo-logo {
    height: 36px;
    width: 29px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(59%) saturate(6816%) hue-rotate(318deg) brightness(98%) contrast(89%);
}
