.light-pink .main-navbar, .light-pink div#navigator {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

body.light-pink {
    background-color: var(--background-color);
}

.light-pink .hamburger {
    color: var(--sidebar-icon-color);
}

.light-pink #client-search-bar {
    background-color: var(--color-default-background);
    border: 0.655385px solid var(--sidebar-icon-color);
    color: var(--text-foreground);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    height: 25px;
}

.light-pink .react-autosuggest__suggestions-container--open {
    margin-left: 5px;
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .react-autosuggest__suggestion--highlighted {
  background-color: var(--sidebar-icon-color-hover);
}

.light-pink {
    --app-footer-background-color: #FCE4EC;
    --background-color: #FEF4F8;
    --color-default-background: #FFFFFF;
    --no-content: #bbbbbb;

    --border-color: #F48FB1;
    --btn-default-border: #F48FB1;
    --btn-default-background: #F8BBD0;
    --btn-default-background-hover: #F48FB1;
    --btn-outline-link: #F06292;
    --btn-outline-link-hover: #81C784;
    --card-heading-background-color: #F8BBD080;
    --cell-toolbar-background-color: #222222;
    --color-monospace-color: #EEEEEE;
    --color-table-row-selected: #F8BBD060;
    --form-background-color: #FCEFF4;
    --page-link-active-background-color: #FCEFF4;
    --page-link-background-color: #F8BBD0;
    --resizer-color: #DEDEDE;
    --scrollbar-track: #F8BBD0;
    --sidebar-active-icon-background-color: #F48FB1;
    --sidebar-icon-color-bg: #F8BBD0;
    --sidebar-icon-color-disabled: #dddddd;
    --sidebar-icon-color-hover: #F06292;
    --sidebar-icon-color: #F48FB1;
    --tab-active-color: #F8BBD0;
    --tab-color: #FCEFF4;
    --table-heading-background-color: #F8BBD0a0;
    --text-foreground: #222222;
    --color-proto-error: #F06292;
    --color-pagination-disabled: #888;
    --color-infoline-success: #4CAF50;
    --color-default-font: #222222;
    --color-timeline-header: #cdcdcd20;
    --color-timeline-table-shown: #dd4b3920;
    --color-timeline-1: #dff0d820;
    --color-timeline-2: #a9444220;
    --color-timeline-3: #2aabd2;
    --color-timeline-4: #f0c36d;
    --color-timeline-5: #bbb;
    --color-timeline-6: #008000;
    --color-timeline-7: #471ecb;

    --vfs-files-timestomped: #ed5d40;
}

.light-pink .btn {
    color: var(--text-foreground);
    border-color: var(--btn-default-border);
    background: var(--btn-default-background);
    text-shadow: none;
    box-shadow: none;
}

.light-pink .btn-default:hover {
    background: var(--btn-default-background-hover);
    text-shadow: none;
    color: var(--text-foreground);
    box-shadow: none;
}

.light-pink .btn-default:focus {
    background: var(--btn-default-background);
    text-shadow: none;
    color: var(--text-foreground);
}

.light-pink .btn-primary {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    background: var(--sidebar-icon-color);
}

.light-pink .btn-secondary {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    background: var(--background-color);
}

.light-pink .btn-default {
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    background: var(--btn-default-background);
}

.light-pink .btn-outline-default {
    border-width: 0;
    background: var(--btn-default-background);
}

.light-pink .btn-outline-info, .light-pink .btn-link {
    color: var(--color-default-background);
    background: var(--btn-outline-link);
    text-shadow: none;
}

.light-pink .btn-outline-info:hover {
    background: var(--btn-outline-link-hover);
    text-shadow: none;
}

.light-pink .btn.btn-link {
    border-color: transparent;
    width: 100%;
    text-align: left;
    background: none;
    color: var(--text-foreground);
}

.light-pink #content {
    top: 49px;
}

.light-pink h1, .light-pink h2, .light-pink h3 {
    color: var(--text-foreground);
}

.light-pink .alert-secondary {
    color: var(--text-foreground);
    background-color: var(--table-heading-background-color);
}

.light-pink .alert-secondary th {
    border: 1px solid var(--table-heading-background-color);
}

/* Tables */

.light-pink .table-bordered thead th {
    border: 1px solid var(--table-heading-background-color);
}

.light-pink .table-bordered .notebook-filter td {
    border: none;
}

.light-pink .table-bordered td {
    border: 1px solid var(--background-color);
}

.light-pink .table {
    background-color: var(--color-default-background);
    color: var(--text-foreground);
}

.light-pink .table-hover tbody tr:hover {
    background-color: var(--app-footer-background-color);
    color: var(--text-foreground);
}

.light-pink table tr.row-selected, .light-pink table tr.row_selected td {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Column search screen */
.light-pink th.sortable input {
    background-color: var(--color-default-background);
    color: var(--text-foreground);
    border-color: var(--border-color);
}

/* Resizer divider */
.light-pink .Resizer.horizontal {
    border-top-color: var(--resizer-color);
    border-bottom-color: var(--resizer-color);
    background-color: var(--resizer-color);
}

.light-pink .Resizer.vertical {
    border-left-color: var(--resizer-color);
    border-right-color: var(--resizer-color);
    background-color: var(--resizer-color);
}


.light-pink .card {
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.light-pink .card-header {
    background-color: var(--card-heading-background-color);
    color: var(--text-foreground);
    font-weight: 700;
}

.light-pink .card-body {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

/* Json container */
.light-pink div.pretty-json-container {
    filter: invert(0);
}

/* Tabs */
.light-pink .tab-content {
    color: var(--text-foreground);
}

.light-pink .nav-tabs > a,
.light-pink .nav-tabs > a:hover {
    background-color: var(--tab-color);
    color: var(--text-foreground);
    border-top-color: var(--border-color);
    border-right-color: var(--border-color);
    border-bottom-color: #FFFFFF00;
    border-left-color: var(--border-color);
}

.light-pink .nav-tabs > a:hover {
    background-color: var(--sidebar-icon-color-hover);
    color: var(--background-color);
}

.light-pink .nav-tabs > a.active {
    background-color: var(--tab-active-color);
    color: var(--text-foreground);
    border-top-color: var(--border-color);
    border-right-color: var(--border-color);
    border-bottom-color: #FFFFFF00;
    border-left-color: var(--border-color);
}



/* forms */
.light-pink .form-control,
.light-pink .custom-file-input {
    background-color: var(--color-default-background);
    color: var(--text-foreground);
    border-color: var(--btn-default-border);
}

/* Pagination */
.light-pink .page-item .page-link {
    background-color: var(--page-link-background-color);
    border-color: var(--btn-default-border);
    color: var(--text-foreground);
}

.light-pink .page-item.disabled span {
    color: var(--color-pagination-disabled);
}

.light-pink .page-item input {
    background-color: var(--color-default-background);
    color: var(--text-foreground);
    border: 1px solid var(--form-background-color);
}

.light-pink .page-item.active .page-link {
    background-color: var(--page-link-active-background-color);
    border-color: var(--btn-default-border);
}

.light-pink .react-bootstrap-table-pagination-total {
    color: var(--text-foreground);
}

/* artifact viewer screen */
.light-pink .artifact-search-table a {
    color: var(--text-foreground);
}

.light-pink .report-viewer {
    color: var(--text-foreground);
}

/* modal dialogs */
.light-pink .modal-content {
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
}

/* notebooks */
.light-pink .cell-toolbar,
.light-pink .notebook-input{
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
    border-width: 0;
}

.light-pink .notebook-input pre {
    background-color: var(--background-color);
    color: var(--text-foreground);
    border-color: #ffffff00
}

.light-pink .notebook-cell {
    background-color: var(--background-color);
}

.light-pink .notebook-cell.selected {
    border-color: var(--border-color);
}

/* react timelines */
.light-pink .react-calendar-timeline .rct-sidebar {
    color: var(--text-foreground);
}

/* file tree */
.light-pink .file-tree {
    font-size: 16px;
    color: var(--btn-outline-link);
    padding-left: 2px;
}

.light-pink .tree-folder {
    font-size: 16px;
    color: var(--btn-outline-link);
}

/* width */
.light-pink ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.light-pink ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Handle */
.light-pink ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.light-pink ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Table column selector */
.light-pink .dropdown-menu {
    background-color: var(--background-color);
}

.light-pink .dropdown-item {
    color: var(--text-foreground);
    background-color: var(--color-default-background);
}

.light-pink .dropdown-item:hover {
    background-color: var(--btn-default-background-hover);
}

.light-pink .dropdown-item.active {
    background-color: var(--color-table-row-selected);
}


/* Datepicker */
.light-pink .react-datepicker,
.light-pink .react-datetime-picker
{
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .react-datetime-picker__inputGroup__input,
.light-pink .react-datetime-picker__button
{
    filter: invert(0);
}

.light-pink .react-datepicker-popper {
    z-index: 10;
}

.light-pink .react-datepicker__day {
    color: var(--text-foreground);
}

.light-pink .react-datepicker__day[aria-disabled="false"] {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Footer */
.light-pink .app-footer.fixed-bottom {
    background-color: var(--app-footer-background-color);
    color: var(--btn-outline-link);
    z-index: 1000;
}

/* Spinner */
.light-pink .overlay .fa-spinner {
    filter: invert(0);
}

/* Shell output */
.light-pink .notebook-output pre {
    border-color: var(--border-color);
}

/* ACE things */
.light-pink .ace_tooltip {
    background-color: var(--background-color);
    color: var(--text-foreground);
}


.light-pink .custom-tooltip {
    margin: 0;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    white-space: nowrap;
    display: block;
}


.light-pink .file-hex-view td,
.light-pink .file-hex-view th {
    border: 0px;
}

.light-pink .monospace {
    color: var(--text-foreground);
}

.light-pink .labels,
.light-pink .velo__control,
.light-pink .velo__menu {
    background-color: var(--color-default-background);
    color: var(--text-foreground);
}

.light-pink .velo__multi-value {
    background-color: var(--color-default-background);
}

.light-pink .velo__input {
    color: var(--text-foreground);
}

.light-pink .velo__option:hover,
.light-pink .velo__option--is-focused,
.light-pink .velo__multi-value:hover {
    background-color: var(--btn-default-background-hover);
}

.light-pink hr {
    background-color: var(--text-foreground);
}

.light-pink img.velo-logo {
    height: 36px;
    width: 29px;
    margin: 5px;
}

.light-pink .no-content {
    color: var(--no-content);
}
