.light-pink .main-navbar, .light-pink div#navigator {
    background-color: #FCE4EC;
    border-color: var(--background-color);
}

body.light-pink {
    background-color: var(--background-color);
}

.light-pink .hamburger {
    color: var(--sidebar-icon-color);
}

.light-pink #client-search-bar {
    background-color: #ffffff;
    border: 0.655385px solid #C2185B;
    color: var(--text-foreground);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    height: 25px;
}

.light-pink .react-autosuggest__suggestions-container--open {
    margin-left: 5px;
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .react-autosuggest__suggestion--highlighted {
  background-color: var(--sidebar-icon-color-hover);
}

.light-pink {
    --sidebar-icon-color: #F06292;
    --sidebar-icon-color-hover: #F06292;
    --sidebar-icon-color-disabled: #8f8f8f50;
    --sidebar-icon-color-bg: #F48FB1;
    --sidebar-active-icon-background-color: #F06292;

    --background-color: #FCE4EC;
    --border-color: #666666;
    --text-foreground: #222222;
    --btn-default-background: #F48FB1;
    --color-default-background: #FFFFFF;
    --btn-default-background-hover: #F06292;
    --btn-outline-link: #C2185B;
    --btn-outline-link-hover: #17c2c2;

    --tab-color: #FCE4EC;
    --tab-active-color: #F06292;
    --resizer-color: #dedede;

    --cell-toolbar-background-color: #222222;
    --page-link-background-color: #F48FB1;
    --page-link-active-background-color: #FCE4EC;
    --form-background-color: #FCE4EC;
    --card-heading-background-color: #F48FB1;
    --table-heading-background-color: #F48FB1;
    --color-table-row-selected: #FCE4EC;
    --color-monospace-color: #eeeeee;
    --scrollbar-track: #f48fb1;
    --app-footer-background-color: #F8BBD0;
    --color-infoline-success: #4CAF50;

    --color-default-font: #eeeeee;
    --color-timeline-header: #cdcdcd20;
    --color-timeline-table-shown: #dd4b3920;
    --color-timeline-1: #dff0d820;
    --color-timeline-2: #a9444220;
    --color-timeline-3: #2aabd2;
    --color-timeline-4: #f0c36d;
    --color-timeline-5: #bbb;
    --color-timeline-6: #008000;
    --color-timeline-7: #471ecb;

    --vfs-files-timestomped: #ed5d40;
}

.light-pink .btn {
    color: var(--text-foreground);
    border-color: #222222;
    background: var(--sidebar-active-icon-background-color);
}

.light-pink .btn-default.active {
    box-shadow: none !important;
    color: #ffffff;
}


.light-pink .btn-default:hover {
    background: var(--btn-default-background-hover);
    color: var(--text-foreground);
}

.light-pink .btn-default:focus {
    background: var(--btn-default-background);
    color: var(--text-foreground);
}

.light-pink .btn-primary {
    background-image: none;
    text-shadow: none;
    background: var(--sidebar-active-icon-background-color);
}

.light-pink .btn-default {
    background-image: none;
    text-shadow: none;
    background: var(--btn-default-background);
}

.light-pink .btn-outline-info, .btn-link {
    color: #FFFFFF;
}

.light-pink .btn-outline-info:hover {
    background: var(--btn-outline-link-hover);
}

.light-pink .btn.btn-link {
    border-color: transparent;
}

.light-pink #content {
    top: 49px;
}

.light-pink h1, .light-pink h2, .light-pink h3 {
    color: var(--text-foreground);
}

.light-pink .alert-secondary {
    color: var(--text-foreground);
    background-color: var(--table-heading-background-color);
}

.light-pink .alert-secondary th {
    border-color: #2a2a2a;
}

/* Tables */

.light-pink .table-bordered th, .table-bordered td {
    border: 1px solid var(--table-heading-background-color);
}

.light-pink .table {
    color: var(--text-foreground);
}

.light-pink .table, .light-pink .table-hover tr:hover {
    color: var(--text-foreground);
}

.light-pink table tr.row-selected, .light-pink table tr.row_selected td {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Column search screen */
.light-pink th.sortable input {
    background-color: #ffffff;
    color: var(--text-foreground);
    border-color: var(--border-color);
}

/* Resider divider */
.light-pink .Resizer.horizontal {
    border-top-color: var(--resizer-color);
    border-bottom-color: var(--resizer-color);
    background-color: var(--resizer-color);
}

.light-pink .Resizer.vertical {
    border-left-color: var(--resizer-color);
    border-right-color: var(--resizer-color);
    background-color: var(--resizer-color);
}


.light-pink .card {
    background-color: var(--table-heading-background-color);
}

.light-pink .card-header {
    background-color: var(--card-heading-background-color);
    color: var(--text-foreground);
}

.light-pink .card-body {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

/* Json container */
.light-pink div.pretty-json-container {
    filter: invert(1);
}

/* Tabs */
.light-pink .tab-content {
    color: var(--text-foreground);
}

.light-pink .nav-tabs > a {
    background-color: var(--tab-color);
    color: var(--text-foreground);
}

.light-pink .nav-tabs > a.active {
    background-color: var(--tab-active-color);
}

/* forms */
.light-pink .form-control,
.light-pink .custom-file-input {
    background-color: #FFFFFF;
    color: var(--text-foreground);
}

/* Pagination */
.light-pink .page-item .page-link {
    background-color: var(--page-link-background-color);
    border-color: var(--border-color);
    color: var(--text-foreground);
}

.light-pink .page-item input {
    background-color: #FFFFFF;
    color: var(--text-foreground);
    border: 1px solid var(--form-background-color);
}

.light-pink .page-item.active .page-link {
    background-color: var(--sidebar-active-icon-background-color);
    border-color: var(--border-color);
}

.light-pink .react-bootstrap-table-pagination-total {
    color: var(--text-foreground);
}

/* artifact viewer screen */
.light-pink .artifact-search-table a {
    color: var(--text-foreground);
}

.light-pink .report-viewer {
    color: var(--text-foreground);
}

/* modal dialogs */
.light-pink .modal-content {
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
}

/* notebooks */
.light-pink .cell-toolbar,
.light-pink .notebook-input{
    background-color: var(--page-link-active-background-color);
    color: var(--text-foreground);
}

.light-pink .notebook-input pre {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .notebook-cell.selected {
    border-color: var(--border-color);
}

/* react timelines */
.light-pink .react-calendar-timeline .rct-sidebar {
    color: var(--text-foreground);
}

/* file tree */
.light-pink div.file-tree ul {
    font-size: 16px;
    color: var(--sidebar-active-icon-background-color);
    background-color: var(--background-color);
}

/* width */
.light-pink ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.light-pink ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Handle */
.light-pink ::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.light-pink ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Table column selector */
.light-pink .dropdown-menu {
    background-color: var(--background-color);
}

.light-pink .dropdown-item {
    color: var(--text-foreground);
    background-color: #FFFFFF;
}

.light-pink .dropdown-item:hover {
    background-color: var(--btn-default-background-hover);
}

.light-pink .dropdown-item.active {
    background-color: var(--color-table-row-selected);
}


/* Datepicker */
.light-pink .react-datepicker,
.light-pink .react-datetime-picker
{
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .react-datetime-picker__inputGroup__input,
.light-pink .react-datetime-picker__button
{
    filter: invert(1);
}

.light-pink .react-datepicker-popper {
    z-index: 10;
}

.light-pink .react-datepicker__day {
    color: var(--text-foreground);
}

.light-pink .react-datepicker__day[aria-disabled="false"] {
    background-color: var(--color-table-row-selected);
    color: var(--text-foreground);
}

/* Footer */
.light-pink .app-footer.fixed-bottom {
    background-color: var(--app-footer-background-color);
    color: var(--text-foreground);
    z-index: 1000;
}

/* Spinner */
.light-pink .overlay .fa-spinner {
    filter: invert(1);
}

/* Shell output */
.light-pink .notebook-output pre {
    filter: invert(1);
}

/* ACE things */
.light-pink .ace_tooltip {
    background-color: var(--background-color);
    color: var(--text-foreground);
}


.light-pink .custom-tooltip {
    margin: 0;
    padding: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    white-space: nowrap;
    display: block;
}


.light-pink .file-hex-view td, .file-hex-view th {
    border: 0px;
}

.light-pink .labels, .light-pink .velo__control, .light-pink .velo__menu {
    background-color: var(--background-color);
    color: var(--text-foreground);
}

.light-pink .velo__multi-value {
    background-color: var(--btn-default-background);
}

.light-pink .velo__input {
    color: var(--text-foreground);
}

.light-pink .velo__option:hover, .light-pink .velo__option--is-focused, .light-pink .velo__multi-value:hover {
    background-color: var(--btn-default-background-hover);
}

.light-pink hr {
    background-color: var(--text-foreground);
}

.light-pink img.velo-logo {
    height: 36px;
    width: 29px;
    margin: 5px;
    filter: brightness(0) saturate(100%) invert(56%) sepia(51%) saturate(1301%) hue-rotate(302deg) brightness(94%) contrast(101%);
}
