.keyboard-help {
    position: absolute;
    left: 4%;
    width: 92%;
    top: 5%;
    height: calc(100vh - 100px);
    opacity: .85;
    border-radius: 10px;
    z-index: 2002;
    color: #fff;
    position: fixed;
    text-align: center;
    font-family: arial,sans-serif;
    font-weight: bold;
    background: #222 none repeat scroll 0;
    overflow: hidden;
}

.keyboard-help-content {
    padding: 20px;
}

.keyboard-help-content h1 {
    color: #dd0;
    padding-top: .8em;
    text-align: left;
    font-size: 2rem;
}

.keyboard-help-content .key {
    font-weight: bold;
    padding-right: .3em;
    text-align: right;
    white-space: nowrap;
    font-family: "courier new",monospace;
}

.keyboard-help-content .key .highlight {
    color: #dd0;
}

.keyboard-help-content .key .highlight.ctrl {
    text-transform: capitalize;
}

.keyboard-help-content .desc {
    font-weight: normal;
    padding-right: .3em;
    text-align: left;
    vertical-align: top;
    padding-top: .15em;
    white-space: nowrap;
}

.keyboard-help-content .page-heading td {
    border-bottom-style: solid;
    border-bottom-color: grey;
    box-sizing: border-box;
    border-spacing: 2px;
}

.keyboard-help-content .page-heading {
    font-size: 2rem;
    white-space: nowrap;
    text-align: left;
    outline: none;
    padding-bottom: .8ex;
    width: 100%;
    margin-bottom: 20px;
}

.keyboard-help-content td.heading {
    font-size: 1.25rem;
    color: #dd0;
    padding-top: .8em;
    text-align: left;
}

.keyboard-help-content .help-content table {
    width: 100%;
}

.help-content .column {
    vertical-align: top;
}

.help-content .btn.btn-link {
    color: #fff;
}
