
.transform-button {
    margin-left: 5px;
}

.sort-button {
    width: 100%;
}

table.paged-table-header {
    width: 100%;
}

table.paged-table-header td {
    vertical-align: middle;
}

table.paged-table-header tr {
    height: 48px;
}

table.paged-table-header .sort-element {
    float: right;
    display: none;
}

table.paged-table-header:hover .sort-element {
    display: block;
}

table.paged-table-header .sort-element {
    display: block;
}

tr.paged-table-header th {
    padding: 0;
}

table.paged-table-header .hidden-edit {
    visibility: hidden;
}

table.paged-table-header:hover .hidden-edit {
    visibility: visible;
}


.btn-group > button.goto-start.btn.btn-default {
    margin-left: 5px;
}

.goto-end {
}


.goto-input {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.goto-input input {
    width: 100%;
}

.hidden-sorter {
    width: 0px;
    visibility: hidden;
}
