
.transform-button {
    margin-left: 5px;
}

.sort-button {
    width: 100%;
}

.paged-table-header {
    width: 100%;
}

.paged-table-header td {
    vertical-align: middle;
}

.paged-table-header .sort-element {
    float: right;
    display: none;
}

.paged-table-header:hover .sort-element {
    float: right;
    display: block;
}

.paged-table-header .sort-element.visible {
    display: block;
}
