.velo-table .react-bootstrap-table {
    width: 100%;
}

.velo-table {
    margin-top: 10px;
}

/* Collapse empty rows as much as possible */
.velo-table td:empty {
    padding: 0px;
    -webkit-border-vertical-spacing: 0px;
}

a.btn.btn-default.active {
    color: #808080;
}


.modal-90w {
    width: 90%;
    max-width: none!important;
}

.row.react-bootstrap-table-pagination {
    width: 100%;
}
