.velo-table .react-bootstrap-table {
    width: 100%;
}

.velo-table {
    margin-top: 10px;
}

a.btn.btn-default.active {
    color: #808080;
}


.modal-90w {
    width: 90%;
    max-width: none!important;
}

.row.react-bootstrap-table-pagination {
    width: 100%;
}
