<table datatable="ng"
       ng-if='controller.pageData.columns'
       dt-options="controller.dtOptions"
       dt-instance="controller.dtInstance"
       dt-disable-deep-watchers="true"
       class="row-border hover dtable">
  <thead>
    <tr>
      <th ng-repeat="column in ::controller.pageData.columns track by $index">{$ column $}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in ::controller.pageData.rows track by $index">
      <td ng-repeat="cell in ::row.cell track by $index">
        <div ng-if="::controller.isObject(cell)" >
          <div ng-repeat="(k, v) in ::cell track by $index" >
            {$ ::k $} : {$ ::v $} <br>
          </div>
        </div>
        <div ng-if="::!controller.isObject(cell)" >
          {$ ::cell $}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Show a hint if no content exists. -->
<div ng-if="controller.loading" class="padded">
  <i class="fa fa-spinner fa-spin fa-fw"></i> Calculating...
</div>

<div ng-if="!controller.loading && !controller.pageData.columns"
     class="no-content">
  No rows to show.
</div>
