<div class="modal-header">
  <h3>{{ title || "Raw Response JSON" }}</h3>
</div>

<div class="modal-body d-flex flex-column">
  <div class="cell-toolbar">
    <div class="btn-group" role="group">
      <button class="btn btn-default"
              title="Settings"
              ng-click="controller.showSettings()">
        <i class="fa fa-wrench"></i>
      </button>
    </div>
  </div>
  <div style="height: 100%">
    <div ui-ace="{
                 showGutter: true,
                 workerPath: '/static/dist/',
                 theme:'twilight',
                 onLoad: aceConfig,
                 mode: 'json',
                 rendererOptions: {
                 fontSize: '14px',
                 fontFamily: 'monospace',
                 },
                 }"
         ng-model="json"
         readonly
         ></div>
  </div>
</div>
