<div class="modal-header">
  <h3>Table's VQL query</h3>
</div>
<div class="modal-body">
  <div class="toolbar">
    <div class="breadcrumb">
      <li>
        <button class="btn btn-default" name="Copy"
                title="Copy to clipboard"
                ng-click="controller.copy()">
          <i class="fa fa-clipboard"></i>
        </button>
      </li>
    </div>
  </div>
  <div ui-ace="{
               useWrapMode : true,
               showGutter: true,
               theme:'twilight',
               mode: 'sql',
               enableBasicAutocompletion: true,
               enableSnippets: true,
               enableLiveAutocompletion: true,
               rendererOptions: {
                 fontSize: '14px',
                 fontFamily: 'monospace',
                },
               }"
       ng-model="vql"
       ></div>
  <textarea style="width: 0px; height: 0px"
            id="clipboard-content"></textarea>
</div>
