<div class="Wizard FormData">
  <div class="WizardPage">
    <div class="WizardBar modal-header">
      <h3>{$ title $} -
        <span class="Description">
          {$ controller.currentPage.title $}
        </span>
        <span ng-if="controller.currentPage.helpLink">
          <a ng-href="{$ controller.currentPage.helpLink $}" target="_blank">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </span>
        <span class="page-indicator">
          Step {$ controller.currentPageIndex + 1 $} out of {$ controller.pages.length $}
        </span>
      </h3>
      <button type="button" class="close"
              ng-click="controller.reject()" aria-hidden="true">
        x
      </button>
    </div>

    <ng-transclude></ng-transclude>
  </div>

  <div class="modal-footer navbar-inner">
    <div class="btn-toolbar rounded" role="toolbar" style="width: 100%">
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-secondary"
                ng-click="controller.reject()">
          Cancel
        </button>
      </div>
      <div class="btn-group ml-auto" role="group">
        <button ng-if="controller.currentPageIndex > 0 && !controller.currentPage.noBackButton"
                class="btn btn-primary Back"
                ng-click="controller.back()">
          {$ controller.currentPage.prevButtonLabel $}
        </button>
        <button class="btn btn-primary Next"
                ng-disabled="!controller.currentPage.isValid"
                ng-click="controller.next()">
        {$ controller.currentPage.nextButtonLabel $}
        </button>
      </div>
    </div>
  </div>
</div>
