config
public
server_artifacts
server_artifact_logs
*.json.db
client_idx
artifact_definitions
orgs
snapshot.json
snapshot.json.index
clients/C.123
clients/C.4f5e52adf0a337a9/flow_index.json*

hunts/index.*