
.flow-toolbar {
    display: block;
    box-sizing: content-box;
    overflow: visible;
    margin: 5px;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.wrapped-text {
    overflow-wrap: break-word;
}

div .flow-status-icon {
    text-align: center;
}

.flow-log-filter {
    margin-right: 4px;
}

.table tr.flow-urgent {
    font-weight: bold;
}

.flow-file-download-button {
    width: 100%;
    text-align: left;
}

.card-deck {
    padding-top: 5px;
}

.velo-icon {
    display: inline;
    padding-right: 5px;
}

.delete-flow-table {
    overflow-y: auto;
    max-height: 60vh;
}
