.client-summary {
    padding: 8px 10px;
    float: left;
    color: var(--color-foreground);
}

.client-name {
    display: inline;
    color: var(--color-foreground);
}

.client-name:hover {
    display: inline;
    color: var(--color-client-link-hover);
}

client-status-icons > div {
    text-align: left;
    display: inline;
}

