.client-summary {
    padding: 8px 10px;
    float: left;
    color: var(--color-foreground);
}

.client-name {
    display: inline;
    color: var(--color-foreground);
}

.client-name:hover {
    display: inline;
    color: var(--color-client-link-hover);
}

.client-summary .client-status {
    padding-right: 8px;
}

.online-btn {
    transform-style: preserve-3d;
    background: radial-gradient(circle at 50% 25%,
          white, rgba(0,255,0));
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: inline-flex;

    border-color: gray;
    border-width: 1px;
    border-style: solid;
}

.any-btn {
    transform-style: preserve-3d;
    background: radial-gradient(circle at 50% 25%,
          white, rgba(100,100,100));
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: inline-flex;

    border-color: gray;
    border-width: 1px;
    border-style: solid;
}
