.button-label {
    margin-left: 5px;
}

.status {
  line-height: 52px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  padding: 5px 20px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: content-box;
  height: 26px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  margin-top: 2px;
  display: block;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 38px;
  width: 282px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1002;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

#client-search-bar {
  background: var(--color-canvas-background);
  border: 1px solid var(--color-btn-default-border);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--color-foreground);
  font-family: var(--font-family-sans-serif);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  height: 26px;
}
