.notebook-cell {
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2px;
    border-width: 3px;
    border-style: solid;
    width: 100%;
    padding: 5px;
    margin: 0px;
    outline: none;
    position: relative;
    overflow: visible;
}

.notebook-cell.selected {
    border-color: #ababab;
}

.notebook-input {
    border-radius: 2px;
    background: #f7f7f7;
    line-height: 1.21429em;
}

.notebook-input pre {
    width: 100%;
}

.cell-toolbar {
    width: 100%;
    position: static;
    background: var(--color-canvas-background);
}

.cell-toolbar .btn-toolbar {
    display: block;
}

.notebook-output.collapsed {
    max-height: 24em;
    width: 100%;
    overflow: auto;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    display: block;
}

.notebook-output.expanded {
    max-height: 200em;
}

.shell-output-container {
    height: 100%;
    overflow-y: hidden;
    width: 100%;
}

.fullscreen .shell-output-container {
    height: 85vh;
}

div.dt-buttons {
    margin-bottom: 6px;
}

.shell-cell {
    display: flex;
    border-color: #ababab;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding: 0px;
    margin: 0px;
    outline: none;
    position: relative;
    overflow: auto;
}


.shell-cell.collapsed {
    max-height: 24em;
    width: 100%;
    overflow: auto;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    display: block;
}

.shell-command {
    padding: 5px;
}

.shell-command textarea {
    min-height: 30px;
}

.shell-hidden {
    display: hidden;
}

.shell-output-container pre {
    display: block;
    padding: 8px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 1.31;
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--color-canvas-background);
    border: 1px solid var(--color-panel-border);
    border-radius: 4px;
}

.shell-output-container .accordion-header pre {
    color: var(--color-sidebar-disabled-foreground);
    margin: 0;
    border-radius: 0;
}

.shell-output-container .accordion-body pre {
    color: var(--color-foreground);
    border-radius: 0;
}

.shell-command .velo-ace-editor {
    flex: auto;
    width: 1%;
    min-width: 0;
}

.shell-results .timestamp {
    padding: 5px;
}

.shell-command .vql-shell-input,
.vql-shell-input .ace_editor  {
    min-height: 38px;
    border: 1px solid var(--color-btn-border);
}

.shell-info {
    white-space: nowrap;
    display: inline-flex;
}

.shell-info i {
    margin-right: 10px;
}

.shell-output-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.shell-output-container .row {
    width: 100%;
}

.shell-results {
    max-height: 70vh;
    overflow-y: auto;
}

.shell-cell {
    margin-bottom: 20px;
}

.stderr {
    color: var(--color-warning-color);
}

.shell-vql-cell .velo-ace-editor {
    height: 38px;
    width: 70vw;
}

.fullscreen .shell-vql-cell.shell-output-container {
    height: 65vh;
}

.fullscreen .vql-shell-input.velo-ace-editor {
    height: 15vh;
    width: 70vw;
}
