.folder-icon {

}

.json-index {
    color: rgb(108, 113, 196);
}

.json-key {
    color: rgb(0, 43, 54);
    cursor: pointer;
}

.json-string {
    padding-left: 5px;
    color: rgb(203, 75, 22);
}

.json-number, .json-null, .json-boolean {
    padding-left: 5px;
    color: rgb(38, 139, 210);
}

.json-opener, .json-closer {
    font-weight: bold;
    padding-left: 2px;
    cursor: pointer;
}

.json-array-viewer {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 70px);
    overflow-wrap: anywhere;
}

.json-expand-button {
    width: auto;
    cursor: pointer;
}
