<div class="card ace_editor">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="btn-group" role="group">
        <h4 class="card-title">Add client monitoring for client labels.</h4>
      </div>

      <div class="">
        <grr-form-client-label value="controller.label">
        </grr-form-client-label>
      </div>
    </div>
    <grr-search-artifact names="controller.current_table.artifacts"
                         params="controller.current_table.parameters"
                         type="'CLIENT_EVENT'"
                         >
    </grr-search-artifact>

    <a href class="btn btn-primary btn-block"
       ng-click="controller.saveClientMonitoringArtifacts()"
       role="button">Save Client Monitoring Artifacts</a>

    <div ng-if="controller.error" class="proto_error">
      {$ controller.error $}
    </div>
  </div>
</div>
