<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add server monitoring.</h4>

    <grr-search-artifact names="controller.names"
                         params="controller.params"
                         type="'SERVER_EVENT'"
                         >
    </grr-search-artifact>

    <a href="#!" class="btn btn-primary btn-block"
       ng-click="controller.saveServerArtifacts()"
       role="button">Save Server Monitoring Artifacts</a>

    <div ng-if="controller.error" class="proto_error">
      {$ controller.error $}
    </div>
  </div>
</div>
