<div class="modal-header">
  <h4>Add/Modify an artifact</h4>
</div>

<div class="modal-body">
  <div ui-ace="{
               useWrapMode : true,
               showGutter: true,
               workerPath: '/static/dist/',
               theme:'twilight',
               onLoad: aceConfig,
               mode: 'yaml',
               rendererOptions: {
                  fontSize: '14px',
                  fontFamily: 'monospace',
                  },
               }"
       ng-model="artifact"
       ></div>
</div>
<div class="modal-footer">
  <a href class="btn btn-primary btn-block"
     ng-click="controller.saveArtifact()"
     role="button">Save Artifact (Ctrl-Enter)</a>

  <div ng-if="controller.error" class="proto_error">
    {$ controller.error $}
  </div>
</div>
