<h5 class="preserve-linebreaks">{$ ::value.description $}</h5>
<h5 ng-if="::value.author">by {$ ::value.author $}</h4>
<table class="table table-bordered table-condensed">
  <tr ng-if="::value.error_message">
    <td class="col-md-3 proto_error">Error</td>
    <td class="col-md-9 proto_error">
      <grr-semantic-value value="::value.error_message" />
    </td>
  </tr>
  <tr ng-if="::value.parameters.length > 0">
    <td class="col-md-12">Parameters</td>
  </tr>
  <tr>
    <td class="col-md-12">
      <div ng-repeat="item in ::value.parameters track by $index">
        <grr-semantic-proto value="::item" type="ArtifactParameter" />
      </div>
    </td>
  </tr>
</table>

<div ng-if="::value.sources.length > 0">
  <table class="table table-bordered table-condensed">
    <tr ng-if="::value.parameters.length > 0">
      <td>Artifact Sources</td>
    </tr>
    <tr>
      <td class="col-md-12">
        <div ng-repeat="item in ::value.sources track by $index">
          <table class="table table-bordered table-condensed">
            <tr><td>Precondition</td></tr>
            <tr>
              <td>
                <grr-syntax-highlight language="SQL" code="::item.precondition">
                </grr-syntax-highlight>
              </td>
            </tr>
            <tr><td>Queries</td></tr>
            <tr ng-repeat="query in ::item.queries track by $index">
              <td>
                <grr-syntax-highlight language="SQL" code="::query">
                </grr-syntax-highlight>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
