<div class="navbar navbar-default toolbar"  >
  <div class="navbar-inner">
    <div class="navbar-form pull-left">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          title="Add an Artifact"
          name="AddArtifact"
          ng-disabled="!controller.uiTraits.Permissions.artifact_writer"
          ng-click="controller.updateArtifactDefinitions()"
          >
          <i class="fa fa-plus"></i>
        </button>

        <button
          type="button"
          class="btn btn-default"
          title="Edit an Artifact"
          name="EditArtifact"
          ng-disabled="!controller.selectedName || !controller.uiTraits.Permissions.artifact_writer"
          ng-click="controller.updateArtifactDefinitions(controller.selectedName)"
          >
          <i class="fa fa-pencil"></i>
        </button>

        <button
          type="button"
          class="btn btn-default"
          title="Delete Artifact"
          name="DeleteArtifact"
          ng-disabled="!controller.isCustom || !controller.uiTraits.Permissions.artifact_writer"
          ng-click="controller.deleteArtifactDefinitions()"
          >
          <i class="fa fa-trash"></i>
        </button>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid dashboard">
  <div class="col-md-5">
    <div class="input-group">
      <input name="Search" class="form-control"
             style="background-color: #ffffff"
             type="text" placeholder="Search"
             autocomplete="off"
             ng-model="controller.search"></input>
    </div>

    <div class="artifact-view-table">
      <div ng-if="!controller.matchingDescriptors.length">
        Search for an artifact by typing above.
      </div>

      <table name="Artifacts" class="table table-condensed table-hover table-striped">
        <colgroup>
          <col width="100%"></col>
        </colgroup>

        <tbody>
          <tr ng-if="controller.descriptorsError" class="alert-danger danger">
            <td>
              <strong>Can't fetch artifacts list:</strong><br/>
              <span class="preserve-linebreaks">{$ controller.descriptorsError $}</span>
            </td>
          </tr>
          <tr ng-repeat="descriptor in controller.matchingDescriptors"
              ng-class="{'row-selected': descriptor.name ==
                        controller.selectedName}">
            <td style="cursor: pointer; border: none">
              <a style="display:block" class="full-width-height artifact-links"
                 ng-click="controller.selectName(descriptor.name, $event)"
                 href='#'>
                {$ ::descriptor.name $}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div name="ArtifactInfo" class="col-md-7 artifact-view-description"
       grr-force-refresh refresh-trigger="controller.selectedName">
    <grr-report-viewer ng-if="controller.selectedName"
                       params="controller.reportParams">
    </grr-report-viewer>
  </div>
</div>
