<div class="form-group">
  <label class="control-label ng-binding"
         title="Inject values into artifact's environment.">
    Environment
  </label>
  <div class="controls">
    <button class="btn btn-default form-add"
            name="Add"
            ng-disabled='!controller.rootScope_.selectedArtifact'
            ng-click="controller.addItem()">
      <i class="glyphicon glyphicon-plus"></i>
    </button>

    <div ng-repeat="item in value.env">
      <label class="control-label ng-binding" title="">
        {$ item.friendly_name || item.key $}
      </label>
      <div class="controls">
        <grr-json-proxy
          type="{$ item.type $}"
          value="item.value" />
      </div>
    </div>
  </div>
</div>

<grr-form-proto-repeated-field
  value="value.files"
  field="{'type':'VQLEnv', 'name':'Exported Files',
     'doc': 'Export files as Artifact\'s parameter'}" />
