<div ng-switch="type">
  <div class="form-group"
       ng-switch-when="timestamp">
    <p class="input-group datepicker-toolbar">
      <input type="text"
             class="form-control"
             uib-datepicker-popup="{{format}}"
             ng-model="controller.date_time"
             is-open="controller.popup_opened"
             datepicker-options="controller.dateOptions"
             ng-required="false"
             close-text="Close"
             alt-input-formats="controller.altInputFormats"></input>
      <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="controller.openDatePopup($event)">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
    </p>
  </div>

  <div ng-switch-when="csv">
    <grr-csv-form value="value" field="field">
    </grr-csv-form>
  </div>

  <div ng-switch-when="choices">
    <select class="form-control pull-left"
            ng-options="choice for choice in info.choices"
            ng-model="value[field]">
    </select>
  </div>

  <div ng-switch-when="bool">
     <input class=""
            type="checkbox"
            ng-true-value="'Y'"
            ng-false-value="'N'"
            ng-model="value[field]"></input>
     <span class="description">
       {{ description }}
     </span>
  </div>
  <div ng-switch-default>
    <div class="input-group">
      <textarea class="form-control col-11"
                ng-model="value[field]"
                ng-attr-rows="{$ controller.text_size $}"
                ></textarea>
      <div class="input-group-append">
        <button class="btn btn-outline-default"
                ng-click="controller.resizeTextArea($event)"
                >
          <i class="fa fa-chevron-down"
             ng-if="controller.text_size==1"></i>
          <i class="fa fa-chevron-up"
             ng-if="controller.text_size!=1"></i>
        </button>
      </div>
    </div>
</div>
