<div class="modal-header">
  <h3>Upload artifact pack</h3>
  <button type="button" class="close"
          ng-click="reject()" aria-hidden="true">
    x
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="UploadField">Select a file: </label>
          <input type="file" grr-upload="myFile" style="height: 100%"
                 class="form-control" id="UploadField"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer navbar-inner">
  <div class="btn-toolbar rounded" role="toolbar" style="width: 100%">
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-secondary Next"
              ng-click="reject()">
        Cancel
      </button>
    </div>

    <div class="btn-group ml-auto" role="group">
      <button class="btn btn-primary Next"
              ng-disabled="!myFile"
              ng-click="uploadFile($event, myFile)">
        Upload
      </button>
    </div>
  </div>
</div>
