.error-message {
    color: var(--color-level-error);
    font-size: var(--font-size-small);
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.debug-message {
    color: var(--color-foreground);
    font-size: var(--font-size-small);
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-message {
    color: var(--color-foreground-dimmed);
    font-size: var(--font-size-small);
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.report-viewer .table-panel {
    overflow-x: auto;
}

.cell-placeholder {
    height: 100px;
}

blockquote {
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
