.notebook-filter label {
    margin-bottom: 0px;
}

.notebook-filter input {
    height: 1.5em;
}

.notebook-filter td.sort-element {
    vertical-align: middle;
}


div.error-message {
    font-size: 12pt;
    color: #f11818 !important;
}


.notebook-cell {
    overflow-x: auto;
}
