.regex_array_item {
    display: flex;
}

.regex_array_item .regex-form {
    width: 100%;
}


.full-width {
    width: 100%;
}

.velo-form .form-switch {
    margin-top: 7px;
    margin-left: 20px;
}
