/* react calendar */
.react-calendar {
    background: var(--color-calendar-background);
}

.react-calendar .react-calendar__navigation button,
.react-calendar .react-calendar__tile {
    color: var(--color-foreground-dimmed);
}

.react-calendar .react-calendar__tile--now {
    background: var(--background-calendar-tile-now);
    color: var(--color-calendar-tile);
}

.react-calendar .react-calendar__tile--active,
.react-calendar .react-calendar__tile--active:hover {
    background: var(--background-calendar-tile-active);
    color: var(--color-calendar-tile);
}

.react-calendar .react-calendar__month-view__days__day--weekend {
    color: var(--accent-color);
}
