<grr-wizard-form title="Build Offline collector"
                 on-resolve="onResolve()"
                 on-reject="onReject()">

  <grr-wizard-form-page title="Select Artifacts to collect">
    <grr-search-artifact names="controller.names"
                         params="controller.params"
                         type="'CLIENT'">
    </grr-search-artifact>
    <dl class="dl-horizontal dl-flow">
      <dt>Ops/Sec</dt>
      <dd><input ng-model="controller.ops_per_second" type="text"></input></dd>
      <dt>Timeout</dt>
      <dd><input ng-model="controller.timeout" type="text"></input></dd>
    </dl>
  </grr-wizard-form-page>

  <grr-wizard-form-page title="Configure Collection">
    <div class="padded">
      <div class="well well-large">
        <div class="form-group">
          <label class="control-label" title="The target collector.">
            Target Operating System
          </label>
          <div class="controls">
            <select class="form-control" ng-model="controller.os">
              <option label="Windows" value="Windows">Windows</option>
              <option label="Linux" value="Linux">Linux</option>
              <option label="MacOS" value="MacOS">MacOS</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" title="Report Template.">
            Report Template
          </label>
          <div class="controls">
            <select class="form-control"
                    ng-options="artifact for artifact in controller.template_artifacts"
                    ng-model="controller.template">
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" title="Collector Type">
            Collection Type
          </label>
          <div class="controls">
            <select class="form-control" ng-model="controller.target">
              <option value="ZIP">Zip Archive</option>
              <option value="GCS">Google Cloud Bucket</option>
              <option value="S3">AWS Bucket</option>
            </select>
          </div>
        </div>
        <div class="form-group row"
             ng-if="controller.target=='GCS'"
             >
          <label class="control-label col-sm-2 col-form-label" title="GCS Bucket">
            GCS Bucket
          </label>
          <grr-form field="'bucket'" class="col-sm-10"
                    description="'GCS Bucket'"
                    value="controller.target_args"></grr-form>

          <label class="control-label col-sm-2 col-form-label"
                 title="GCS Key Blob">
            GCS Key Blob
          </label>
          <grr-form field="'GCSKey'" class="col-sm-10"
                    description="'GCS Key Blob'"
                    value="controller.target_args">
          </grr-form>
        </div>
        <div class="form-group row"
             ng-if="controller.target=='S3'"
             >
          <label class="control-label col-sm-2 col-form-label"
                 title="Region">
            Region
          </label>
          <grr-form field="'region'" class="col-sm-10"
                    description="'Region'"
                    value="controller.target_args">
          </grr-form>

          <label class="control-label col-sm-2 col-form-label"
                 title="Bucket">
            Bucket
          </label>
          <grr-form field="'bucket'" class="col-sm-10"
                    description="'Credentials Secret'"
                    value="controller.target_args">
          </grr-form>


          <label class="control-label col-sm-2 col-form-label"
                 title="Credentials Key">
            Credentials Key
          </label>
          <grr-form field="'credentialsKey'" class="col-sm-10"
                    description="'Credentials Key'"
                    value="controller.target_args"></grr-form>

          <label class="control-label col-sm-2 col-form-label"
                 title="Credentials Secret">
            Credentials Secret
          </label>
          <grr-form field="'credentialsSecret'" class="col-sm-10"
                    description="'Credentials Secret'"
                    value="controller.target_args">
          </grr-form>
        </div>
      </div>
    </div>
  </grr-wizard-form-page>

  <!-- Submit the collection and show the status -->
  <grr-wizard-form-page title="Result"
                        is-valid="controller.serverResponse != null"
                        on-show="controller.sendRequest()"
                        next-button-label="Done"
                        no-back-button="true">
  </grr-wizard-form-page>

</grr-wizard-form>
