<ul class="breadcrumb">
  <li>
    <button title="Add Labels" class="btn btn-default"
            ng-disabled="controller.numSelectedClients == 0"
            ng-click="controller.showLabelsDialog('add')"
            name="AddLabels">
      <i class="fa fa-tags"></i>
      <span style="position: absolute; left: 23px; top: 5px; font-weight: bold;
                   font-size: 24px; -webkit-text-stroke: 1px #000; color: #fff">+</span>
      </button>
    <button title="Remove Labels" class="btn btn-default"
            ng-disabled="controller.numSelectedClients == 0"
            ng-click="controller.showLabelsDialog('remove')"
            name="RemoveLabels">
      <i class="fa fa-tags"></i>
      <span style="position: absolute; left: 23px; top: 5px; font-weight: bold;
                   font-size: 24px; -webkit-text-stroke: 1px #000; color: #fff">x</span>
    </button>
  </li>
</ul>

<div class="search-table">
  <table class="table table-striped table-condensed table-hover table-bordered full-width">
    <colgroup>
      <col style="width: 40px">
      <col style="width: 40px">
      <col style="width: 13em">
      <col style="width: 13em">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr>
        <th><input type="checkbox" class="client-checkbox select-all"
                   ng-model="controller.allClientsSelected"
                   ng-change="controller.selectAll()" />
        </th>
        <th>Online</th>
        <th>ClientID</th>
        <th>Host</th>
        <th>OS Version</th>
        <th>Labels</th>
      </tr>
    </thead>
    <tbody>
      <tr grr-infinite-table grr-api-items-provider
          query-params="{query: controller.query}"
          url="controller.clientsQueryUrl"
          transform-items="controller.onClientsFetched(items)"
          trigger-update="controller.triggerUpdate"
          ng-click="controller.onClientClick(item)">
        <!-- Selection checkbox -->
        <td>
          <input type="checkbox" class="client-checkbox"
                 client_id="{$ item.client_id $}"
                 ng-model="controller.selectedClients[item.client_id]"
                 ng-change="controller.updateNumSelectedClients()"
                 ng-click="$event.stopPropagation()"
                 />
        </td>

        <!-- Online status -->
        <td>
          <img class="grr-icon-small" name="clientStatusIcon"
               ng-src="/static/images/online.png"
               ng-if="(controller.now - item.last_seen_at/1000000) < (60 * 15)"/>

          <img class="grr-icon-small" name="clientStatusIcon"
               ng-src="/static/images/online-1d.png"
               ng-if="(controller.now - item.last_seen_at/1000000)  > (60 * 15) && (controller.now - item.last_seen_at/1000000)  < (60 * 60 * 24) "/>

          <img class="grr-icon-small" name="clientStatusIcon"
               ng-src="/static/images/offline.png"
               ng-if="(controller.now - item.last_seen_at/1000000)  > (60 * 60 * 24)" />
        </td>

        <!-- Subject -->
        <td>
          <span type="subject">{$ ::item.client_id $}</span>
        </td>

        <!-- Host -->
        <td>
          <grr-semantic-value value="::item.os_info.fqdn" />
        </td>

        <!-- OS Version -->
        <td>
          <grr-semantic-value value="::item.os_info.release" />
        </td>

        <!-- Labels -->
        <td>
          <grr-semantic-value value="::item.labels" />
        </td>

      </tr>
    </tbody>
  </table>
</div>
