grr-host-info {
  div.client-info {
      margin: 0px;
      width: 100%;
      padding: 10px;
      background: $color-proto-background;
      height: auto !important;

      .btn-group {
          float: right;

          label {
              margin-top: 2px;
          }

          padding-bottom: 10px;
      }
  }

  table {
      td,
      th {
          vertical-align: top !important;
      }

      td.mac-address {
          font-family: $font-monospace;
      }
  }


  .client-details {
    padding: 0 20px;
  }

  h2 {
    font-size: 18px;
    margin: -10px -20px 0 -20px;
    padding: 10px 20px;
    background: $color-proto-background;

    i {
      margin-top: 0;
      margin-right: 5px;
    }
  }

  dd {
    margin-bottom: 10px;
    word-break: break-all;
  }
}
