<div ng-if="controller.client"
     class="full-width-height">
  <!-- Toolbar -->
  <div class="client-info">
    <button class="btn btn-default"
            ng-click="controller.interrogate()"
            ng-disabled="controller.interrogateOperationId">
      <i class="fa fa-search-plus"
         ng-if="!controller.interrogateOperationId"></i>
      <i class="fa fa-spinner fa-spin fa-fw"
          ng-if="controller.interrogateOperationId"></i>
      Interrogate
    </button>

    <button class="btn btn-default" grr-nav-link state="client.vfs" >
      <i class="fa fa-folder-open-o"></i>
      VFS
    </button>

    <button class="btn btn-default" grr-nav-link state="client.flows" >
      <i class="fa fa-history"></i>
      Collected
    </button>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active" ng-click="controller.showDetails = false">
        <input type="radio" name="show-client-details" checked> Overview
      </label>
      <label class="btn btn-default" ng-click="controller.showDetails = true">
        <input type="radio" name="show-client-details"> VQL Drilldown
      </label>
    </div>
  </div>
  <div class="clearfix"></div>

  <!-- Client Details -->
  <div ng-if="!controller.showDetails">
    <div class="card panel">
      <h5 class="card-header">{$ controller.client.os_info.fqdn $}</h5>
      <div class="card-body">
        <div class="client-details"
             grr-force-refresh refresh-trigger="controller.client">

          <dl class="dl-horizontal dl-flow">
            <dt>Client ID</dt>
            <dd>
              {$ controller.clientId $}
            </dd>

            <dt>Agent Version</dt>
            <dd> {{ controller.client.agent_information.version }}</dd>

            <dt>Agent Name</dt>
            <dd>{{ controller.client.agent_information.name }}</dd>

            <dt>Last Seen At</dt>
            <dd>
              <grr-timestamp value="controller.client.last_seen_at">
              </grr-timestamp>
            </dd>

            <dt>Last Seen IP</dt>
            <dd>{{ controller.client.last_ip }}</dd>
          </dl>
          <hr />
          <dl class="dl-horizontal dl-flow">
            <dt>Operating System</dt>
            <dd>
              {$ controller.client.os_info.system $}
            </dd>

            <dt>Hostname</dt>
            <dd>
              {$ controller.client.os_info.fqdn $}
            </dd>

            <dt>Release</dt>
            <dd>
              {$ controller.client.os_info.release $}
            </dd>

            <dt>Architecture</dt>
            <dd>
              {$ controller.client.os_info.machine $}
            </dd>

          </dl>
        </div>
      </div>
    </div>
  </div>

  <!-- Shows Generic.Client.Info report -->
  <div class="client-details dashboard"
       ng-if="controller.showDetails"
       class="dashboard"
       grr-force-refresh
       refresh-trigger="controller.client.last_interrogate_flow_id">

    <grr-report-viewer
      params="controller.report_params"></grr-report-viewer>

  </div>
</div>
