.shell-cell {
    display: flex;
    border-color: #ababab;
    flex-direction: column;
    align-items: stretch;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding: 0px;
    margin: 0px;
    outline: none;
    position: relative;
    overflow: auto;
}


.shell-cell.collapsed {
    max-height: 24em;
    width: 100%;
    overflow: auto;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    display: block;
}

.shell-cell.expanded {
    max-height: 200em;
}

.shell-command {
    padding: 5px;
}

.shell-command textarea {
    min-height: 30px;
}
