<div class="shell-command">
  <div class="input-group mb-3 d-flex">
    <div class="input-group-prepend">
      <button class="btn btn-info dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
              >
        {{ controller.type }}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item"
           ng-click="controller.setType('Powershell', $event)"
           >Powershell</button>
        <button class="dropdown-item"
           ng-click="controller.setType('Cmd', $event)"
           >Cmd</button>
        <button class="dropdown-item"
           ng-click="controller.setType('Bash', $event)"
           >Bash</button>
      </div>
    </div>
    <textarea focus-me="controller.focus" rows="1"
              class="form-control"
              ng-model="controller.input">
    </textarea>

    <div class="input-group-append">
      <button class="btn btn-danger" type="button"
              ng-disabled="!controller.input"
              ng-click="controller.launchCommand()"
              >Launch</button>
    </div>
  </div>
</div>

<div ng-repeat="flow in controller.flows track by flow.session_id">
  <grr-shell-cell flow="flow">
  </grr-shell-cell>
</div>
