<div class='shell-cell'
     ng-class="{collapsed: controller.collapsed, expanded: !controller.collapsed}">

  <div class='notebook-input'>
    <div class="cell-toolbar">
      <div class="btn-group" role="group">
        <button class="btn btn-default"
                title="Collapse"
                ng-if="!controller.collapsed"
                ng-click="controller.collapsed = true">
          <i class="fa fa-compress"></i>
        </button>
        <button class="btn btn-default"
                title="Expand"
                ng-if="controller.collapsed"
                ng-click="controller.collapsed = false">
          <i class="fa fa-expand"></i>
        </button>

        <button class="btn btn-default"
                title="Load Output"
                ng-if="!controller.loaded"
                ng-click="controller.loadData()">
          <i class="fa fa-eye"></i>
        </button>

        <button class="btn btn-default"
                title="Hide Output"
                ng-if="controller.loaded"
                ng-click="controller.loaded = false">
          <i class="fa fa-eye-slash"></i>
        </button>

      </div>
      <div class="btn-group float-right" role="group">
        <button class="btn btn-outline-info"
                ng-if="flow.state == 'TERMINATED'"
                disabled>
          <grr-timestamp value="flow.active_time"></grr-timestamp> by {{ flow.request.creator }}
        </button>
        <button class="btn btn-outline-info"
                ng-if="flow.state != 'TERMINATED'"
                disabled>
          <i class="fa fa-spinner fa-spin fa-fw"></i>
          <grr-timestamp value="flow.create_time"></grr-timestamp> by {{ flow.request.creator }}
        </button>

      </div>
    </div>

    <pre>{{ controller.input }}</pre>
  </div>
  <div class='notebook-output' ng-if="controller.loaded">
    <pre ng-repeat="row in controller.data">{{ row.Stdout }}</pre>
  </div>
</div>
