.users {
    max-height: calc(100vh - 145px);
    max-width: calc(100vw - 45px);
    overflow-y: scroll;
}

.users-search-table  {
    padding-right: 0;
    padding-left: 0;
    margin-right: 15px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    position: fixed;
    overflow-x: hidden;
    direction: rtl;
}

.users-search-table a {
    color: black;
}

.users-search-table a:hover {
    text-decoration: none;
}

.users-search-table thead {
    display: none;
}

.users-search-results {
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 150px);
    box-sizing: border-box;
    overflow-y: auto;
}

.users-search-results .results-viewer {
    margin-bottom: 150px;
    overflow: none;
}

.users-search-panel {
    position: static;
    width: 100%;
    overflow-x: auto;
    height: -webkit-fill-available;
}
