.card.panel {
    border-radius: 5px;
    position: relative;
    margin: 20px;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    border: #f0f0f0;
    border-top-width: 2px;
    border-top-style: solid;
    height: 100%;
    overflow-y: scroll;
}
