.user-label {
    max-height: 38px;
    margin-right: 10px
}

.user-label img {
    max-height: 24px;
    padding: 0;
    margin-left: 5px;
}

.timezone-selector {
    flex: 1 1 auto;
}

.org-label {
    padding-left: 1ex;
    display: inline;
    opacity: 50%;
}
