<div class="client-status toolbar-buttons"
    ng-if="controller.clientInfo.last_seen_at"
     >
  <div ng-if="controller.clientInfo.os_info.fqdn" class="client-name">
    {$ controller.clientInfo.os_info.fqdn $}
  </div>
  <div ng-if="!controller.clientInfo.os_info.fqdn" class="client-name">
    {$ controller.clientInfo.client_id $}
  </div>

  <!-- Output of the directives below depends on the current time (as
       they depend on the time *passed since* the time the client was last
       active. We have to refresh them every second, as Angular won't
       detect the changes automatically (since source value - last_seen_at -
       stays the same). -->
  <grr-periodic-refresh interval="1000">
    <grr-client-status-icons client="controller.clientInfo"></grr-client-status-icons>
    {$ (controller.clientInfo.last_seen_at | grrTimeSince) $}
  </grr-periodic-refresh>
</div>
