<div class="client-status toolbar-buttons"
    ng-if="controller.clientInfo"
     >
  <div ng-if="controller.clientInfo.os_info.fqdn" class="client-name">
    {$ controller.clientInfo.os_info.fqdn $}
  </div>
  <div ng-if="!controller.clientInfo.os_info.fqdn" class="client-name">
    {$ controller.clientInfo.client_id $}
  </div>

  <span class="centered">
    <img class="grr-icon-small" name="clientStatusIcon"
         ng-src="/static/images/online.png"
         ng-if="controller.last_seen_sec < 60 * 15"
         title="{$ controller.seen_ago $}" />

    <img class="grr-icon-small" name="clientStatusIcon"
         ng-src="/static/images/online-1d.png"
         ng-if="controller.last_seen_sec > 60 * 15 && controller.last_seen_sec < 60 * 60 * 24 "
         title="{$ controller.seen_ago $}" />

    <img class="grr-icon-small" name="clientStatusIcon"
         ng-src="/static/images/online-1d.png"
         ng-if="controller.last_seen_sec > 60 * 60 * 24"
         title="{$ controller.seen_ago $}" />
  </span>
  {{ controller.seen_ago }}

</div>
