grr-client-summary {
    padding: 5px 10px;
    float: left;
}
grr-client-summary  .client-name {
    color: var(--color-infoline-success);
    display: inline;
}

grr-client-summary .client-name .nav-link {
    display: inline;
    color: var(--color-infoline-success);
}

grr-client-summary  grr-client-status-icons > div {
    text-align: left;
    display: inline;
}

grr-client-summary  .client-status,
grr-client-summary  .client-ip-info {
    color: var(--color-infoline-color);
}

grr-client-summary  grr-client-warnings {
    display: block;
    padding-top: .5em;
}
