<div class="pull-left">
  <span class="hamburger toolbar-buttons"
        ng-click="controller.Collapse()">&#9776;</span>
  <div id="navigator"
       ng-class="{'collapsed': controller.collapsed, 'uncollapsed': !controller.collapsed}"
       ng-click="controller.Collapse()"
       >
    <div>
      <!-- Client overview and links for client navigation -->
      <section ng-if="controller.clientId">
        <!-- Client links -->
        <ul class="nav nav-pills">
          <li grr-nav-link state="client.hostInfo"
              params="{clientId: controller.clientId}">
            Host Information
          </li>
          <li grr-nav-link state="client.vfs"
              params="{clientId: controller.clientId}"
              >
            Browse Virtual Filesystem
          </li>
          <li grr-nav-link state="client.flows"
              params="{clientId: controller.clientId}"
              >
            Collected Artifacts
          </li>
        </ul>
      </section>

      <!-- Management links -->
      <section>
        <h1>Management</h1>

        <ul class="nav nav-pills">
          <li grr-nav-link state="hunts"
              >
            Hunt Manager
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="server_files">
            Server Files
          </li>
        </ul>

      </section>

      <!-- Additional links -->
      <section ng-if="controller.uiTraits.links">
        <h1>Links</h1>

        <ul class="nav nav-list">
          <li ng-repeat="item in controller.uiTraits.links">
            <a href="{{item.url}}">{{ item.text }}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</span>
