<div class="float-left">
  <img src="/static/images/velo.svg" class="velo-logo"/>
  <span class="hamburger toolbar-buttons"
        ng-click="controller.CollapseToggle()">&#9776;</span>
  <div id="navigator"
       ng-class="{'collapsed': controller.collapsed, 'uncollapsed': !controller.collapsed}"
       ng-click="controller.Collapse()"
       >
    <div>
      <!-- Management links -->
      <section>
        <ul class="nav nav-pills">
          <li grr-nav-link state="userDashboard"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-home navicon"></i>
            Home
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="hunts"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-crosshairs navicon"></i>
            Hunt Manager
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="view_artifacts"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-wrench navicon"></i>
            View Artifacts
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="server_events"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-eye navicon"></i>
            Server Events
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="server_artifacts"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-server navicon"></i>
            Server Artifacts
          </li>
        </ul>

        <ul class="nav nav-pills">
          <li grr-nav-link state="notebook"
              ng-if="controller.uiTraits.Permissions.read_results"
              >
            <i class="fa fa-book navicon"></i>
            Notebooks
          </li>
        </ul>

        <!--  Not implemented yet.
        <ul class="nav nav-pills">
          <li grr-nav-link state="alerts">
            <i class="fa fa-exclamation-triangle navicon"></i>
            Alerts
          </li>
        </ul>
        -->
      </section>

      <!-- Client overview and links for client navigation -->
      <section ng-if="controller.clientId">
        <!-- Client links -->
        <ul class="nav nav-pills">
          <li grr-nav-link state="client.hostInfo"
              ng-if="controller.uiTraits.Permissions.read_results"
              params="{clientId: controller.clientId}">
            <i class="fa fa-laptop navicon"></i>
            Host Information
          </li>
          <li grr-nav-link state="client.vfs"
              ng-if="controller.uiTraits.Permissions.read_results"
              params="{clientId: controller.clientId}" >
            <i class="fa fa-folder-open navicon"></i>
            Virtual Filesystem
          </li>
          <li grr-nav-link state="client.flows"
              ng-if="controller.uiTraits.Permissions.read_results"
              params="{clientId: controller.clientId}" >
            <i class="fa fa-history navicon"></i>
            Collected Artifacts
          </li>

          <li grr-nav-link state="client.events"
              ng-if="controller.uiTraits.Permissions.read_results"
              params="{clientId: controller.clientId}" >
            <i class="fa fa-binoculars navicon"></i>
            Client Events
          </li>

        </ul>
      </section>

      <!-- Additional links -->
      <section ng-if="controller.uiTraits.links">
        <h1>Links</h1>

        <ul class="nav nav-list">
          <li ng-repeat="item in controller.uiTraits.links">
            <a href="{{item.url}}">{{ item.text }}</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</span>
