<h4 ng-if="value.Query.Name">
  <abbr title='{$ value.Query.VQL $}'>
    {$ value.Query.Name $}
    <span ng-if="value.part > 0">
      Part {{ value.part }}
    </span>
    <span ng-if="value.timestamp">
      @ <grr-timestamp value="value.timestamp"></grr-timestamp>
    </span>
  </abbr>
</h4>
<table class="table table-striped table-condensed table-hover table-bordered full-width vql-table">
  <thead>
    <tr>
      <th ng-repeat="column in ::controller.columns">{$ ::column $}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in ::controller.payload track by $index"
        ng-click="controller.selectRow_(row, $index)"
        ng-class="{'row-selected': $index == controller.selectedIndex }"
        >
      <td ng-repeat="column in ::controller.columns track by $index">
        <div ng-switch="controller.type_map[column]">
          <div ng-switch-default>
            {{ ::row[column]}}
          </div>
          <div ng-switch-when="Download">
            <grr-vfs-download value="::row[column]"></grr-vfs-download>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
