<div class="padded">
  <div ng-if="!huntId || !controller.hunt.hunt_id">
    <div class="card-deck">
      <div class="card panel" >
        <h5 class="card-header">View Hunt details</h5>
        <div class="card-body">
          Please select a hunt in the table above to see its details here.
        </div>
      </div>
    </div>
  </div>

  <uib-tabset ng-if="huntId && controller.hunt.hunt_id"
              active="controller.activeTab">
    <uib-tab heading="Overview" index="''">
      <grr-hunt-overview hunt="controller.hunt"
                         ng-if="controller.tabsShown['']">
      </grr-hunt-overview>
    </uib-tab>

    <uib-tab heading="Requests" index="'requests'">
      <div class="cell-toolbar">
        <div class="btn-group" role="group">
          <button class="btn btn-default"
                  title="Settings"
                  ng-click="controller.showSettings()">
            <i class="fa fa-wrench"></i>
          </button>
        </div>
      </div>

      <div ng-if="controller.tabsShown['requests']">
        <div ui-ace="{
                     showGutter: true,
                     workerPath: '/static/dist/',
                     theme:'clouds',
                     onLoad: aceConfig,
                     mode: 'json',
                     rendererOptions: {
                     fontSize: '14px',
                     fontFamily: 'monospace',
                     },
                     }"
             ng-model="controller.serializedRequests"
             readonly
             ></div>
      </div>
    </uib-tab>

    <uib-tab heading="Results" index="'results'">
      <grr-hunt-results hunt="controller.hunt"
                        hunt-id="huntId"
                        ng-if="controller.tabsShown['results']">
      </grr-hunt-results>
    </uib-tab>

    <uib-tab heading="Clients" index="'clients'">
      <grr-hunt-clients hunt-id="huntId"
                        ng-if="controller.tabsShown['clients']">
      </grr-hunt-clients>
    </uib-tab>

    <uib-tab heading="Status" index="'status'">
      <grr-csv-viewer
        params="{hunt_id: huntId, type: 'hunt_status', path: huntId}">
      </grr-csv-viewer>
    </uib-tab>

    <uib-tab heading="Report"
             ng-if="false"
             index="'report'">
      <grr-hunt-report hunt="controller.hunt"
                       huntId="huntId"
                       ng-if="controller.tabsShown['report']">
      </grr-hunt-report>
    </uib-tab>

</div>
