<div ng-if="huntId && !controller.hunt">
  Loading...
</div>

<div ng-if="controller.hunt">

  <dl class="dl-horizontal dl-hunt">

    <grr-force-refresh refresh-trigger="controller.hunt">

      <div ng-if="::controller.hunt.internal_error">
        <br>
        <dt class="alert-danger danger">Error while Opening</dt>
        <dd>{$ ::controller.hunt.internal_error $}</dd>
        <br><br>
      </div>

      <grr-semantic-value value="::controller.hunt" type="Hunt" />
    </grr-force-refresh>

  </dl>

</div>
