<div class="pull-right horizontally-padded">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active" name="ShowOutstandingClients"
           ng-click="controller.clientType = 'PENDING'">
      <input type="radio">
          <abbr title="Client matched precondition and waiting to be scheduled.">
            Pending
          </abbr>
      </input>
    </label>
    <label class="btn btn-default" name="ShowCompletedClients"
           ng-click="controller.clientType = 'SCHEDULED'">
      <input type="radio">
          <abbr title="Hunt is scheduled for client.">
            Scheduled
          </abbr>
      </input>
    </label>
    <label class="btn btn-default" name="ShowOutstandingClients"
           ng-click="controller.clientType = 'COMPLETED'">
      <input type="radio">
      <abbr title="Client completed hunt with no results.">
        Completed
      </abbr>
      </input>
    </label>
    <label class="btn btn-default" name="ShowCompletedClients"
           ng-click="controller.clientType = 'RESULTS'">
      <input type="radio">
      <abbr title="Client completed hunt and produced some results.">
        Results
      </abbr>
      </input>
    </label>
  </div>
</div>
<div class="padded clearfix"></div>

<grr-force-refresh refresh-trigger="controller.clientType"
                   refresh-trigger="controller.huntId">

  <table class="table table-striped table-condensed table-bordered full-width">
    <thead>
      <tr>
        <th>Scheduled</th>
        <th>Client</th>
        <th>Flow</th>
      </tr>
    </thead>
    <tbody>
      <tr grr-infinite-table grr-api-items-provider
          query-params="::controller.huntClientsParams"
          url="::controller.huntClientsUrl">
        <td><grr-timestamp value="::item.scheduled_time" /></td>
        <td><grr-semantic-value value="::item.client_id" /></td>
        <td>
          <a ui-sref="client.flows(::{clientId: item.client_id,
                      flowId: item.flow_id})">
            {$ ::item.flow_id $}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</grr-force-refresh>
