<div class="padded">
  <div ng-if="!huntId || !controller.hunt.hunt_id">
    <div class="card-deck">
      <div class="card panel" >
        <h5 class="card-header">View Hunt details</h5>
        <div class="card-body">
          Please select a hunt in the table above to see its details here.
        </div>
      </div>
    </div>
  </div>

  <uib-tabset ng-if="huntId && controller.hunt.hunt_id"
              active="controller.activeTab">
    <uib-tab heading="Overview" index="''">
      <grr-hunt-overview hunt="controller.hunt"
                         ng-if="controller.tabsShown['']">
      </grr-hunt-overview>
    </uib-tab>

    <uib-tab heading="Requests" index="'requests'">
      <table class="table table-condensed table-hover table-bordered
                    full-width">
        <thead>
          <tr>
            <th>Request sent to client</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>
              <grr-semantic-value
                ng-if="controller.tabsShown['requests']"
                value="::controller.hunt.start_request.compiled_collector_args"
                type="VQLCollectorArgs" />
          </td></tr>
        </tbody>
      </table>
    </uib-tab>

    <uib-tab heading="Results" index="'results'">
      <grr-hunt-results hunt="controller.hunt"
                        hunt-id="huntId"
                        ng-if="controller.tabsShown['results']">
      </grr-hunt-results>
    </uib-tab>

    <uib-tab heading="Clients" index="'clients'">
      <grr-hunt-clients hunt-id="huntId"
                        ng-if="controller.tabsShown['clients']">
      </grr-hunt-clients>
    </uib-tab>

    <uib-tab heading="Report" index="'report'">
      <grr-hunt-report hunt="controller.hunt"
                       huntId="huntId"
                       ng-if="controller.tabsShown['report']">
      </grr-hunt-report>
    </uib-tab>

</div>
