<div class="toolbar">
  <ul class="breadcrumb">
    <li>
      <button class="btn btn-default" name="NewHunt"
              ng-disabled="!controller.uiTraits.Permissions.collect_client"
              title="New Hunt" ng-click="controller.newHunt()">
        <i class="fa fa-plus"></i>
      </button>

      <div class="btn-group">
        <button class="btn btn-default" name="RunHunt"
                title="Run Hunt"
                ng-disabled="(controller.selectedHunt.state != 'PAUSED' &&
                             controller.selectedHunt.state != 'STOPPED') ||
                             !controller.uiTraits.Permissions.collect_client"
                ng-click="controller.runHunt()">
          <i class="fa fa-play"></i>
        </button>

        <button class="btn btn-default" name="StopHunt"
                title="Stop Hunt"
                ng-disabled="controller.huntState(controller.selectedHunt) != 'RUNNING' ||
                             !controller.uiTraits.Permissions.collect_client"
                ng-click="controller.stopHunt()">
          <i class="fa fa-stop"></i>
        </button>

        <button class="btn btn-default" name="ArchiveHunt"
                title="Delete Hunt"
                ng-disabled="(!controller.selectedHunt ||
                              controller.selectedHunt.state == 'RUNNING') ||
                              !controller.uiTraits.Permissions.collect_client"
                ng-click="controller.deleteHunt()">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

<div class="fill-parent-with-toolbar">
  <table class="table table-striped table-condensed table-hover table-bordered full-width">
    <colgroup>
      <col />
      <col />
      <col />
      <col />
      <col />
      <col />
      <col />
      <col />
      <col />
    </colgroup>
    <thead>
      <tr>
        <th>Status</th>
        <th>Hunt ID</th>
        <th>Description</th>
        <th>Create Time</th>
        <th>Start Time</th>
        <th>Expires</th>
        <th>Client Limit</th>
        <th>Clients Scheduled</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      <tr grr-infinite-table page-size="100"
          grr-api-items-provider url="controller.huntsUrl"
          trigger-update="controller.triggerUpdate"
          ng-click="controller.selectItem(item)"
          ng-class="{'row-selected': item.hunt_id == selectedHuntId}"
          >

        <td><grr-hunt-status-icon state="controller.huntState(item)"></grr-hunt-status-icon></td>
        <td>{$ ::item.hunt_id $}</td>
        <td>{$ ::item.hunt_description $}</td>
        <td><grr-timestamp value="::item.create_time"></grr-timestamp></td>
        <td><grr-timestamp value="::item.start_time"></grr-timestamp></td>
        <td><grr-timestamp value="::item.expires"></grr-timestamp></td>
        <td>{$ ::item.client_limit || 'Unlimited' $}</td>
        <td>{$ ::item.stats.total_clients_scheduled || 0 $}</td>
        <td>{$ ::item.creator $}</td>
      </tr>
    </tbody>
  </table>
</div>
