<div ng-if="!hunt">
  Loading...
</div>

<div ng-if="hunt">

  <grr-force-refresh refresh-trigger="hunt">
    <div class="card-deck">
      <div class="card">
        <h5 class="card-header">Overview</h5>
        <div class="card-body">
          <dl class="dl-horizontal dl-flow">
            <dt>Artifact Names</dt>
            <dd>
              <grr-semantic-value value="::hunt.start_request.artifacts" />
            </dd>

            <dt>Hunt ID</dt>
            <dd> {{ ::hunt.hunt_id }}</dd>

            <dt>Creator</dt>
            <dd>{{ ::hunt.creator }}</dd>

            <dt>Creation Time</dt>
            <dd><grr-timestamp value="::hunt.create_time" /></dd>

            <dt>Expiry Time</dt>
            <dd><grr-timestamp value="::hunt.expires" /></dd>

            <dt>State</dt>
            <dd>{{::hunt.state}}</dd>

            <dt>Ops/Sec</dt>
            <dd>{{::hunt.start_request.ops_per_second || 'Unlimited' }}</dd>

            <dt ng-if="hunt.condition.labels.label">Labels</dt>
            <dd ng-repeat="label in hunt.condition.labels.label track by $index">{{label}}</dd>

            <dt ng-if="hunt.condition.os">OS Condition</dt>
            <dd>{{hunt.condition.os.os}}</dd>

            <br>
          </dl>

          <h5> Parameters </h5>
          <dl class="dl-horizontal dl-flow">
            <div ng-repeat="item in ::hunt.start_request.parameters.env">
              <dt>{{::item.key}}</dt>
              <dd>{{::item.value}}</dd>
            </div>
          </dl>

        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Results</h5>
        <div class="card-body">
          <dl class="dl-horizontal dl-flow">
            <dt>Total scheduled</dt>
            <dd>
              <grr-semantic-value value="::hunt.stats.total_clients_scheduled" />
            </dd>

            <dt>Finished clients</dt>
            <dd> {{ ::hunt.stats.total_clients_with_results || 0 }} </dd>


            <dt>Download Results</dt>
            <dd>
              <button class="btn btn-default"
                      ng-disabled="!controller.uiTraits.Permissions.prepare_results"
                      ng-click="controller.prepareDownload()">
                Prepare Download
              </button>
            </dd>

            <dt>Available Downloads</dt>
            <dd>
              <table class="table table-stiped table-condensed table-hover table-bordered">
                <tbody>
                  <tr ng-repeat="item in hunt.stats.available_downloads.files">
                    <td>
                      <a href="{{item.path}}" ng-if="item.complete">{{item.name}}</a>
                      <div ng-if="!item.complete">{{item.name}}</div>
                    </td><td>{{item.size}} Bytes</td>
                    <td>{{item.date}}</td>
                  </tr>
                </tbody>
              </table>
            <dd>
          </dl>

        </div>
      </div>
    </div>
  </grr-force-refresh>
</div>
