# Only trigger when a PR is committed.
name: Linux Build All Arches
#on: [pull_request]
on:
  pull_request:
    types: [closed]
#    branches:
#      - master

jobs:
  build:
    if: github.event.pull_request.merged
    name: Build
    # We used to build on ubuntu-18.04 but that is now deprecated by
    # GitHub. Earlier distributions will have to use the musl build.
    runs-on: ubuntu-20.04
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - uses: actions/setup-go@v4
      with:
        go-version: '^1.23'

    - run: go version

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        sudo apt-get update
        sudo apt-get upgrade
        sudo apt-get install mingw-w64-x86-64-dev gcc-mingw-w64-x86-64 gcc-mingw-w64 gcc-aarch64-linux-gnu

    - name: Use Node.js v16
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Cache node-modules
      uses: actions/cache@v3
      env:
        cache-name: cache-node-modules
      with:
        path: |
          **/node_modules/
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: npm install gui
      run: |
            cd gui/velociraptor/
            npm install
            npm run build
            cd ../../

    - name: Build All Architectures
      # Uncomment the architectures you want here. NOTE: DarwinBase
      # does not include yara or modules with C compilers needed.
      run: |
        mkdir ./output/
        export PATH=$PATH:~/go/bin/
        go run make.go -v UpdateDependentTools
        go run make.go -v Linux
        go run make.go -v LinuxArm64
        go run make.go -v Windows
        go run make.go -v Windowsx86
        go run make.go -v DarwinBase

    - name: StoreBinaries
      uses: actions/upload-artifact@v4
      with:
        name: Binaries
        path: output
