# Only trigger when a PR is committed.
name: Linux Build All Arches
on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  build:
    if: github.event.pull_request.merged
    name: Build
    runs-on: ubuntu-16.04
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        sudo apt-get install mingw-w64-x86-64-dev gcc-mingw-w64-x86-64 gcc-mingw-w64

    - name: Use Node.js v12
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: Cache node-modules
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

    - name: npm install gui
      run: |
            cd gui/velociraptor/
            npm install
            npm run build
            cd ../../

    - name: Build All Architectures
      # Uncomment the architectures you want here. NOTE: DarwinBase
      # does not include yara or modules with C compilers needed.
      run: |
        mkdir ./output/
        export PATH=$PATH:~/go/bin/
        go run make.go -v Linux
        go run make.go -v Windows
        go run make.go -v Windowsx86
        go run make.go -v DarwinBase

    - name: StoreBinaries
      uses: actions/upload-artifact@v1
      with:
        name: Binaries.zip
        path: output
